@use "/styles/_mixins" as mixins;

.dialogue {
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 14em;
  color: var(--light-gray);
  margin-bottom: 1.5em;
  font-size: 1em;
  perspective: 0cm;

  .space {
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: url('/spacebanner.webp');
    background-size: 100vw;
    background-attachment: fixed;
    background-position: -16vw, 0;
    mask: url('/titleCardTear.png');
    mask-size: 100%;
    mask-position: center top;
    filter: grayscale(1);
    z-index: -2;
    
    &.gradient {
      @include mixins.articlePageGradientShadow;
      mix-blend-mode: overlay;
    }
  }

  .sketch {
    width: 100%;
    height: 4.3em;
    position: absolute;
    background-image: url("/sketch.webp");
    background-size: 15%;
    background-position: top left;
    mix-blend-mode: overlay;
    opacity: 0.3;
    z-index: 0;
    filter: invert(1);
    mask: linear-gradient(0deg, black 0%, transparent 15%, transparent 85%, black 100%);
  }

  &::before {
    @include mixins.articlePageGradientShadow;
    height: 7.5vw;
    width: 64.6vw;
    position: absolute;
    margin-bottom: -0.2vw;
    z-index: -1;    
    mask: linear-gradient(0deg, black calc(0% + 0.2vw), transparent calc(0% + 0.2vw));
    content: "";
  }

  @media only screen and (max-width: 425px) {
    height: 23vw;
    margin-top: 10vw;
    font-size: 0.7em;
    line-height: 0.65em;
  }
}

.dialogue > img {
  height: 14em;
  image-rendering: pixelated;
  position: absolute;
  object-fit: contain;
  left: 0;
  z-index: 0;

  @media only screen and (max-width: 425px) {
    max-height: 40vw;
    width: 25vw;
  }
}

.dialogueText {
  height: 6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  perspective: 0cm;
  z-index: 1;
}

.dialogueText > p {
  width: 100%;
  height: 6em;
  margin: 0;
  margin-top: calc(1.7em - 1px);
  padding: 0.3em;
  border-top: 1px solid black;
  right: 0;
  font-size: 1em;
  color: var(--primary-text);
  background-color: rgb(29, 29, 34, 0.8);
  overflow-y: auto;
  
  &::-webkit-scrollbar {
    width: 0.7vw;
    background: #1d1d22aa;

    @media only screen and (max-width: 425px) {
      width: 1.5vw;
    }
  }

  &::-webkit-scrollbar-track {
    background: #1d1d22aa;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-left: 0.17vw solid #1d1d22aa;
  }

  @media only screen and (max-width: 425px) {
    margin-top: 5vw;
    font-size: 0.65em;
  }
}

.dialogueText > h3 {
  height: 1.2em;
  margin-top: 0em;
  margin-bottom: -1.2em;
  padding-left: 1em;
  padding-right: 4em;
  color: var(--dark-gray);
  font-size: 1em;
  font-family: "Russo One";
  font-weight: 100;
  background-image: linear-gradient(
    -45deg,
    transparent calc(0% + 2em),
    var(--light-gray) calc(0% + 2em),
  );

  @media only screen and (max-width: 425px) {
    width: 70%;
    height: 4vw;
    font-size: 1em;
    padding-top: 1%;
    padding-right: 25vw;
  }
}