@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.searchResultsCarousel {
  width: 100vw;
  height: calc(100vh - 6.3rem);
  margin-top: 2.15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  perspective: 23.5em;
  overflow: hidden;
  z-index: 2;
  transition:
    opacity 0.8s,
    margin 0.8s;
  transition-timing-function: cubic-bezier(0.88, 0, 0.12, 1);

  .swiper {
    @include mixins.flexCenter();
    width: 45%;
    height: 100%;
    margin-left: 52.5%;
    overflow: visible;

    .slide {
      @include mixins.flexCenter;
      height: fit-content;
      flex-direction: column;
      overflow: visible;
      filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));
    }

    .verticalPagination {
      @include mixins.flexCenter();
      flex-direction: column;
      left: -2em;
      right: unset;

      .swiperBullet {
        @include mixins.flexCenter();
        width: 1em;
        height: 1em;
        font-size: 1em;
        border-left: 0.15rem solid transparent;
        border-right: 0.15rem solid transparent;
        border-radius: 0;
        color: variables.$lightGray;
        background-color: variables.$secondaryText;
        opacity: 1;
        transition:
          border 0.2s,
          color 0.2s,
          background-color 0.2s;

        &.active {
          border-left: variables.$borderThinLightGray;
          border-right: variables.$borderThinLightGray;
          background-color: variables.$darkGray;
          color: variables.$primaryText;
        }
      }
    }
  }

  &.hidden {
    .swiper {
      .verticalPagination {
        opacity: 0;
      }
    }
  }

  @media only screen and (min-aspect-ratio: 20/9) {
    .swiper {
      width: 100%;
      margin-left: 25%;
    }
  }
}
