@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.searchResultsCarousel {
  width: 100vw;
  height: calc(100vh - 6.3rem);
  margin-top: 2.15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  font-size: 1em;
  perspective: 23.5em;
  overflow: hidden;
  z-index: 2;
  transition:
    opacity 0.8s,
    margin 0.8s;

  .swiper {
    @include mixins.flexCenter();
    width: 50%;
    height: 100%;
    margin-left: 45%;
    overflow: visible;

    .slide {
      @include mixins.flexCenter;
      height: fit-content;
      flex-direction: column;
      overflow: visible;
      filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));
    }
  }

  &.hidden {
    margin-left: 2rem;
    opacity: 0;
    z-index: 1;
  }

  @media only screen and (min-aspect-ratio: 20/9) {
    .swiper {
      width: 100%;
      margin-left: 25%;
    }
  }
}
