@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

#commentPanel {
  width: 30%;
  height: calc(100vh - 3.5em);
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.5em;
  top: 1.75em;
  position: sticky;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));

  #noCommentMessage {
    margin: 0;
    padding: 0.5em;
    padding-top: 0;
    font-size: 0.75em;
    color: variables.$lightGray;
    opacity: 0.8;
    cursor: default;
  }

  .comments {
    @include mixins.lightScrollBar;
    width: calc(100% - 0.2em);
    height: inherit;
    border-left: 0.1em solid variables.$lightGray;
    border-right: 0.1em solid variables.$lightGray;
    background-color: variables.$darkGray;
    overflow-y: scroll;
    flex-grow: 1;

    &::-webkit-scrollbar {
      width: 0.2em;
    }

    &::before {
      @include mixins.gridPatternDark;
      width: calc(100% - 0.4em);
      height: 100%;
      position: absolute;
      mask: linear-gradient(
        90deg,
        black 0%,
        transparent 15%,
        transparent 85%,
        black 100%
      );
      content: "";
    }
  }
}
