.App {
  text-align: left;
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  font-size: 30px
}
body {
  overflow-x: hidden;
  font-family: 'Righteous', cursive;
  background-color: rgb(35,35,35);
}
body::-webkit-scrollbar {
  background: rgb(35, 35, 35);
  outline: 4px solid rgb(20, 20, 20);
}
body::-webkit-scrollbar-track {
  background: rgb(35, 35, 35);
  border: 2px solid rgb(20, 20, 20);
}
body::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 20);
}
ul {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: rgb(20, 20, 20);
  text-decoration: none;
}
i {
  font-family: 'Righteous', cursive;
}
@media only screen and (max-device-width: 1362px) {
  body {
    font-size: 12px;
  }
}
@media only screen and (max-device-width: 480px) {
  body {
    font-size: 8px;
  }
}