.App {
  text-align: left;
}

.App-header {
  background-color: rgb(35,35,35);
  min-height: 100vh;
  font-size: 30px
}
body {
  overflow-x: hidden;
  font-family: 'Righteous', cursive;
}
ul {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: rgb(20, 20, 20);
  text-decoration: none;
}
i {
  font-family: 'Righteous', cursive;
}
@media only screen and (max-device-width: 1362px) {
  body {
    font-size: 12px;
  }
}