:root {
  --light-gray: #333333;
  --dark-gray: #161616;
}

.App {
  text-align: left;
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  font-size: 30px
}
body {
  overflow-x: hidden;
  font-family: 'Righteous', cursive;
  background-color: var(--light-gray);
}
body::-webkit-scrollbar {
  background: var(--light-gray);
  outline: 4px solid var(--dark-gray);
}
body::-webkit-scrollbar-track {
  background: var(--light-gray);
  border: 2px solid var(--dark-gray);
}
body::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
}
ul {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: var(--dark-gray);
  text-decoration: none;
}
i {
  font-family: 'Righteous', cursive;
}
@media only screen and (max-device-width: 1362px) {
  body {
    font-size: 12px;
  }
}
@media only screen and (max-device-width: 480px) {
  body {
    font-size: 8px;
  }
}