#about {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--light-gray);
}
#about > #content {
  width: 50%;
  color: var(--dark-gray);
  display: flex;
  align-items: center;
  flex-direction: column;
}
#about > #content > h1 {
  font-weight: 1000;
  font-size: 3em;
  margin: 0;
  text-shadow: 2px 2px 0px black;
  text-align: center;
}
#content > h1 > span {
  font-size: 0.5em;
  margin: 0;
}
#about > .left {
  width: 5%;
  border-right: 350px solid transparent;
  border-bottom: 350px solid var(--light-gray);
  margin-right: -300px;
  z-index: 10;
}
#about > .right {
  width: 5%;
  border-left: 350px solid transparent;
  border-bottom: 350px solid var(--light-gray);
  margin-left: -300px;
  z-index: 10;
}
#about > img {
  height: 350px;
  padding-right: 150px;
  padding-left: 150px;
  background-image: url(../images/cubes.png);
  background-color: rgb(20,20,20);
  animation-name: backgroundOffset;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes backgroundOffset {
  0%{background-position-x: 0px; background-position-y: 0px;}
  100%{background-position-x: 67px; background-position-y: 100px;}
}

@media only screen and (max-device-width: 853px) {
  #about {
    font-size: 18px;
  }
  #about > #content {
    margin-top: -150px;
    z-index: 20;
  }
  #about > img {
    height: 150px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
  }
}

@media only screen and (max-device-width: 480px) {
  #about {
    font-size: 18px;
  }
  #about > #content {
    margin-top: -200px;
    z-index: 20;
  }
  #about > img {
    height: 100px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 20px;
  }
}