.audioPlayer {
  width: 90%;
  background-color: #292929;
  margin: 5px;
  color: #141414;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(4px 4px 0px black)
}
.audioPlayer > span {
  font-size: 0.5em;
}
.audioPlayer > input {
  width: 90%;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  background: #141414;
}
input[type='range']::-webkit-slider-thumb {
  width: 15px;
  -webkit-appearance: none;
  height: 15px;
  cursor: ew-resize;
  background: #292929;
  border: 1px solid #141414
}
input[type='range'] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #141414;
  border-radius: 5px;
}