.carousel {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(3px 3px 0px black);
}

.carousel > main {
  background-color: var(--dark-gray);
  width: 100%;
  height: 30vw;
}

.carouselOptions {
  display: flex;
  justify-content: center;
}
.carouselOptions > input {
  -webkit-appearance: none;
	background-color: var(--light-gray);
	border: 5px solid var(--dark-gray);
  padding: 20px;
	border-radius: 100%;
}

.carouselOptions > input:checked {
  -webkit-appearance: none;
	background-color: var(--dark-gray);
	border: 5px solid var(--dark-gray);
  padding: 20px;
	border-radius: 100%;
}

.carouselItem {
  position: absolute;
  display: flex;
  width: 70vw;
}

.carouselItem.hidden {
  display: none;
}

.carouselItem > img{
  width: 70%;
  filter: drop-shadow(5px 5px 0px black);
}

.carouselItem > aside{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselItem > aside > h3{
  background-color: var(--light-gray);
  color: var(--dark-gray);
  padding: 10px;
  font-size: 1.8vw;
  filter: drop-shadow(2px 2px 0px black);
  transform: rotate(7deg);
}

@media only screen and (max-device-width: 480px) {
  .carousel > main {
    height: 40vw;
  }  
}