.infoBar {
  height: 75px;
  width: 100%;
  background-color: rgb(35,35,35);
  margin-bottom: 35px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.infoBar > .infoUnderline {
  border-top: 75px solid rgb(20,20,20);
  border-right: 75px solid transparent;
  width: 84.9%;
  filter: drop-shadow(0px 5px 0px black);
}
.infoBar > span {
  position: absolute;
  margin-bottom: 1%;
  color: rgb(35,35,35);
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: 2%;
  text-align: left;
}

@media only screen and (max-width: 480px) {
  .infoBar {
    height: 10%;
  }
  .infoBar > .infoUnderline {
    border-width: 25px;
  }
  .infoBar > span {
    font-size: 0.5em;
    width: 100%;
    justify-content: flex-start;
  }
}