.listItem {
  display: flex;
  color: rgb(35, 35, 35);
  width: 80%;
  font-size: 0.8em;
  margin-bottom: 10px;
}
.listItem > img {
  height: 80px;
  margin-right: 10px;
}
.listItem:hover {
  text-shadow: 2px 2px 0px black;
}