.navBar {
  width: 100%;
  height: 200px;
  background-color: rgb(20, 20, 20);
  filter: drop-shadow(5px 5px 0px black);
  z-index: 100;
  position: sticky;
  top: -185px;
}
.navBar > div {
  width: 95%;
  border-top: 60px solid rgb(35, 35, 35);
  border-right: 60px solid transparent;
  margin-top: -20px;
  position: absolute;
}
.navBar > img {
  filter: drop-shadow(5px 5px 0px black);
}
.navOptions > * {
  position: absolute;
  margin-top: -45px;
}
.navOptions > input {
  width: 25%;
  background-color: rgb(20, 20, 20);
  color: rgb(35, 35, 35);
  height: 30px;
  font-size: 2em;
  margin-left: 61%;
}
.navOptions > button {
  background-color: rgb(20, 20, 20);
  height: 35px;
  outline: none;
  border: none;
  color: rgb(35, 35, 35);
  margin-left: 86.5%;
}
.navOptions > .option {
  display: flex;
}
.navOptions > .option > div {
  color: rgb(20, 20, 20);
  font-size: 1.7em;
  display: flex;
  margin-left: 50px;
}
input:focus {
  outline: none;
}
select {
  background-color: rgb(35, 35, 35);
  color: rgb(20, 20, 20);
  font-size: 1em;
  outline: none;
  border: none;
}