.navBar {
  width: 100%;
  height: 200px;
  background-color: rgb(20, 20, 20);
  filter: drop-shadow(5px 5px 0px black);
  z-index: 100;
  position: sticky;
  top: -185px;
}
.navBar > div {
  width: 95%;
  border-top: 60px solid #292929;
  border-right: 60px solid transparent;
  margin-top: -20px;
  position: absolute;
}
.navBar > a > img {
  filter: drop-shadow(5px 5px 0px black);
}
.navOptions {
  display: flex;
}
.navOptions > * {
  margin-top: -45px;
}
.navOptions > input {
  width: 25%;
  background-color: rgb(20, 20, 20);
  color: #292929;
  height: 30px;
  font-size: 2em;
  margin-left: 61%;
}
.navOptions > button {
  background-color: rgb(20, 20, 20);
  height: 35px;
  outline: none;
  border: none;
  color: #292929;
  margin-left: 86.5%;
}
.navOptions > .option {
  display: flex;
}
.option:hover {
  text-shadow: 2px 2px 0px black;
}
.navOptions > .option > div {
  color: rgb(20, 20, 20);
  font-size: 1.7em;
  display: flex;
  margin-left: 50px;
}
input:focus {
  outline: none;
}
select {
  background-color: #292929;
  color: rgb(20, 20, 20);
  font-size: 1em;
  outline: none;
  border: none;
}
@media (max-device-width: 1362px) {
  .navBar {
    height: 180px;
  }
  .navBar > div {
    width: 94%;
  }
}
@media (max-device-width: 853px) {
  .navBar {
    height: 100px;
    width: 100%;
    top: -100px;
  }
  .navBar > a > img {
    height: 100px;
    filter: drop-shadow(3px 3px 0px black);
  }
  .navBar > div {
    width: 94%;
    border-width: 45px;
    margin-top: -3px;
  }
  .navOptions > .option {
    margin-top: -35px;
    margin-left: -5px;
  }
}
@media (max-device-width: 480px) {
  .navBar {
    height: 60px;
    width: 100%;
    top: -50px;
  }
  .navBar > a > img {
    height: 60px;
  }
  .navBar > div {
    width: 94%;
    border-width: 30px;
    margin-top: -3px;
  }
  .navOptions > .option {
    margin-top: -25px;
    margin-left: -5px;
  }
}