.paragraph {
  color: #292929;
  width: 80%;
  margin-left: 10%;
}
.paragraph > p > a {
  color: rgb(45, 29, 83);
}
.paragraph:hover {
  text-shadow: 4px 4px 0px black;
}

@media only screen and (max-width: 853px) {
  .paragraph {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 480px) {
  .paragraph {
    font-size: 0.5em;
  }
}