.post {
  display: flex;
  filter: drop-shadow(10px 5px 0px black);
  margin-left: 30px;
  margin-top: 30px;
  animation-name: slideIn;
  animation-duration: 2s;
}
.post > .left {
  width: 20%;
  border-top: 200px solid rgb(20, 20, 20);
  border-left: 200px solid transparent;
}
.post > .right {
  width: 20%;
  border-bottom: 200px solid rgb(20, 20, 20);
  border-right: 200px solid transparent;
  overflow: hidden;
  height: 0;
}
.left > .dropDown {
  height: 500px;
  width: 250%;
  background-color: rgb(35, 35, 35);
  border-left: 10px solid rgb(20, 20, 20);
  border-right: 10px solid rgb(20, 20, 20);
  color: rgb(20, 20, 20);
  font-weight: 1000;
  overflow-y: scroll;
}
.closed {
  display: none;
}
.dropDown::-webkit-scrollbar {
  background-color: rgb(35, 35, 35);
  outline: 4px solid rgb(20, 20, 20);
}
.dropDown::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
}
.left > .optionsBar {
  border-top: 3px solid rgb(35, 35, 35);
  width: 255%;
  height: 50px;
  background-color: rgb(20, 20, 20);
  color: rgb(35, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.optionsBar:hover {
  text-shadow: 2px 2px 0px black;
}
.post > .left > h1 {
  position: absolute;
  z-index: 20;
  margin-top: -150px;
  color:rgb(35, 35, 35);
  font-weight: 700;
  text-shadow: 0px 0px 5px black;
}
.post > .right > img {
  position: absolute;
  z-index: 20;
  height: 200px;
  filter: drop-shadow(5px 5px 0px black);
}
@keyframes slideIn {
  0%{margin-left: 0px; opacity: 0; };
  100%{margin-left: 30px; opacity: 100;};
}