.post {
  display: flex;
  filter: drop-shadow(10px 5px 0px black);
  margin-left: 30px;
  margin-top: 30px;
  animation-name: slideIn;
  animation-duration: 2s;
}
.post > .left {
  width: 20%;
  border-top: 200px solid var(--dark-gray);
  border-left: 200px solid transparent;
}
.post > .right {
  width: 20%;
  border-bottom: 200px solid var(--dark-gray);
  border-right: 200px solid transparent;
  overflow: hidden;
  height: 0;
}
.left > .dropDown {
  height: 500px;
  width: 250%;
  background-color: var(--light-gray);
  border-left: 10px solid var(--dark-gray);
  border-right: 10px solid var(--dark-gray);
  color: var(--dark-gray);
  font-weight: 1000;
  overflow-y: scroll;
}
.shadow > * {
  border-top-color: black !important;
  border-bottom-color: black !important;
  color: black !important;
  opacity: 25%;
}
.shadow > * > *{
  color: black !important;
  background-color: black !important;
  opacity: 75%;
}
.closed {
  display: none;
}
.dropDown::-webkit-scrollbar {
  background: var(--light-gray);
  outline: 4px solid var(--dark-gray);
}
.dropDown::-webkit-scrollbar-track {
  background: var(--light-gray);
}
.dropDown::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
}
.left > .optionsBar {
  border-top: 3px solid var(--light-gray);
  width: 255%;
  height: 50px;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.optionsBar:hover {
  text-shadow: 2px 2px 0px black;
}
.post > .left > h1 {
  position: absolute;
  z-index: 20;
  margin-top: -200px;
  color:var(--light-gray);
  font-weight: 700;
  text-shadow: 0px 0px 5px black;
}
.left > h1 > u {
  font-size: 0.5em;
}
.post > .right > img {
  position: absolute;
  z-index: 20;
  height: 200px;
  filter: drop-shadow(5px 5px 0px black);
}
@keyframes slideIn {
  0%{margin-left: 0px; opacity: 0; };
  100%{margin-left: 30px; opacity: 100;};
}

@media only screen and (max-device-width: 853px) {
  .post > .left, .post > .right {
    border-width: 200px;
  }
  .left > .optionsBar {
    width: 340%;
  }
  .left > .dropDown  {
    width: 328%;
    font-size: 20px;
  }
}

@media only screen and (max-device-width: 480px) {
  .post {
    margin-left: auto;
    margin-right: auto;
  }
  .post > .left, .post > .right {
    border-width: 100px;
    width: 20vw;
  }
  .left > .optionsBar {
    width: 320%;
  }
  .left > .dropDown  {
    width: 300%;
    font-size: 20px;
  }
  .post > .left > h1 {
    margin-top: -90px;
    font-size: 20px;
  }
}