.quote {
  color: var(--light-gray);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.quote > div {
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}


@media only screen and (max-width: 480px) {
  .quote {
    font-size: 0.4em;
  }
}