#reviewPage > div >.articleContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(20,20,20);
  width: 65%;
  filter: drop-shadow(8px 5px 0px black);
  margin-left: 1%;
}
#reviewPage > div {
  display: flex;
}
#likePanel {
  position: absolute;
  height: 50px;
  background-color: rgb(20,20,20);
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#commentPanel {
  position: sticky;
  width: 30%;
  height: 75vh;
  background-color: rgb(20,20,20);
  margin-left: auto;
  margin-right: auto;
  top: 170px;
  margin-top: 80px;
  filter: drop-shadow(8px 8px 0px black);
}
#commentPanel > textarea {
  width: 70%;
  height: 130px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  font-size: 0.75em;
  margin-left: 5%;
  resize: none;
}
#commentLoading {
  width: 70%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#commentLoading > img {
  width: 50%;
}
#commentPanel > button {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(35, 35, 35);
  font-size: 1em;
}
#commentPanel > button:hover {
  cursor: pointer;
  text-shadow: 2px 2px 0px black;
}
#commentPanel > div {
  overflow-y: scroll;
  height: 70%;
  margin-top: 10%;
}
#commentPanel > div::-webkit-scrollbar {
  background: rgb(35, 35, 35);
  outline: 4px solid rgb(20, 20, 20);
}
#commentPanel > div::-webkit-scrollbar-track {
  background: rgb(35, 35, 35);
}
#commentPanel > div::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 20);
  border: 2px solid rgb(35, 35, 35);
}
#likePanel > button {
  color: rgb(35, 35, 35);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
}
#likePanel > #likeBar {
  width: 80%;
  height: 20%;
  background-color: rgb(35, 35, 35);
  margin-top: auto;
  margin-bottom: auto;
}
#loadingArticle {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#loadingArticle > h3 {
  color:rgb(20, 20, 20);
  text-shadow: 2px 2px 0px black;
}
#loadingArticle > img {
  width: 50%;
  filter: drop-shadow(8px 8px 0px black);
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}

@keyframes loading {
  0%{width: 40%; margin: 0%;}
  50%{width: 50%; margin: -2.8%;}
  100%{width: 40%; margin: 0%;}
}

@media only screen and (max-width: 480px) {
  #commentPanel {
    display: none;
  }
  #reviewPage > div >.articleContainer {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
  }
}