.underline {
  border-bottom: 0.2vw solid var(--light-gray);
  border-left: 2.5vw solid transparent;
  border-right: 2.5vw solid transparent;
  margin-top: 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 0.15vw black);

  @media only screen and (max-width: 480px) {
    border-left-width: 60px;
    border-right-width: 60px;
    border-bottom-width: 2px;
    margin-top: -10px;
    margin-bottom: -10px;
    // filter: drop-shadow(2px 2px 0px black);
  }
}
