
#commentArea, #commentAreaView {
  width: calc(99% - 10px);
  height: 100px !important;
  padding: 5px;
  background: none;
  border: none;
  outline: none;
  /* border-top: 2px solid var(--light-gray);
  border-bottom: 2px solid var(--light-gray); */
  margin-top: 2px;
  margin-bottom: 2px;
  color: var(--light-gray);
  font-size: 0.6em;
  margin-top: 0;
  resize: none;
  display: flex;
  flex-direction: column;
  animation-name: commentAreaFadeIn;
  animation-timing-function: linear;
  animation-duration: 1.875s;
}

#commentArea > div > p, #commentAreaView > div > p {
  margin: 0px;
  margin-left: 5px;
}

#commentArea > div > blockquote, #commentAreaView > div > blockquote {
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  border-left: 2px solid var(--light-gray);
  background-color: rgba(0,0,0,0.5);
  opacity: 0.7;
}

#commentLoading {
  width: 70%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#commentLoading > img {
  width: 50%;
}

#commentStylingBar {
  width: 100%;
  height: 30px;
  margin: 0;
  /* margin-top: -10px; */
  overflow: hidden;
  display: flex;
  background-color: var(--light-gray);
  border-right: 4% solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  border-top: 1px solid var(--light-gray);
  animation-name: commentBarsFadeIn;
  animation-timing-function: linear;
  animation-duration: 1.875s;
}

#commentStylingBar > button {
  min-width: 32px;
  height: 32px;
  border: none;
  outline: none;
  border-right: 2px solid var(--dark-gray);
  font-size: 0.8em;
  color: var(--dark-gray);
  /* border: 2px solid var(--dark-gray); */
  background-color: var(--light-gray);
  cursor: pointer;
  transform: skewX(10deg);
}

#commentStylingBar > #styleFiller {
  cursor: unset;
}

#commentViewBar {
  width: 100%;
  height: 30px;
  margin: 0;
  overflow: hidden;
  display: flex;
  border-bottom: 1px solid var(--light-gray);
  border-top: 1px solid var(--light-gray);
  animation-name: commentBarsFadeIn;
  animation-timing-function: linear;
  animation-duration: 1.875s;
  margin-bottom: 4px;
}

#commentViewBar > button {
  width: 50%;
  height: 32px;
  border: none;
  outline: none;
  margin-right: 2px;
  font-size: 0.8em;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  cursor: pointer;
  transform: skewX(10deg);
}

#postComment {
  width: 15%;
  margin-left: auto;
  color: var(--light-gray) !important;
  background-color: var(--dark-gray) !important;
  border-right: 2px solid var(--light-gray) !important;
  transform: none !important;
}

#commentViewBar > .selected {
  color: var(--dark-gray);
  background-color: var(--light-gray);
}

#animTextDropdown {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  min-height: 32px;
  font-size: 0.8em;
  color: var(--dark-gray);
  background-color: var(--light-gray);
}

#animTextDropdown > p {
  margin: auto;
  text-align: center;
}

#animTextDropdown > div > button {
  display: none;
}

#animTextDropdown:hover > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: fit-content;
  z-index: 10;
  margin-top: 25px;
}

#animTextDropdown:hover > div > button {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 32px;
  font-size: 0.8em;
  border: none;
  border-bottom: 1px solid var(--dark-gray);
  outline: none;
  color: var(--dark-gray);
  background-color: var(--light-gray);
}

@media only screen and (max-width: 425px) {
  #commentStylingBar, #commentViewBar {
    height: 20px;
  }

  #commentStylingBar > #styleFiller {
    cursor: unset;
    width: 10%;
  }
  
  #commentStylingBar > button {
    min-width: 20px;
    height: 20px;
    margin-right: 1px;
    font-size: 0.6em;
  }
  #commentViewBar > button {
    width: 50%;
    height: 20px;
    margin-right: 1px;
    font-size: 0.6em;
  }
  #animTextDropdown {
    width: 100px;
    margin-right: 1px;
    min-height: 20px;
    height: 20px;
    font-size: 0.6em;
  }

  #commentArea, #commentAreaView {
    font-size: 0.45em;
  }

  #animTextDropdown:hover > div {
    width: 100px;
  }
}

@keyframes commentBarsFadeIn {
  0%{height: 0px; margin-bottom: 30px; border-bottom: 0px solid var(--light-gray); border-top: 0px solid var(--light-gray);}
  80%{height: 0px; margin-bottom: 30px; border-bottom: 0px solid var(--light-gray);  border-top: 0px solid var(--light-gray);}
  100%{height: 30px; margin-bottom: 0px; border-bottom: 1px solid var(--light-gray);  border-top: 1px solid var(--light-gray);}
}
 

@keyframes commentAreaFadeIn {
  0%{opacity: 0%}
  80%{opacity: 0%}
  100%{opacity: 100%}
}