@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.codeBlock {
  width: 100%;
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  font-size: 0.55em;
  tab-size: 2;
  perspective: 0cm;

  &::before {
    @include mixins.articlePageGradientShadow;
    width: 100%;
    height: calc(100% + 0.4em);
    position: absolute;
    margin-top: -0.2em;
    z-index: -1;
    content: "";
  }

  header {
    @include mixins.russoFont;
    height: 1.3em;
    background-color: variables.$darkGray;
    color: variables.$primaryText;
    display: flex;
    align-items: center;
    font-size: 1.7em;
    margin-bottom: 0;
    border-bottom: variables.$borderThinBlack;

    button {
      @include mixins.buttonInteractionScaling;
      @include mixins.flexCenter;
      height: 70%;
      margin-right: 0.2em;
      border-radius: 0.1em;
      color: variables.$primaryText;
      transition: transform 0.2s;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  pre {
    @include mixins.noScrollBar;
    width: 100%;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1em;
    line-height: 1.3em;
    color: variables.$codeTextColour;
    background-color: variables.$codeBackgroundColour;
    overflow-x: scroll;
  }
}