@use "/styles/_mixins" as mixins;

.codeBlock {
  width: 100%;
  font-size: 0.55em;
  tab-size: 2;
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  perspective: 0cm;

  &::before {
    @include mixins.articlePageGradientShadow;
    width: 100%;
    height: calc(100% + 0.4em);
    margin-top: -0.2em;
    content: "";
    position: absolute;
    z-index: -1;
  }

  h3 {
    background-color: var(--dark-gray);
    color: var(--primary-text);
    display: flex;
    align-items: center;
    font-size: 1.7em;
    font-family: "Russo One";
    font-weight: 100;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0;
    border-bottom: 0.1px solid black;

    button {
      background-color: var(--primary-text);
      border: none;
      color: var(--dark-gray);
      margin: 0.2em;
      margin-right: 0.8em;
      border-radius: 3px;
      transition: filter 0.25s;

      &:hover {
        filter: drop-shadow(0 0 0.15em black);
        cursor: pointer;
      }
    }
  }

  pre {
    background-color: rgba(26, 26, 26, 1) !important;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
    font-size: 1em !important;
    overflow-x: scroll;

    code {
      color: #9cd7f8;
      font-size: 1em !important;

      span {
        font-size: 1em !important;
        margin: 0;
        line-height: 1.3em !important;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
