.animTextInput {
  font-size: 0.8em;
  width: 80%;
  margin: 1vw;
  background-color: var(--dark-gray);
}

.animTextInput > span {
  color: var(--primary-text);
  margin-left: 1vw;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5vw;
  margin-left: auto;
}

.inputContainer > input {
  height: 1.5vw;
  width: 50%;
  color: var(--primary-text);
  font-size: 0.8em;
  margin-right: 1vw;
  background-color: transparent;
  border: none;
  outline: 2px solid var(--light-gray);
}

.inputContainer > span {
  color: var(--primary-text);
  margin-left: 1vw;
}

.inputContainer > .checkbox {
  -webkit-appearance: none;
  width: 1vw;
  height: 1vw;
  background-color: var(--dark-gray);
  border: 0.2vw solid var(--dark-gray);
  border-radius: 100%;
}

.inputContainer > .checkbox:checked {
  -webkit-appearance: none;
  background-color: var(--light-gray);
  border: 0.2vw solid var(--dark-gray);
}
