#loadingOverlay {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000 !important;
  top: 0;
  left: 0;
  mask-image: url("/Ninja placeholder.png");
  mask-size: 400vw;
  mask-repeat: no-repeat;
  mask-position: center;
  animation-name: openOverlay;
  animation-duration: 0.5s;
  animation-timing-function: linear;

  @media only screen and (max-width: 425px) {
    mask-size: 650vh;
  }
}

#loadingOverlay.shrink {
  animation-name: closeOverlay;
  mask-size: 0vw;
}

#loadingOverlay > img {
  width: 45%;

  @media only screen and (max-width: 425px) {
    width: 100%;
  }
}

#loadingOverlay > p {
  font-size: 30px;
  max-width: 70%;
  color: var(--light-gray);
  position: absolute;
  margin-top: 30%;

  @media only screen and (max-width: 425px) {
    font-size: 15px;
    margin-top: 55%;
  }
}

@keyframes openOverlay {
  0% {
    mask-size: 0vw;
  }
  100% {
    mask-size: 400vw;
  }
}

@keyframes closeOverlay {
  0% {
    mask-size: 400vw;
  }
  100% {
    mask-size: 0vw;
  }
}

@media only screen and (max-width: 425px) {
  @keyframes openOverlay {
    0% {
      mask-size: 0vh;
    }
    100% {
      mask-size: 650vh;
    }
  }

  @keyframes closeOverlay {
    0% {
      mask-size: 650vh;
    }
    100% {
      mask-size: 0vh;
    }
  }
}
