@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.quote {
  width: 100%;
  height: 6.5em;
  padding-top: 3.5em;
  top: 0;
  font-size: 0.6em;
  color: variables.$secondaryText;
  perspective: 10cm;

  &.mergeAbove {
    padding-top: 1em;
  }

  * {
    &::selection {
      color: variables.$lightGray;
      background-color: var(--article-colour);
    }
  }

  .quotationMark {
    @include mixins.russoFont;
    height: 0.65em;
    margin-right: 0.3em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 3.5em;
    text-align: center;
    color: variables.$lightGray;
    transform: rotateZ(10deg) rotateZ(-5deg) skewX(20deg) scale(1.5);
    filter: brightness(0.6);
    cursor: default;

    &::before {
      content: '"';
    }

    &::selection {
      color: variables.$lightGray;
      background-color: transparent;
    }
  }

  .quoteContainer {
    width: 85%;
    height: 3em;
    padding-left: 1em;
    left: 0;
    border-top: variables.$borderThinBlack;
    border-bottom: variables.$borderThinBlack;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: variables.$lightGray;
    transform: rotateY(-5deg) rotateZ(1.75deg) translateY(-3em);
    transform-origin: left center;
    mask: linear-gradient(
      -45deg,
      transparent 16%,
      black 16%,
      black 21%,
      variables.$gradientFade 21%,
      variables.$gradientFade 23.7%,
      black 23.7%,
      black 27.3%,
      variables.$gradientFade 27.3%,
      variables.$gradientFade 30%,
      black 30%
    );

    &.glow {
      @include mixins.articlePageGradientShadow;
      margin-top: 0.5em;
      padding-right: 0.3em;
      border: none;
      z-index: -2;
      mask: linear-gradient(-45deg, transparent 16%, black 16%);
    }

    &::before {
      @include mixins.gridPatternDark;
      font-size: 1.5em;
      width: 100%;
      height: 100%;
      margin-left: -1em;
      position: absolute;
      mask: linear-gradient(-45deg, transparent 85%, black 100%);
      content: "";
    }

    p {
      @include mixins.darkScollBar;
      width: 62.5%;
      height: 1.25em;
      margin-top: 0.875em;
      display: flex;
      align-items: auto;
      justify-content: flex-start;
      overflow-y: scroll;
      z-index: 1;
      direction: rtl;

      span {
        direction: ltr;
        width: fit-content;
        margin-right: auto;
        padding-left: 0.5em;
      }
    }
  }

  .source {
    @include mixins.russoFont;
    width: fit-content;
    height: fit-content;
    padding-left: 1em;
    padding-right: 3em;
    padding-top: 3em;
    margin: 0;
    margin-top: 0.5em;
    left: 0;
    display: flex;
    align-items: center;
    background-color: variables.$darkGray;
    mask: linear-gradient(-45deg, transparent 2em, variables.$darkGray 2em);
    font-size: 0.9em;
    color: variables.$primaryText;
    z-index: -2;
    border-top: variables.$borderThinBlack;
    border-bottom: variables.$borderThinBlack;
    position: absolute;
    transform: rotateY(-5deg) rotateZ(1.75deg) translateY(-3.5em);
    transform-origin: left center;

    &.glow {
      @include mixins.articlePageGradientShadow;
      margin-top: 1em;
      padding-left: 1.25em;
      border: none;
      z-index: -3;
    }

    .quotationMark {
      transform: rotateZ(0deg) skewX(-20deg) translateX(0.3em)
        translateY(-0.1em) scale(1.5);
      color: variables.$darkGray;
    }

    &::selection {
      color: variables.$darkGray;
      background-color: var(--article-colour);
    }
  }

  .space {
    @include mixins.articlePageSpaceCutout;
    height: 100%;
    top: 0;
    mask-position: center bottom;
    mask-size: cover;
    z-index: -4;
  }
}
