@use "/styles/_mixins" as mixins;
$borderThickness: 0.4vw;
$mobileBorderThickness: 0.6vw;
$gradientColour: rgba(45, 45, 45, 1);

.quote {
  color: var(--secondary-text);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.18vw;
  margin-bottom: -1.4vw;
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  perspective: 10cm;
  overflow: hidden;
  filter: drop-shadow(0px 0.3vw 0.15vw rgba(0, 0, 0, 0.5));

  * {
    &::selection {
      color: var(--light-gray);
      background-color: var(--article-colour);
    }
  }

  @media only screen and (max-width: 425px) {
    width: 95%;
    font-size: 0.5em;
  }
}

.quote > div {
  width: calc(100% + 2.5vw);
  padding-left: 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -1.2vw;
  height: 3.6em;
  background-image: linear-gradient(-45deg, transparent calc(0% + 5.5vw), var(--light-gray) calc(0% + 5.5vw));

  &::before {
    @include mixins.articlePageGradientShadow;
    position: absolute;
    width: calc(100% + 1vw);
    height: calc(3.6em + 0.2vw);
    margin-left: -1vw;
    mask: linear-gradient(-45deg, transparent calc(0% + 3.7vw), black calc(0% + 3.7vw));
    content: "";
    z-index: -1;
  }

  .sketch {
    margin-left: -1vw;
    width: 100%;
    height: 3.6em;
    position: absolute;
    background-image: url("/sketch.webp");
    background-size: 12%;
    mix-blend-mode: darken;
    opacity: 0.25;
    filter: contrast(2) brightness(2);
    mask: linear-gradient(-45deg, transparent calc(0% + 3vw), black calc(0% + 3vw), transparent 30%);
  }

  p {
    width: 80%;
    padding-right: 1vw;
    max-height: 2.7vw;
    overflow-y: scroll;
    z-index: 1;

    &::-webkit-scrollbar {
      width: 0.5vw;
      background: var(--dark-gray);

      @media only screen and (max-width: 425px) {
        width: 1.5vw;
      }
    }

    &::-webkit-scrollbar-track {
      background: var(--dark-gray);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--light-gray);
      border: 0.1vw solid var(--dark-gray);
    }
  }

  @media only screen and (max-width: 425px) {
    margin-bottom: -10px;
    border-width: $mobileBorderThickness;
  }
}

.quote > div > h2,
.quote > h3 > h2 {
  color: var(--light-gray);
  font-size: 3.5em;
  width: 2vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 2vw;
  margin: 0vw;
  margin-right: 1vw;
  font-family: "Russo One";
  font-weight: 100;
  transform: rotateZ(10deg) rotateZ(-5deg) skewX(20deg) translateX(-0.1em) translateY(0.15em) scale(1.75);
  cursor: default;
  filter: brightness(0.7);

  &::selection {
    color: var(--light-gray);
    background-color: transparent;
  }

  @media only screen and (max-width: 425px) {
    margin: 1vw;
  }
}

.quote > h3 {
  padding-right: 4vw;
  padding-left: 3.5vw;
  padding-top: 4.1vw;
  margin-top: -2.6vw;
  margin-bottom: 1vw;
  margin-left: auto;
  margin-right: -3vw;
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--dark-gray);
  mask: linear-gradient(45deg, transparent 10%, var(--dark-gray) 10%);
  font-family: "Russo One";
  font-size: 0.95em;
  font-weight: 100;
  color: var(--light-gray);
  z-index: -2;

  h2 {
    transform: rotateZ(-10deg) rotateZ(5deg) skewX(-20deg) translateX(0.3em) translateY(-0.35em) scale(1.75);
  }

  &::selection {
    color: var(--dark-gray);
    background-color: var(--article-colour);
  }

  @media only screen and (max-width: 425px) {
    font-size: 0.85em;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
