@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.carousel {
  width: 100vw;
  height: calc(100vh - 10.3rem);
  margin-top: 5.15rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1em;
  perspective: 23.5em;
  transition: opacity 0.2s;

  .swiper {
    width: 125%;
    height: 100%;
    margin-left: -12.5%;
    justify-content: flex-end;
    overflow: visible;

    .slide {
      @include mixins.flexCenter;
      height: 100%;
      flex-direction: column;
      justify-content: flex-end;
      filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));
    }
  }

  &.hidden {
    opacity: 0;
  }
}
