@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.carousel {
  width: 100vw;
  height: calc(100vh - 10.3rem);
  margin-top: 2.15rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1em;
  perspective: 23.5em;
  transition: opacity 0.2s;

  .swiper {
    width: 125%;
    height: fit-content;
    margin-left: -12.5%;
    overflow: visible;

    .slide {
      @include mixins.flexCenter;
      height: fit-content;
      flex-direction: column;
      filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));
    }
  }

  &.hidden {
    opacity: 0;
  }
}
