$gradientColour: rgba(0, 0, 0, 0.3725);

.navBar {
  width: 100vw;
  height: 1.75em;
  background-color: rgb(10, 10, 10);
  filter: drop-shadow(0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.5));
  z-index: 100;
  position: sticky;
  top: 0;
  font-size: 1.4vw;
  background-image: url("/spacebanner.webp");
  background-size: cover;
  background-position: 0% -300%;
  border-bottom: 1px solid black;
  animation: spaceMovement 10s infinite linear;

  .spaceOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/spacebannerBWOverlay.webp");
    background-color: var(--article-colour2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 0% -300%;
    mask: url("/spacebannerBWOverlay.webp");
    mask-mode: alpha;
    mask-size: cover;
    mask-position: 0% -300%;
    z-index: -3;
    mix-blend-mode: lighten;
    opacity: 0.5;
    display: none;
    animation: spaceMovement 10s infinite linear;
  }

  .sketch {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/sketch.webp");
    background-size: 7.5%;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: -2;
    filter: invert(1);
    mask: linear-gradient(-45deg, transparent 70%, black 85%);
    animation: sketchMovement 20s infinite linear;

    @media (max-device-width: 425px) {
      height: 6.4em;
      background-size: 35%;
      mask: linear-gradient(45deg, black 0%, transparent 20%, transparent 80%, black 100%);
    }
  }

  a {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 0 0.2vw rgba(0, 0, 0, 0.7));

    img {
      height: 15vh;
      margin-top: -1vh;
      margin-bottom: 1vh;

      @media (max-device-width: 425px) {
        height: 6.4em;
        margin-top: -0.1em;
        margin-bottom: 0.1em;
      }
    }

    .logoOverlay {
      height: 15vh;
      width: 100vw;
      margin-top: -1vh;
      margin-bottom: 1vh;
      background-image: url("/bannerBW.webp");
      background-color: var(--article-colour);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      mask: url("/bannerBW.webp");
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      filter: brightness(0.5);

      @media (max-device-width: 425px) {
        height: 6.4em;
        margin-top: -0.1em;
        margin-bottom: 0.1em;
      }
    }
  }

  .navOptions {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      -45deg,
      transparent 81%,
      var(--light-gray) 81%,
      var(--light-gray) 82%,
      $gradientColour 82%,
      $gradientColour 83%,
      var(--light-gray) 83%,
      var(--light-gray) 84%,
      $gradientColour 84%,
      $gradientColour 85%,
      var(--light-gray) 85%
    );
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    filter: drop-shadow(0vw -1px 0vw black);

    button {
      height: 100%;
      margin-left: 0.5%;
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--dark-gray);
      cursor: pointer;
      transition: transform 0.2s;

      svg {
        height: 100%;
        font-size: 3em;
      }

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.9);
      }
    }

    @media (max-device-width: 425px) {
      margin-left: 0;
      width: 100vw;
      border: none;
      height: 1.35em;
      background-color: var(--light-gray);
    }
  }

  @media (max-device-width: 425px) {
    height: 6.4em;
    font-size: 10pt;
    top: -6.3em;
    background-position: 50% -45em;
    background-size: 200%;
    filter: drop-shadow(0vw 0.3em 0.3em black);
  }
}

@keyframes sketchMovement {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 236px 235px;
  }
}

@keyframes spaceMovement {
  0% {
    background-position: 0vw -300%;
  }
  100% {
    background-position: 100vw -300%;
  }
}
