@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;
$gradientColour: rgba(0, 0, 0, 0.3725);

.navBar {
  width: 100vw;
  height: 2rem;
  filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));
  z-index: 100;
  position: fixed;
  top: 0;
  font-size: 1.4em;
  background-size: cover;
  background-position: 0% 0%;
  transition:
    height 0.3s ease 0.3s,
    backdrop-filter 0.3s ease 0.3s;

  .space {
    width: 0%;
    height: 100%;
    position: absolute;
    background-image: url("/spacebanner.webp");
    background-size: cover;
    mask: linear-gradient(
      -67.25deg,
      transparent calc(90% - 0em),
      black calc(92% - 0em)
    );
    opacity: 1;
  }

  .sketch {
    width: 0%;
    height: 100%;
    position: absolute;
    background-image: url("/sketch.webp");
    background-size: 7.5%;
    mix-blend-mode: overlay;
    opacity: 0.25;
    z-index: -3;
    filter: invert(1);
    mask: linear-gradient(
      -67.25deg,
      transparent calc(90% - 0.5em),
      black calc(95% - 0.5em)
    );
    animation: sketchMovement 20s infinite linear;
    transition: background-size 0.3s ease 0.3s;
  }

  a {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 0 0.2vw rgba(0, 0, 0, 0.7));

    img {
      height: 15vh;
      margin-top: -1vh;
      margin-bottom: 1vh;
    }

    .logoOverlay {
      height: 15vh;
      width: 100vw;
      margin-top: -1vh;
      margin-bottom: 1vh;
      background-image: url("/bannerBW.webp");
      background-color: var(--article-colour);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      mask: url("/bannerBW.webp");
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      filter: brightness(0.5);
    }
  }

  .navOptions {
    width: 100%;
    height: 2rem;
    border-bottom: variables.$borderThinLightGray;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: variables.$darkGray;
    color: variables.$primaryText;
    transition:
      background-color 0.3s,
      border 0.3s;

    button {
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      color: variables.$primaryText;
      cursor: pointer;

      svg {
        height: 100%;
        font-size: 2em;
      }

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .account {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-top: -2.5em;
    z-index: 10;
    cursor: pointer;
    transition: margin 0.6s;

    svg {
      width: 1em;
      height: 1em;
      border: variables.$borderThinLightGray;
      border-radius: 100%;
      font-size: 2em;
      color: variables.$lightGray;
      background-color: variables.$darkGray;
      z-index: 2;
    }

    span {
      @include mixins.russoFont;
      height: calc(1em + 0.3rem);
      margin-left: -1em;
      padding-left: 1em;
      padding-right: 6em;
      border-top: variables.$borderThinBlack;
      border-bottom: variables.$borderThinBlack;
      display: flex;
      align-items: center;
      font-size: 1.5em;
      color: variables.$secondaryText;
      background-color: variables.$lightGray;
      mask: linear-gradient(
        -45deg,
        transparent calc(0% + 3em),
        black calc(0% + 3em)
      );
    }
  }

  .userOptions {
    position: absolute;
    margin-left: -20%;
    margin-top: 5.5em;
    z-index: 10;
    transition: margin 0.6s;

    &.show {
      margin-left: 0;
    }

    button {
      @include mixins.russoFont;
      height: calc(1em + 0.3rem);
      margin-bottom: 0.5em;
      padding-left: 3em;
      padding-right: 6em;
      border-top: variables.$borderThinBlack;
      border-bottom: variables.$borderThinBlack;
      display: flex;
      align-items: center;
      font-size: 1em;
      color: variables.$secondaryText;
      background-color: variables.$lightGray;
      cursor: pointer;
      mask: linear-gradient(
        -45deg,
        transparent calc(0% + 3em),
        black calc(0% + 3em)
      );
    }
  }

  .links {
    width: 35%;
    height: 0%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: height 0.6s;
    perspective: 10cm;
    margin-top: 2em;

    a {
      @include mixins.russoFont;
      width: 60%;
      color: variables.$secondaryText;
      background-image: linear-gradient(
        -45deg,
        transparent 12%,
        variables.$lightGray 12%,
        variables.$lightGray 17%,
        $gradientColour 17%,
        $gradientColour 20%,
        variables.$lightGray 20%
      );
      font-size: 1.75em;
      justify-content: flex-start;
      padding-left: 0.5em;
      margin-top: 10%;
      margin-left: 0%;
      transform: rotateY(135deg);
      transform-origin: top left;
      transition:
        width 0.3s,
        margin-left 0.3s,
        transform 0.3s;

      &:hover {
        width: 75%;
      }
    }
  }

  .signup {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 2em;
    right: 2em;
  }

  .profileBar {
    width: 100%;
    height: 0;
    border-color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: variables.$darkGray;
    transition:
      height 0.3s,
      border-color 0.3s;

    img {
      width: 3em;
      height: 3em;
      background-color: variables.$lightGray;
      border-right: 1px solid black;
    }

    span {
      min-width: 30%;
      height: 100%;
      padding-left: 0.5em;
      color: variables.$darkGray;
      font-family: "Russo One";
      font-size: 1.5em;
      display: flex;
      align-items: center;
      background-image: linear-gradient(
        -45deg,
        transparent 12%,
        variables.$lightGray 12%,
        variables.$lightGray 17%,
        $gradientColour 17%,
        $gradientColour 20%,
        variables.$lightGray 20%
      );
    }
  }

  &.fullscreen {
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(1em);
    transition:
      height 0.3s,
      backdrop-filter 0.3s;

    .account {
      margin-top: 2.5em;
    }

    .sketch {
      background-size: 12.5%;
      transition: background-size 0.6s;
    }

    .links {
      height: calc(100% - 5em);

      a {
        margin-left: 0%;
        transform: rotateY(10deg);

        &:nth-child(2) {
          transition:
            width 0.3s,
            transform 0.3s ease-out 0.3s,
            margin-left 0.3s ease-out 0.3s;
        }

        &:nth-child(3) {
          transition:
            width 0.3s,
            transform 0.3s ease-out 0.45s,
            margin-left 0.3s ease-out 0.45s;
        }

        &:nth-child(4) {
          transition:
            width 0.3s,
            transform 0.3s ease-out 0.6s,
            margin-left 0.3s ease-out 0.6s;
        }
      }
    }

    .profileBar {
      height: 3em;
      border-color: black;
      transition:
        height 0.3s ease 0.3s,
        border-color 0.3s ease 0.3s;
    }
  }
}

@keyframes sketchMovement {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 236px 235px;
  }
}
