.navBar {
  width: 100vw;
  height: 15vh;
  background-color: rgb(10, 10, 10);
  filter: drop-shadow(0vw 0.3vw 0.3vw black);
  z-index: 100;
  position: sticky;
  top: -14.3vh;
  font-size: 1.4vw;
  background-image: url("/spacebanner.webp");
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0% -400%;

  &.articlePage {
    background-image: url("/spacebannerBW.webp");
    background-color: var(--article-colour);
    background-blend-mode: multiply;

    .spaceOverlay {
      display: block;
    }
  }

  .spaceOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/spacebannerBWOverlay.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: 0% -400%;
    z-index: -3;
    mix-blend-mode: lighten;
    opacity: 0.2;
    display: none;
    backdrop-filter: brightness(5);
  }

  .sketch {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/sketch.webp");
    background-size: 15%;
    mix-blend-mode: color-burn;
    opacity: 0.5;
    z-index: -2;
    filter: invert(1) contrast(1.5);
    mask: linear-gradient(45deg, black 0%, transparent 30%, transparent 70%, black 100%);
    animation: sketchMovement 20s infinite linear;

    @media (max-device-width: 425px) {
      height: 30vw;
    }
  }

  a {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 0 0.2vw rgba(0, 0, 0, 0.7));

    img {
      height: 15vh;
      margin-top: -1vh;
      margin-bottom: 1vh;

      @media (max-device-width: 425px) {
        height: 31vw;
      }
    }

    .logoOverlay {
      height: 15vh;
      width: 100vw;
      margin-top: -1vh;
      margin-bottom: 1vh;
      background-image: url('/bannerBW.webp');
      background-color: var(--article-colour);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      mask: url('/bannerBW.webp');;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      filter: brightness(0.5);
    }
  }

  .navOptions {
    width: calc(100vw - 7vh);
    height: 3.5vh;
    border-top: 3.5vh solid var(--light-gray);
    border-right: 3.5vh solid transparent;
    border-left: 3.5vh solid transparent;
    margin-top: -0.4vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    filter: drop-shadow(0vw -1px 0vw black);

    .option {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--light-gray);
      width: 10.5vw;
      height: 100%;
      margin-top: -3.45vh;
      z-index: 99;
      font-size: 0.9em;
      text-align: center;
      transition: filter 0.3s, color 0.3s, width 0.3s, margin 0.3s, font-size 0.3s;
      background-image: linear-gradient(
        45deg,
        transparent calc(16% - 2px),
        black calc(16% - 1px),
        var(--dark-gray) 16%,
        var(--dark-gray) 84%,
        black calc(84% + 1px),
        transparent calc(84% + 2px)
      );

      &.reverse {
        background-image: linear-gradient(
          -45deg,
          transparent 15%,
          var(--dark-gray) 15%,
          var(--dark-gray) 85%,
          transparent 85%
        );
      }

      &:hover {
        filter: drop-shadow(0.3vw 0px 0px var(--article-colour, #DDDD44))
          drop-shadow(-0.3vw 0px 0px var(--article-colour, #DDDD44));
        color: var(--article-colour, var(--light-gray));

        @media (max-device-width: 425px) {
          filter: none;
          color: var(--light-gray);
        }
      }

      &:active {
        width: 12vw;
        margin-left: -0.75vw;
        margin-right: -0.75vw;
        font-size: 1em;
        filter: drop-shadow(0.3vw 0px 0px var(--article-colour, #DDDD44))
          drop-shadow(-0.3vw 0px 0px var(--article-colour, #DDDD44)) brightness(1.2);

        @media (max-device-width: 425px) {
          filter: none;
          color: var(--light-gray);
        }
      }
    }

    @media (max-device-width: 425px) {
      margin-left: 0;
      margin-top: -1.8vw;
      width: 86vw;
      border-width: 7vw;
    }
  }

  @media (max-device-width: 425px) {
    height: 31vw;
    font-size: 1.8vw;
    top: -30vw;
  }
}

@keyframes glow {
  0% {
    filter: blur(0.3vw) brightness(2);
  }
  50% {
    filter: blur(0.2vw) brightness(1.5);
  }
  100% {
    filter: blur(0.3vw) brightness(2);
  }
}

@keyframes sketchMovement {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 236px 235px;
  }
}
