#shareBar {
  position: absolute;
  height: 2.7vw;
  background-color: var(--dark-gray);
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.55vw;
  width: 100%;
  display: flex;
  overflow: hidden;
  animation-name: panelFadeIn;
  animation-duration: 0.9375s;
  animation-timing-function: linear;
  border-left: 0.1em solid var(--light-gray);
  border-right: 0.1em solid var(--light-gray);

  @media only screen and (max-width: 425px) {
    height: 10vw;
    margin-top: -12.5vw;
  }
}
#shareBar > div {
  width: 100%;
  color: var(--light-gray);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}
#shareBar > div > a {
  width: 50%;
  color: var(--light-gray);
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    transition: color 0.2s, transform 0.2s;
  }

  &:hover {
    svg {
      transform: scale(1.1);
    }
  }

  &:active {
    svg {
      color: var(--primary-text);
      transform: scale(0.9);
    }
  }
}

.shareIcon {
  font-size: 2.4vw !important;

  @media only screen and (max-width: 425px) {
    font-size: 8vw !important;
  }
}

@keyframes panelFadeIn {
  0% {
    width: 0%;
    margin-left: 50%;
  }
  50% {
    width: 0%;
    margin-left: 50%;
  }
  100% {
    width: 100%;
    margin-left: 0%;
  }
}
