$regexGlow1: #7cff7c;
$regexGlow2: #285528;

.regexText {
  color: $regexGlow2;
  animation-name: regexGlow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 0.7em;
  font-family: "Press Start 2P";
}

@keyframes regexGlow {
  0% {
    text-shadow: -0.15vw -0.15vw -0.16vw $regexGlow1, 0.15vw -0.15vw -0.32vw $regexGlow2, 0.15vw 0.15vw -0.16vw $regexGlow1, 0.15vw -0.15vw -0.32vw $regexGlow2;
  }
  50% {
    text-shadow: 0.2vw 0.15vw 0.4vw $regexGlow1, -0.2vw 0.15vw 0.2vw $regexGlow2, -0.2vw -0.15vw 0.4vw $regexGlow1, -0.2vw 0.15vw 0.2vw $regexGlow2;
  }
  100% {
    text-shadow: -0.15vw -0.15vw -0.16vw $regexGlow1, 0.15vw -0.15vw -0.32vw $regexGlow2, 0.15vw 0.15vw -0.16vw $regexGlow1, 0.15vw -0.15vw -0.32vw $regexGlow2;
  }
}
