.paragraphInput {
  font-size: 0.8em;
  width: 95%;
  margin: 1vw;
  background-color: var(--dark-gray);
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0.5vw;
}

.paragraphInput > span {
  color: var(--primary-text);
  margin-left: 1vw;
}

.paragraphInput > select {
  color: var(--dark-gray);
  font-size: 0.7em;
  right: 0;
}

.paragraphTextInput {
  width: 100%;
  display: flex;
}

.paragraphTextInput > textarea {
  height: 7vw;
  width: 100%;
  color: var(--primary-text);
  font-size: 0.65em;
  background-color: transparent;
  margin-right: 1vw;
  margin-bottom: 1vw;
  border: none;
  outline: 2px solid var(--light-gray);
}

.paragraphTextInput > .arrowContainer {
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

.paragraphTextInput:hover > .arrowContainer {
  opacity: 1;
}

.arrowContainer > button {
  color: var(--dark-gray);
  background-color: var(--primary-text);
  border: 1px solid var(--dark-gray);
  outline: 1px solid var(--dark-gray);
  margin-bottom: 0.5vw;
}

.arrowContainer > button:hover {
  border: 1px solid var(--dark-gray);
  outline: 1px solid var(--light-gray);
  cursor: pointer;
}

.spoilerTag {
  color: var(--light-gray);
  border-bottom: 1px solid red;
  font-size: 0.8em;
  margin-right: auto;
  margin-bottom: 3px;
  margin-left: 2vw;
  font-weight: lighter;
}