$borderThickness: 2.7vw;
$mobileBorderThickness: 6vw;
$gradientColor: rgba(0, 0, 0, 0.5);

.infoBar {
  height: $borderThickness;
  width: 100%;
  margin-bottom: 35px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 30px;

  @media only screen and (max-width: 425px) {
    margin-bottom: 1.5vw;
    margin-top: -11vw;
  }
}

.infoUnderline {
  border-top: $borderThickness solid var(--dark-gray);
  border-right: $borderThickness solid transparent;
  width: 77vw;
  filter: drop-shadow(4px 5px 0px black);
  mask: linear-gradient(
    -45deg,
    black 6.9%,
    $gradientColor 6.9%,
    $gradientColor 9.15%,
    black 9.15%,
    black 11.1%,
    $gradientColor 11.1%,
    $gradientColor 13.5%,
    black 13.5%
  );

  @media only screen and (max-width: 425px) {
    width: 83vw;
    border-width: $mobileBorderThickness;
    filter: drop-shadow(0px 2px 0px black);
    mask: none;
  }
}

.infoBar > span {
  position: absolute;
  margin-bottom: 0.4%;
  color: var(--light-gray);
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 1.7vw;

  @media only screen and (max-width: 425px) {
    margin-bottom: 1%;
    font-size: 3vw;
    width: 75vw;
  }
}

.infoBar > span > div {
  margin-left: 20px;
  margin-right: 20px;

  @media only screen and (max-width: 425px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}