$borderThickness: 2.7vw;
$mobileBorderThickness: 6vw;
$gradientColor: rgba(0, 0, 0, 0.5);

.infoBar {
  height: $borderThickness;
  width: 100%;
  margin-bottom: 35px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 30px;

  @media only screen and (max-width: 425px) {
    margin-bottom: 1.5vw;
    margin-top: -11vw;
  }
}

.infoUnderline {
  height: $borderThickness;
  width: 80vw;
  background-color: var(--dark-gray);
  mask: linear-gradient(
    -45deg,
    transparent 4%,
    black 4%,
    black 12.7%,
    $gradientColor 12.7%,
    $gradientColor 14.95%,
    black 14.95%,
    black 17.4%,
    $gradientColor 17.4%,
    $gradientColor 19.7%,
    black 19.7%
  );
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-image: url('/border.webp') 40;
  border-image-outset: 1px;

  &.sketch {
    background-image: url("/sketch.webp");
    background-size: 10%;
    mix-blend-mode: overlay;
    opacity: 0.25;
    filter: invert(1);
    mask: linear-gradient(-45deg, transparent 4%, black 4%, transparent 10%);
    position: absolute;
  }

  @media only screen and (max-width: 425px) {
    width: 83vw;
    border-width: $mobileBorderThickness;
    mask: none;
  }
}

.infoBar > span {
  width: 100vw;
  position: absolute;
  margin-bottom: 0.4%;
  margin-left: 0.5vw;
  color: var(--light-gray);
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 1.7vw;

  span {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  @media only screen and (max-width: 425px) {
    margin-bottom: 1%;
    font-size: 3vw;
    width: 75vw;
  }
}

.infoBar > span > span > div {
  margin-left: 1vw;
  margin-right: 1vw;
  -webkit-text-stroke: 0.05vw black;
  font-family: "Russo One";
  font-weight: 100;

  @media only screen and (max-width: 425px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
