#mainSettings {
  font-size: 1em;
  width: 100%;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5vw;
}

.inputContainer > input {
  height: 1.5vw;
  width: 50%;
  color: var(--primary-text);
  font-size: 0.8em;
  margin-right: 1vw;
  background-color: transparent;
  border: none;
  outline: 2px solid var(--light-gray);
}

.inputContainer > span {
  color: var(--primary-text);
  margin-left: 1vw;
}

#description {
  align-items: flex-start;
}

#description > textarea {
  height: 10vw;
  width: 60%;
  color: var(--primary-text);
  font-size: 0.65em;
  margin-right: 1vw;
  background-color: transparent;
  border: none;
  outline: 2px solid var(--light-gray);
}

#saveButton {
  margin: 1vw;
  background-color: var(--light-gray);
  color: var(--secondary-colour);
  border: none;
  cursor: pointer;
  outline: 1px solid var(--secondary-colour );
  border: 2px solid var(--secondary-colour);
}

#saveButton:hover {
  outline: 1px solid var(--light-gray);
  border: 2px solid var(--secondary-colour);
}

#contentBreakpoint {
  color: var(--primary-text);;
  border-top: 0.25vw solid var(--light-gray);
  margin: 1vw;
}