$borderThickness: 7vw;
$mobileBorderThickness: 12.5vw;
$gradientColor: rgba(0, 0, 0, 0.5);

.videoHeader {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 30px;

  @media only screen and (max-width: 425px) {
    margin-bottom: 28vw;
  }
}

.bar2 {
  border-top: $borderThickness solid var(--dark-gray);
  opacity: 0.9;
  width: 80%;
  border-right: $borderThickness solid transparent;
  position: absolute;
  margin-top: 48vw;
  filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
  mask: linear-gradient(
    -45deg,
    black 15%,
    $gradientColor 15%,
    $gradientColor 17%,
    black 17%,
    black 19%,
    $gradientColor 19%,
    $gradientColor 21%,
    black 21%
  );

  @media only screen and (max-width: 425px) {
    width: 87.5vw;
    border-width: $mobileBorderThickness;
    filter: drop-shadow(0px 2px 0px black);
    margin-top: 69vw;
  }
}

.bar1,
.barC {
  border-bottom: $borderThickness solid var(--light-gray);
  width: 75%;
  border-right: $borderThickness solid transparent;
  position: absolute;
  margin-top: 45vw;
  mask: linear-gradient(
    45deg,
    black 80%,
    $gradientColor 80%,
    $gradientColor 82%,
    black 82%,
    black 84%,
    $gradientColor 84%,
    $gradientColor 86%,
    black 86%
  );
}

.bar1 {
  @media only screen and (max-width: 425px) {
    width: 85vw;
    border-width: $mobileBorderThickness;
    margin-top: 62vw;
    mask: linear-gradient(
      45deg,
      black 80%,
      $gradientColor 80%,
      $gradientColor 82%,
      black 82%,
      black 84%,
      $gradientColor 84%,
      $gradientColor 86%,
      black 86%
    );
  }
}

.barC {
  margin-top: 46vw;
  width: 75.6%;
  filter: drop-shadow(0.3vw 0.3vw 0.3vw black);
  mask: none;

  @media only screen and (max-width: 425px) {
    width: 87vw;
    border-width: $mobileBorderThickness;
    margin-top: 64vw;
    filter: drop-shadow(2px 2px 0px black);
  }
}

.barGlow {
  animation-name: glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.videoHeader > h1 {
  position: absolute;
  width: 80vw;
  margin-top: 47.5vw;
  margin-left: 1vw;
  color: var(--dark-gray);
  font-size: 3.1vw;
  font-family: "Russo One";
  font-weight: 100;

  @media only screen and (max-width: 425px) {
    font-size: 5.2vw;
    font-weight: 200;
    text-align: left;
    margin-top: 65vw;
  }
}

#videoOverlay {
  width: 100%;
  height: 200%;
  position: fixed;
  bottom: 0;
  background-color: white;
  mix-blend-mode: multiply;
}

.videoHeader > #videoContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: black;
}

.videoHeader > #videoContainer > video {
  width: 100%;
  background-color: black;
}

@keyframes glow {
  0% {
    filter: blur(6px) brightness(1.5);
  }
  50% {
    filter: blur(4px) brightness(1);
  }
  100% {
    filter: blur(6px) brightness(1.5);
  }
}
