@use "/styles/_variables" as variables;

.listItem {
  width: 60%;
  display: flex;
  align-items: center;
  margin-left: calc(20% - 4em);
  font-size: 1em;
  color: variables.$primaryText;

  img {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    object-fit: contain;
  }
}