.listItem {
  display: flex;
  align-items: center;
  color: var(--primary-text);
  width: 60%;
  margin-left: calc(20% - 4em);
  font-size: 1em;
}

.listItem > img {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  object-fit: contain;
}