@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.commentArea {
  width: 100%;
  height: fit-content;
  margin-left: auto;
  margin-bottom: 0.5em;
  font-size: 1em;

  .commentAreaView {
    @include mixins.quoteCard;
    @include mixins.darkScrollBar();
    width: calc(100% - 1em);
    min-height: unset !important;
    height: 4.8rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0.5em;
    outline: none;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.2rem;
    color: variables.$primaryText;
    overflow-x: hidden;
    resize: none;
    transition:
      width 0.35s 1.55s,
      padding-left 0.35s 1.55s,
      padding-right 0.35s 1.55s,
      padding-top 0.5s 1.9s,
      padding-bottom 0.5s 1.9s,
      margin 0.5s 1.9s,
      height 0.5s 1.9s;
    transition-timing-function: cubic-bezier(0.88, 0, 0.12, 1);

    &::-webkit-scrollbar {
      width: 0.4em;
    }

    div {
      width: calc(100% - 0.3em);
      padding-left: 0.3em;
      background-color: rgba(0, 0, 0, 0.35);

      &:last-child {
        height: 100%;
        mask: linear-gradient(
          -45deg,
          transparent calc(0% + 0.5rem),
          black calc(0% + 0.5rem)
        );
      }

      span {
        blockQuote {
          width: calc(100% - 2.05em);
          margin: 0.4em;
          margin-left: 0.8em;
          padding-left: 0.7em;
          border-left: 0.15em solid var(--article-colour);
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.4);
          opacity: 0.9;
          z-index: -1;
        }

        .listItem {
          margin-left: 0.8em;
        }
      }
    }
  }

  .commentLoading {
    width: 100%;
    height: 4.8rem;
    background-color: variables.$darkGray;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    z-index: 10;

    img {
      height: 100%;
      mix-blend-mode: overlay;
      filter: invert(0.5) brightness(2);
      animation: commentLoading 1s linear infinite;
    }
  }

  .commentStylingBar {
    width: 100%;
    height: 1em;
    margin: 0;
    display: flex;
    font-size: 0.75em;
    background-color: variables.$darkGray;
    overflow: visible;
    transition: height 0.3s 2.4s;
    mask: linear-gradient(
      -45deg,
      transparent calc(0% + 1.6rem),
      black calc(0% + 1.6rem)
    );

    button {
      @include mixins.russoFont();
      @include mixins.flexCenter();
      width: 1.25em;
      height: 100%;
      margin-top: 0;
      font-size: 1em;
      color: variables.$lightGray;
      background-color: variables.$darkGray;
      cursor: pointer;
      // animation: iconScale 1.75s 1 ease-in-out;
      transition:
        color 0.2s,
        background-color 0.2s;

      &:hover:not(:disabled) {
        border-top: 0.1em solid var(--article-colour);
      }

      &:active:not(:disabled) {
        color: var(--article-colour);
        background-color: variables.$primaryText;
      }

      &:disabled {
        color: variables.$secondaryText;
        opacity: 0.5;
        cursor: unset;
      }
    }

    .postComment {
      width: fit-content;
      height: 100%;
      margin-left: auto;
      padding-left: 1em;
      padding-right: calc(1em + 1.6rem);
      font-size: 0.75em;
      color: variables.$darkGray;
      background-color: variables.$primaryText;
      opacity: 1;
      filter: drop-shadow(0 0 0 var(--article-colour));
      transition:
        padding 0.2s,
        color 0.2s,
        filter 0.2s,
        opacity 0.2s;

      &:hover:not(:disabled) {
        margin-top: 0;
        padding-right: 1.5em;
        padding-left: 1.5em;
        border-top: none;
        filter: drop-shadow(-0.2em 0 0 var(--article-colour));
      }

      &:active:not(:disabled) {
        color: var(--article-colour);
      }

      &:disabled {
        color: variables.$lightGray;
        opacity: 0.5;
        cursor: unset;
      }
    }
  }

  &.hide {
    .commentAreaView {
      width: 0;
      height: 0;
      padding: 0;
      margin-top: 2.4rem;
      transition:
        width 0.35s 0.9s,
        padding 0.5s 0.4s,
        padding-left 0.35s 0.9s,
        padding-right 0.35s 0.9s,
        padding-top 0.5s 0.4s,
        padding-bottom 0.5s 0.4s,
        margin 0.5s 0.4s,
        height 0.5s 0.4s;
    }

    .commentStylingBar {
      height: 0;
      transition: height 0.5s 0.4s;
    }
  }
}

@keyframes slideIn {
  0% {
    width: 0;
    border-width: 0;
  }
  50% {
    width: 0;
    border-width: 0;
  }
  100% {
    width: calc(100% - 0.3rem);
    border-width: 0.15rem;
  }
}

@keyframes iconScale {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes commentAreaFadeIn {
  0% {
    color: transparent;
  }
  75% {
    color: transparent;
  }
  100% {
    color: variables.$lightGray;
  }
}

@keyframes commentLoading {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
