#commentAreaView {
  width: calc(100% - 10px);
  height: 5.4vw !important;
  padding: 0.3vw;
  background: none;
  border: none;
  border-left: 0.1em solid var(--light-gray);
  border-right: 0.1em solid var(--light-gray);
  outline: none;
  color: var(--primary-text);
  font-size: 1vw;
  margin-top: 0;
  resize: none;
  display: flex;
  flex-direction: column;
  animation-name: commentAreaFadeIn;
  animation-timing-function: linear;
  animation-duration: 2s;
  overflow-x: hidden;

  @media only screen and (max-width: 425px) {
    width: 89vw;
    height: 20vw !important;
    font-size: 4vw;
    padding: 3vw;
  }
}

#commentAreaView::-webkit-scrollbar {
  width: 0.5vw;
  background: var(--light-gray);

  @media only screen and (max-width: 425px) {
    width: 1.5vw;
  }
}

#commentAreaView::-webkit-scrollbar-track {
  background: var(--light-gray);
}

#commentAreaView::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border: 0.1vw solid var(--light-gray);
}

#commentAreaView > div {
  margin-left: 0.3vw;
  line-height: 1.4em;
}

#commentAreaView:not(.noAnim) > div:first-child {
  animation-name: commentAreaContentFadeIn;
  animation-timing-function: linear;
  animation-duration: 3.5s;
}

#commentAreaView > div > span > blockQuote {
  width: calc(100% - 1.8vw);
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.35);
  border-left: 0.2vw solid var(--article-colour);
  margin: 0.4vw;
  margin-left: 0.6vw;
  padding-left: 0.6vw;
  opacity: 0.7;
  z-index: -1;

  @media only screen and (max-width: 425px) {
    margin-left: 3vw;
    padding-left: 2vw;
    border-left: 0.7vw solid var(--article-colour);
  }
}

#commentAreaView > div > span > .listItem {
  margin-left: 0.8vw;

  @media only screen and (max-width: 425px) {
    margin-left: 3vw;
  }
}

#commentLoading {
  width: 100%;
  height: 6vw;
  background-color: var(--dark-gray);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  @media only screen and (max-width: 425px) {
    height: 26vw;
  }
}

#commentLoading > img {
  height: 100%;
  filter: invert(0.5);
  opacity: 0.2;
  animation-name: commentLoading;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

#commentStylingBar {
  width: 100%;
  height: 1.25vw;
  margin: 0;
  overflow: visible;
  display: flex;
  background-color: var(--light-gray);
  animation-name: commentBarsFadeIn;
  animation-timing-function: linear;
  animation-duration: 2s;
}

#commentStylingBar > button {
  width: 1.75vw;
  height: 1.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-family: "Russo One";
  font-weight: 100;
  font-size: 1.3vw;
  color: var(--dark-gray);
  background-color: var(--light-gray);
  margin-top: 0;
  cursor: pointer;
  transition: margin-top 0.2s, height 0.2s, border-top 0.2s, color 0.2s, background-color 0.2s;
  animation-name: styleButtonFadeIn;
  animation-timing-function: linear;
  animation-duration: 2.475s;

  &:hover:not(:disabled) {
    height: 1.5vw;
    margin-top: -0.25vw;
    border-top: 0.25vw solid var(--article-colour);
  }

  &:active:not(:disabled) {
    height: 1.25vw;
    margin-top: 0;
    border-top: 0.1vw solid var(--article-colour);
    color: var(--article-colour);
    background-color: var(--primary-text);
  }

  &:disabled {
    opacity: 0.5;
    cursor: unset;
  }

  @media only screen and (max-width: 425px) {
    height: 6vw;
    min-width: 8vw;
    font-size: 5vw;

    &:hover:not(:disabled) {
      height: 7.5vw;
      margin-top: -1.5vw;
      border-top: 1vw solid var(--article-colour);
    }
  
    &:active:not(:disabled) {
      height: 6vw;
      margin-top: 0;
      border-top: 0.5vw solid var(--article-colour);
      color: var(--article-colour);
      background-color: var(--primary-text);
    }
  }

  svg {
    font-size: 1em;
  }
}

#commentStylingBar > #styleFiller {
  cursor: unset;
}


#commentStylingBar {
  @media only screen and (max-width: 425px) {
    height: 6vw;
  }
}

#postComment {
  width: fit-content !important;
  height: 1.25vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  color: var(--primary-text) !important;
  border: none !important;
  background-color: transparent !important;
  font-size: 1.1vw !important;
  background-image: linear-gradient(
    45deg,
    transparent 20%,
    transparent 24%,
    #303033 24%,
    #303033 28%,
    transparent 28%,
    transparent 32%,
    #303033 32%
  );
  padding-left: 4.5vw;
  padding-right: 1vw;
  filter: drop-shadow(0vw 0 0 var(--article-colour));
  opacity: 1;
  transition: padding 0.2s, color 0.2s, filter 0.2s, opacity 0.2s !important;
  animation-name: postButtonFadeIn !important;

  &:hover:not(:disabled) {
    padding-right: 1.5vw;
    padding-left: 5vw;
    margin-top: 0 !important;
    filter: drop-shadow(-0.2vw 0 0 var(--article-colour));
  }

  &:active:not(:disabled) {
    color: var(--article-colour) !important;
  }

  &:disabled {
    color: var(--dark-gray) !important;
    opacity: 0.5;
    cursor: unset;
  }

  @media only screen and (max-width: 425px) {
    height: 6vw !important;
    padding-left: 15vw !important;
    font-size: 4vw !important;
    background-image: linear-gradient(
    45deg,
    transparent 13%,
    transparent 17%,
    var(--secondary-text) 17%,
    var(--secondary-text) 21%,
    transparent 21%,
    transparent 25%,
    var(--secondary-text) 25%
  );
  }
}

.noAnim {
  animation: none !important;

  button {
    animation: none !important;
  }
}

@keyframes commentBarsFadeIn {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes commentAreaFadeIn {
  0% {
    width: 0%;
    opacity: 0%;
  }
  50% {
    width: 0%;
    opacity: 0%;
  }
  52% {
    opacity: 100%;
  }
  100% {
    width: calc(100% - 10px);
  }
}

@keyframes styleButtonFadeIn {
  0% {
    opacity: 0%;
    transform: scale(0);
  }
  80% {
    opacity: 0%;
    transform: scale(0);
  }
  100% {
    opacity: 50%;
    transform: scale(1);
  }
}

@keyframes postButtonFadeIn {
  0% {
    opacity: 0%;
    padding-left: 3.5vw;
    padding-right: 0vw;
  }
  80% {
    opacity: 0%;
    padding-left: 3.5vw;
    padding-right: 0vw;
  }
  100% {
    opacity: 50%;
    padding-left: 4.5vw;
    padding-right: 1vw;
  }
}

@keyframes commentLoading {
  0% {
    height: 80%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 80%;
  }
}


@keyframes commentAreaContentFadeIn {
  0% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
