@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.commentArea {
  width: calc(100% - 0.3rem);
  height: fit-content;
  margin-left: auto;
  margin-bottom: 0.5em;
  border-left: variables.$borderThinLightGray;
  border-right: variables.$borderThinLightGray;
  font-size: 1em;
  overflow: hidden;
  animation: slideIn 1.25s 1 ease-in-out;

  .commentAreaView {
    @include mixins.lightScrollBar();
    height: 4.8rem;
    margin-top: 0;
    padding: 0.2em;
    outline: none;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.2rem;
    color: variables.$primaryText;
    background-color: variables.$darkGray;
    overflow-x: hidden;
    resize: none;
    animation: commentAreaFadeIn 1.75s 1 ease-in-out;

    &::-webkit-scrollbar {
      width: 0.4em;
    }

    div {
      margin-left: 0.3em;

      span {
        blockQuote {
          width: calc(100% - 2.05em);
          margin: 0.4em;
          margin-left: 0.8em;
          padding-left: 0.7em;
          border-left: 0.15em solid var(--article-colour);
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.35);
          opacity: 0.7;
          z-index: -1;
        }

        .listItem {
          margin-left: 0.8em;
        }
      }
    }
  }

  .commentLoading {
    width: 100%;
    height: 4.8rem;
    background-color: variables.$darkGray;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    z-index: 10;

    img {
      height: 100%;
      mix-blend-mode: overlay;
      filter: invert(0.5) brightness(2);
      animation: commentLoading 1s linear infinite;
    }
  }

  .commentStylingBar {
    width: 100%;
    height: 1em;
    margin: 0;
    display: flex;
    font-size: 0.75em;
    background-color: variables.$lightGray;
    overflow: visible;

    button {
      @include mixins.russoFont();
      @include mixins.flexCenter();
      width: 1.25em;
      height: 100%;
      margin-top: 0;
      font-size: 1em;
      color: variables.$darkGray;
      background-color: variables.$lightGray;
      cursor: pointer;
      animation: iconScale 1.75s 1 ease-in-out;
      transition:
        color 0.2s,
        background-color 0.2s;

      &:hover:not(:disabled) {
        border-top: 0.1em solid var(--article-colour);
      }

      &:active:not(:disabled) {
        color: var(--article-colour);
        background-color: variables.$primaryText;
      }

      &:disabled {
        color: variables.$secondaryText;
        opacity: 0.5;
        cursor: unset;
      }
    }

    .postComment {
      width: fit-content;
      height: 100%;
      margin-left: auto;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 0.75em;
      color: variables.$lightGray;
      background-color: variables.$secondaryText;
      opacity: 1;
      filter: drop-shadow(0 0 0 var(--article-colour));
      transition:
        padding 0.2s,
        color 0.2s,
        filter 0.2s,
        opacity 0.2s;

      &:hover:not(:disabled) {
        margin-top: 0;
        padding-right: 1.5em;
        padding-left: 1.5em;
        border-top: none;
        filter: drop-shadow(-0.2em 0 0 var(--article-colour));
      }

      &:active:not(:disabled) {
        color: var(--article-colour);
      }

      &:disabled {
        color: variables.$lightGray;
        opacity: 0.5;
        cursor: unset;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    width: 0;
    border-width: 0;
  }
  50% {
    width: 0;
    border-width: 0;
  }
  100% {
    width: calc(100% - 0.3rem);
    border-width: 0.15rem;
  }
}

@keyframes iconScale {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes commentAreaFadeIn {
  0% {
    color: transparent;
  }
  75% {
    color: transparent;
  }
  100% {
    color: variables.$lightGray;
  }
}

@keyframes commentLoading {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
