@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.spoiler {
  background-image: linear-gradient(
    0deg,
    variables.$darkGray 3%,
    black 3%,
    black 97%,
    variables.$darkGray 97%
  );
  color: transparent;
  cursor: pointer;
  transition:
    color 1s,
    background-image 1s;
}

.revealed {
  color: variables.$primaryText;
  background-image: linear-gradient(
    0deg,
    variables.$darkGray 3%,
    variables.$spoilerRevealColour 3%,
    variables.$spoilerRevealColour 97%,
    variables.$darkGray 97%
  );
  cursor: unset;
}
