@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.comment {
  width: calc(100% - 0.35em);
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  margin-left: 0.35em;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  font-size: 1em;
  color: variables.$primaryText;
  perspective: 0;

  .deleteOverlay {
    @include mixins.flexCenter;
    width: calc(100% + 0.35em);
    margin-left: -0.35em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: variables.$borderThinLightGray;
    border-bottom: variables.$borderThinLightGray;
    position: absolute;
    flex-wrap: wrap;
    background-color: variables.$dialogueBoxBackgroundColour;
    z-index: 2;
    filter: brightness(2);

    h3 {
      @include mixins.russoFont;
      width: 100%;
      margin: 0;
      font-size: 0.65em;
      text-align: center;
    }

    button {
      font-family: var(--righteous);
      color: variables.$primaryText;
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar {
      width: 2em;
      height: 2em;
      margin-top: -0.25em;
      border: variables.$borderThinLightGray;
      border-radius: 100%;
      background-color: variables.$darkGray;
      z-index: 1;
    }

    .userInfo {
      height: calc(2.2em - 1px);
      margin-left: -2.25em;
      display: flex;
      flex-direction: column;

      b {
        @include mixins.russoFont();
        width: fit-content;
        margin-left: 1.5em;
        padding-left: 1.6em;
        padding-right: 2em;
        font-size: 0.8em;
        line-height: 1.1em;
        color: variables.$secondaryText;
        background-color: variables.$lightGray;
        mask: linear-gradient(
          -45deg,
          transparent calc(0% + 1.1em),
          black calc(0% + 1.1em)
        );
      }

      i {
        @include mixins.russoFont();
        width: fit-content;
        margin-top: 0.2em;
        margin-left: 2em;
        padding-left: 3em;
        padding-right: 2em;
        font-size: 0.5em;
        line-height: 1em;
        color: variables.$darkGray;
        background-color: variables.$lightGray;
        cursor: default;
        mask: linear-gradient(
          -45deg,
          transparent calc(0% + 1em),
          black calc(0% + 1em)
        );
      }
    }

    .userButtons {
      @include mixins.flexCenter;
      width: fit-content;
      height: fit-content;
      margin-top: -1em;
      right: 0.5em;
      position: absolute;
      transition: transform 0.2s;

      button {
        font-size: 0.75em;
        color: variables.$lightGray;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          color: red;
        }

        svg {
          font-size: 1em;
        }
      }
    }
  }

  .content {
    width: calc(95% - 4em);
    max-height: 4.8em;
    margin-top: -1.15em;
    margin-bottom: 0;
    margin-left: 2.75em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    border-left: variables.$borderThinLightGray;
    background-color: rgba(0, 0, 0, 0.35);
    font-size: 0.6em;
    line-height: 1.2em;
    overflow: hidden;
    z-index: -1;
    mask: linear-gradient(
      -45deg,
      transparent calc(0% + 0.5rem),
      black calc(0% + 0.5rem)
    );

    &.showMore {
      max-height: unset;
      overflow: visible;
    }

    p[blockquote] {
      width: 100%;
      margin: 0.4em;
      margin-left: 0.8em;
      padding-left: 0.7em;
      border-left: 0.15em solid var(--article-colour);
      display: inline-block;
      font-size: 1em;
      background-color: rgba(0, 0, 0, 0.35);
      opacity: 0.7;
    }

    li {
      margin: 0;
      margin-left: 0.8em;
      padding: 0;
      display: inline;
    }
  }

  .showMoreButton {
    width: fit-content;
    height: 1.2em;
    margin-left: 4em;
    font-size: 0.45em;
    font-weight: bolder;
    color: variables.$lightGray;
    z-index: 1;
    cursor: pointer;
  }

  &.byCurrentUser {
    .header {
      .userInfo {
        filter: drop-shadow(0.1em 0.1em 0 var(--article-colour));
      }
    }

    .content {
      border-color: var(--article-colour);
    }
  }

  &.blurred {
    filter: brightness(0.5);
  }
}
