@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.comment {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.35em;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  font-size: 1em;
  color: variables.$primaryText;

  .header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar {
      width: 2em;
      height: 2em;
      border: 0.1em solid variables.$lightGray;
      border-radius: 100%;
      background-color: variables.$darkGray;
      z-index: 1;
    }

    .userInfo {
      height: calc(2.2em - 1px);
      margin-left: -2.25em;
      display: flex;
      flex-direction: column;

      b {
        @include mixins.russoFont();
        width: fit-content;
        margin-left: 1.5em;
        padding-left: 1.6em;
        padding-right: 2em;
        font-size: 0.8em;
        line-height: 1.1em;
        color: variables.$secondaryText;
        background-color: variables.$lightGray;
        mask: linear-gradient(
          -45deg,
          transparent calc(0% + 1.1em),
          black calc(0% + 1.1em)
        );
      }

      i {
        @include mixins.russoFont();
        width: fit-content;
        margin-top: 0.2em;
        margin-left: 2em;
        padding-left: 3em;
        padding-right: 2em;
        font-size: 0.5em;
        line-height: 1em;
        color: variables.$darkGray;
        background-color: variables.$lightGray;
        cursor: default;
        mask: linear-gradient(
          -45deg,
          transparent calc(0% + 1em),
          black calc(0% + 1em)
        );
      }
    }
  }

  .content {
    width: calc(95% - 8em);
    max-height: 4.8em;
    margin-top: -2em;
    margin-bottom: 0;
    margin-left: 2.75em;
    padding-top: 1em;
    padding-left: 1.25em;
    border-left: 2px solid variables.$lightGray;
    font-size: 0.6em;
    line-height: 1.2em;
    overflow: hidden;

    &.showMore {
      max-height: unset;
      overflow: visible;
    }

    p[blockquote] {
      width: 100%;
      margin: 0.4em;
      margin-left: 0.8em;
      padding-left: 0.7em;
      border-left: 0.15em solid var(--article-colour);
      display: inline-block;
      font-size: 1em;
      background-color: rgba(0, 0, 0, 0.35);
      opacity: 0.7;
    }

    li {
      margin: 0;
      margin-left: 0.8em;
      padding: 0;
      display: inline;
    }
  }

  .showMoreButton {
    width: fit-content;
    height: 1.2em;
    margin-left: 4em;
    font-size: 0.45em;
    font-weight: bolder;
    color: variables.$lightGray;
    z-index: 1;
    cursor: pointer;
  }
}
