.comment {
  display: flex;
  color: var(--light-gray);
  flex-wrap: none;
  margin-left: 0.5vw;
  min-height: 5.4vw;
  padding-top: 0.25vw;
  border-bottom: 0.2vw solid var(--light-gray);
  font-size: 1.6vw;
}

.comment > .avatar {
  background-color: #292929;
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  border: 0.2vw solid var(--dark-gray);
  margin-right: 0.5vw;
}

.comment > div > div > p {
  font-size: 0.6em;
  margin-top: 0;
  width: 100%;
}

.comment > div > div > p > p {
  margin: 0;
}

.comment > div > div > p > blockquote {
  margin: 0.25vw;
  padding: 0.25vw;
  padding-left: 0.5vw;
  border-left: 0.1vw solid var(--light-gray);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.comment > .div {
  display: flex;
  flex-direction: column;
}

.comment > div > i {
  color: var(--light-gray);
  margin-top: -0.3vw;
}

@media only screen and (max-width: 480px) {
  .comment {
    min-height: 16vw;
    padding-top: 2vw;
    font-size: 5vw;
  }

  .comment > .avatar {
    width: 2em;
    height: 2em;
    margin-right: 3vw;
  }
}
