.thunderText {
  color: lightseagreen;
  animation-name: thunderGlow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-family: "Trade Winds", cursive;
  // background-image: url('/sketch.webp'), linear-gradient(0deg, lightseagreen 0%, lightseagreen 100%);
  font-size: 0.85em;
  -webkit-text-stroke: 0.05em rgba(0, 0, 0, 0.3);
  filter: contrast(2) brightness(2);
}

@keyframes thunderGlow {
  0% {
    filter: drop-shadow(0px 0px 0vw rgb(135, 206, 235, 0.5));
  }
  50% {
    filter: drop-shadow(0px 0px 0.2vw rgb(135, 206, 235, 0.5));
  }
  100% {
    filter: drop-shadow(0px 0px 0vw rgb(135, 206, 235, 0.5));
  }
}
