@use "/styles/_variables" as variables;

.paragraph {
  color: variables.$primaryText;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  font-size: 0.9em;

  p {
    font-weight: 100;
    line-height: 1.2em;

    * {
      &::selection {
        color: variables.$darkGray;
        background-color: var(--article-colour);
      }
    }

    a,
    sup {
      color: var(--article-colour);

      &:hover {
        text-decoration: underline dashed;
      }
    }

    em {
      color: variables.$primaryText;
      filter: brightness(1.2);
    }

    strong {
      color: variables.$primaryText;
      opacity: 1;
      filter: brightness(0.8);
    }

    sup {
      font-size: 0.6em;
    }
  }
}
