.paragraph {
  color: var(--primary-text);
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
  margin-top: 30px;

  @media only screen and (max-width: 425px) {
    width: 95%;
    margin-left: 2.5%;
    font-size: 0.75em;
    margin-bottom: 1%;
    margin-top: 1%;
  }
}

.paragraph > div > p {
  font-weight: 100;
  line-height: 1.2em;
}

.paragraph > div > p > a, .paragraph > div > p > sup > a {
  color: var(--article-colour) !important;

  &:hover {
    text-decoration: underline dashed;
  }
}

.paragraph > div > p > em {
  color: var(--primary-text);
  filter: brightness(1.2);
}

.paragraph > div > p > strong {
  color: var(--primary-text);
  opacity: 0.7;
  filter: drop-shadow(1px 1px 0px black) drop-shadow(-1px -1px 0px black) drop-shadow(1px -1px 0px black)
    drop-shadow(-1px 1px 0px black);
}

.paragraph > div > p > sup {
  font-size: 0.6em;
}