.listInput {
  font-size: 0.8em;
  width: 95%;
  margin: 1vw;
  background-color: var(--dark-gray);
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0.5vw;
}

.listInput > span {
  color: var(--primary-text);
  margin-left: 1vw;
}

.listInput > button {
  color: var(--dark-gray);
  background-color: var(--light-gray);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.7em;
  right: 0;
}

.listTextInput {
  width: 100%;
  display: flex;
  align-items: center;
}

.contentInput {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8em;
  margin-top: 0.25vw;
  margin-bottom: 0.25vw;
}

.contentInput > span {
  color: var(--primary-text);
  margin-left: 1vw;
}

.contentInput > input {
  height: 1.5vw;
  width: 65%;
  color: var(--primary-text);
  font-size: 0.8em;
  margin-right: 1vw;
  background-color: transparent;
  border: none;
  outline: 2px solid var(--light-gray);
}

.listTextInput > .arrowContainer {
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

.listTextInput:hover > .arrowContainer {
  opacity: 1;
}

.arrowContainer > button {
  color: var(--dark-gray);
  background-color: var(--primary-text);
  border: 1px solid var(--dark-gray);
  outline: 1px solid var(--dark-gray);
  margin-bottom: 0.5vw;
}

.arrowContainer > button:hover {
  border: 1px solid var(--dark-gray);
  outline: 1px solid var(--light-gray);
  cursor: pointer;
}
