.bossCard {
  margin-bottom: 8.1vw;
  margin-top: 5.4vw;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  filter: drop-shadow(-6px 3px 0px black);
  --border-width: 5.4vw;
}
.background1 {
  --gradientColour: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-top: var(--border-width) solid var(--light-gray);
  border-left: var(--border-width) solid transparent;
  width: 40%;
  z-index: 2;
  mask: linear-gradient(
    45deg,
    black 20%,
    var(--gradientColour) 20%,
    var(--gradientColour) 22%,
    black 22%,
    black 24%,
    var(--gradientColour) 24%,
    var(--gradientColour) 26%,
    black 26%
  );
}
.background2 {
  position: absolute;
  border-top: var(--border-width) solid var(--dark-gray);
  border-left: var(--border-width) solid transparent;
  width: 40.5%;
  margin-top: 0.8vw;
}

.bossCard > h2 {
  position: absolute;
  text-align: right;
  color: var(--dark-gray);
  margin-top: 2.3vw;
  margin-right: 0.25vw;
  font-size: 1.75vw;
  backdrop-filter: blur(3px);
  filter: drop-shadow(1px 1px 0px var(--light-gray)) drop-shadow(-1px -1px 0px var(--light-gray));
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  z-index: 3;
  mask: linear-gradient(transparent, black 30%, black 70%, transparent 100%);
}
.imageContainer {
  position: absolute;
  display: flex;
  height: 19vw;
  /* overflow-y: hidden; */
  margin-top: -13.9vw;
  flex-direction: column-reverse;
  z-index: 3;
}
.imageContainer > img {
  max-height: 12vw;
  max-width: 20vw;
}

.imageContainer > .smaller {
  max-height: 11.5vw;
}

.imageContainer > .extraSmaller {
  max-height: 11vw;
}

.imageContainer.lower {
  margin-top: -8.5vw;
}

.imageContainer.higher {
  margin-top: -16vw;
}

.inverse > .background1,
.inverse > .background2,
.inverse > h2 {
  border-top-color: #141414;
  color: var(--light-gray);
}

.backgroundGlow {
  transform: scale(1.01);
  mix-blend-mode: lighten;
  position: absolute;
  opacity: 1;
  animation-name: glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
}

.background2Glow {
  mix-blend-mode: lighten;
  position: absolute;
  opacity: 1;
  animation-name: glow2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes glow {
  0% {
    filter: blur(6px) brightness(2);
  }
  50% {
    filter: blur(4px) brightness(1.5);
  }
  100% {
    filter: blur(6px) brightness(2);
  }
}

@keyframes glow2 {
  0% {
    filter: blur(6px) brightness(3);
  }
  50% {
    filter: blur(2px) brightness(1.5);
  }
  100% {
    filter: blur(6px) brightness(3);
  }
}

@media only screen and (max-width: 480px) {
  .bossCard {
    margin-bottom: 12vw;
    margin-top: 7vw;
    --border-width: 9vw;
    filter: drop-shadow(-2px 1px 0px black);
  }

  .bossCard > h2 {
    margin-top: 4vw;
    margin-right: 1vw;
    font-size: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }

  .imageContainer {
    height: 19vw;
    margin-top: -10vw;
  }

  .background1 {
    width: 50%;
  }

  .background2 {
    width: 51%;
  }

  .imageContainer > img {
    max-height: 18vw;
    max-width: 40vw;
  }

  .imageContainer > .smaller {
    max-height: 16vw;
  }

  .imageContainer > .extraSmaller {
    max-height: 14vw;
  }

  .imageContainer.lower {
    margin-top: -6vw;
  }

  .imageContainer.higher {
    margin-top: -14vw;
  }

  @keyframes glow {
    0% {
      filter: blur(2px) brightness(1.5);
    }
    50% {
      filter: blur(1px) brightness(1);
    }
    100% {
      filter: blur(2px) brightness(1.5);
    }
  }

  @keyframes glow2 {
    0% {
      filter: blur(2px) brightness(3);
    }
    50% {
      filter: blur(1px) brightness(1.5);
    }
    100% {
      filter: blur(2px) brightness(3);
    }
  }
}
