$borderThickness: 5.4vw;
$mobileBorderThickness: 13vw;
$gradientColour: rgba(0, 0, 0, 0.5);

.bossCard {
  margin-bottom: 7.1vw;
  margin-top: 7vw;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  filter: drop-shadow(0px 0vw 0.3vw rgba(0, 0, 0, 0.75));
  perspective: 10cm;

  @media only screen and (max-width: 425px) {
    margin-bottom: 18vw;
    margin-top: 13vw;
    --border-width: 9vw;
    filter: drop-shadow(-2px 1px 0.2vw black);
  }
}

.background1 {
  --gradientColour: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: $borderThickness;
  transform: rotateY(-5deg) rotateZ(-2deg) translateX(-1vw);
  width: 56%;
  z-index: 2;
  filter: drop-shadow(0.9vw -0.3vw 0.3vw rgba(0, 0, 0, 0.35));

  div {
    position: absolute;
    height: $borderThickness;
    background-color: var(--light-gray);
    width: 100%;
    mask: linear-gradient(
      45deg,
      transparent 17%,
      black 17%,
      black 25%,
      $gradientColour 25%,
      $gradientColour 28%,
      black 28%
    );
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-image: url("/border.webp") 40;
    border-image-outset: 1px;

    &.sketch {
      background-image: url("/sketch.webp");
      background-color: transparent;
      background-size: 20%;
      mix-blend-mode: darken;
      opacity: 0.25;
      filter: contrast(2) brightness(2);
      mask: linear-gradient(45deg, transparent 75%, black 100%);
    }
  }
}

.background2 {
  --subtitleColour1: var(--article-colour);
  --subtitleColour2: var(--article-colour2);
  position: absolute;
  height: $borderThickness;
  background-image: linear-gradient(45deg, var(--subtitleColour2) 0%, var(--subtitleColour1) 45%);
  width: 56.5%;
  margin-top: 0.8vw;
  transform: rotateY(-5deg) rotateZ(-2deg) translateX(-1vw);
  mask: linear-gradient(45deg, transparent 17%, black 17%);

  @media only screen and (max-width: 425px) {
    width: 71%;
    border-width: $mobileBorderThickness;
  }
}

.background3 {
  --gradientColour: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: $borderThickness;
  background-color: var(--light-gray);
  width: 50%;
  z-index: -1;
  margin-top: -1vw;
  mask: linear-gradient(
    -45deg,
    black 70%,
    $gradientColour 70%,
    $gradientColour 73%,
    black 73%,
    black 83%,
    transparent 83%
  );
  filter: brightness(0.8);
  transform: rotateY(-5deg) rotateZ(-2deg) translateX(-1vw);

  .sketch {
    position: absolute;
    height: $borderThickness;
    width: 100%;
    margin-top: -0.2vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-image: url("/border.webp") 40;
    border-image-outset: 1px;
    background-image: url("/sketch.webp");
    background-size: 20%;
    mix-blend-mode: darken;
    filter: contrast(2) brightness(2);
    opacity: 0.25;
    mask: linear-gradient(45deg, transparent 60%, black 85%);
  }

  @media only screen and (max-width: 425px) {
    width: 70%;
    border-width: $mobileBorderThickness;
  }
}

.background4 {
  --subtitleColour1: var(--article-colour);
  --subtitleColour2: var(--article-colour2);
  position: absolute;
  height: calc($borderThickness - 1vw);
  background-image: linear-gradient(45deg, var(--subtitleColour2) 0%, var(--subtitleColour1) 45%);
  width: 49.5%;
  margin-top: -0.6vw;
  z-index: -2;
  transform: rotateY(-5deg) rotateZ(-2deg) translateX(-1vw);
  mask: linear-gradient(-45deg, black 86.5%, transparent 86.5%);
  filter: brightness(0.8);
}

.bossCard > h2 {
  position: absolute;
  text-align: right;
  color: var(--secondary-text);
  margin-top: 2.4vw;
  margin-right: 0.25vw;
  font-size: 1.9vw;
  font-family: "Russo One";
  font-weight: 100;
  backdrop-filter: blur(3px);
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  z-index: 3;
  mask: linear-gradient(transparent, black 30%, black 70%, transparent 100%);
  transform: rotateY(-5deg) rotateZ(-2deg) translateX(-1vw);

  &::selection {
    color: var(--light-gray);
    background-color: var(--article-colour);
  }

  @media only screen and (max-width: 425px) {
    margin-top: 7vw;
    margin-right: 1vw;
    font-size: 4vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }
}

.imageContainer {
  position: absolute;
  display: flex;
  height: 19vw;
  margin-top: -13.9vw;
  margin-right: 0.5vw;
  flex-direction: column-reverse;
  z-index: 3;
  transform: rotateY(-5deg) rotateZ(-2deg) translateX(-1vw);
  filter: drop-shadow(0 0 0.3vw black);

  @media only screen and (max-width: 425px) {
    height: 19vw;
    margin-top: -7vw;
  }
}

.imageContainer > img {
  max-height: 12vw;
  max-width: 20vw;

  &::selection {
    color: var(--dark-gray);
    background-color: var(--article-colour);
  }

  @media only screen and (max-width: 425px) {
    max-height: 21vw;
    max-width: 50vw;
  }
}

.imageContainer > .smaller {
  max-height: 11.5vw;

  @media only screen and (max-width: 425px) {
    max-height: 17.5vw;
  }
}

.imageContainer > .extraSmaller {
  max-height: 10.5vw;

  @media only screen and (max-width: 425px) {
    max-height: 14vw;
  }
}

.imageContainer.lower {
  margin-top: -8.5vw;

  @media only screen and (max-width: 425px) {
    margin-top: -2.5vw;
  }
}

.imageContainer.higher {
  margin-top: -16vw;

  @media only screen and (max-width: 425px) {
    margin-top: -10vw;
  }
}

.inverse > .background1,
.inverse > .background2,
.inverse > h2 {
  border-top-color: #141414;
  color: var(--light-gray);
}

.backgroundGlow {
  transform: scale(1.01);
  mix-blend-mode: lighten;
  position: absolute;
  opacity: 1;
  animation-name: glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
}

.background2Glow {
  mix-blend-mode: lighten;
  position: absolute;
  opacity: 1;
  animation-name: glow2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes glow {
  0% {
    filter: blur(0.3vw) brightness(1.5);
  }
  50% {
    filter: blur(0.2vw) brightness(1);
  }
  100% {
    filter: blur(0.3vw) brightness(1.5);
  }
}

@keyframes glow2 {
  0% {
    filter: blur(0.3vw) brightness(2);
  }
  50% {
    filter: blur(0.1vw) brightness(1.25);
  }
  100% {
    filter: blur(0.3vw) brightness(2);
  }
}

@media only screen and (max-width: 425px) {
  @keyframes glow {
    0% {
      filter: blur(2px) brightness(1.5);
    }
    50% {
      filter: blur(1px) brightness(1);
    }
    100% {
      filter: blur(2px) brightness(1.5);
    }
  }

  @keyframes glow2 {
    0% {
      filter: blur(2px) brightness(3);
    }
    50% {
      filter: blur(1px) brightness(1.5);
    }
    100% {
      filter: blur(2px) brightness(3);
    }
  }
}
