@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.post {
  display: flex;
  position: absolute;
  filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));
  width: 85%;
  height: calc(90vh - 5rem);
  font-size: 3rem;
  margin-left: 7.5%;
  margin-top: 5vh;
  overflow: hidden;
  z-index: 2;
  animation-name: openPost;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  .postContent {
    display: flex;
    flex-direction: column;
    color: variables.$primaryText;
    font-size: 0.55em;
    width: calc(70% - 1.5rem);
    height: 100%;
    margin: 0.5%;
    margin-right: 0;
    margin-top: auto;
    animation: slideUp 1s 1 ease-in-out;

    *::selection {
      color: variables.$darkGray;
      background-color: var(--article-colour);
    }

    .title {
      @include mixins.russoFont;
      width: 80%;
      min-height: 1.2em;
      margin: 0;
      margin-bottom: 1rem;
      padding-left: 10%;
      padding-right: 10%;
      border-left: variables.$borderThinLightGray;
      border-right: variables.$borderThinLightGray;
      background-color: variables.$darkGray;

      span {
        height: 1em;
        position: absolute;
        z-index: 2;
      }

      &::before {
        @include mixins.gridPatternDark;
        width: calc(70% - 1.5rem);
        height: 1.19em;
        margin-left: calc(-10% + 3rem);
        position: absolute;
        mask: linear-gradient(
          90deg,
          black 0%,
          transparent 10%,
          transparent 90%,
          black 100%
        );
        content: "";
      }
    }

    .date {
      @include mixins.russoFont;
      width: 80%;
      min-height: 1.2em;
      margin: 0;
      margin-bottom: 1rem;
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      align-items: center;
      font-size: 1em;
      border-left: variables.$borderThinLightGray;
      border-right: variables.$borderThinLightGray;
      background-color: variables.$darkGray;

      span {
        z-index: 2;
      }

      svg {
        margin-right: 0.5em;
        z-index: 2;
      }

      &::before {
        @include mixins.gridPatternDark;
        width: calc(70% - 1.5rem);
        height: 1.19em;
        margin-left: calc(-10% + 3rem);
        position: absolute;
        mask: linear-gradient(
          90deg,
          black 0%,
          transparent 10%,
          transparent 90%,
          black 100%
        );
        content: "";
      }
    }

    main {
      @include mixins.lightScrollBar;
      width: 80%;
      height: 100%;
      padding-left: 10%;
      padding-right: 10%;
      border-left: variables.$borderThinLightGray;
      border-right: variables.$borderThinLightGray;
      background-color: variables.$darkGray;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      z-index: 2;

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        z-index: 2;
      }

      div {
        z-index: 2;
      }

      &::-webkit-scrollbar {
        width: 0.25em;
      }

      &::before {
        @include mixins.gridPatternDark;
        width: calc(70% - 1.8rem);
        height: 100%;
        margin-left: calc(-10% + 3rem);
        position: absolute;
        mask: linear-gradient(
          90deg,
          black 0%,
          transparent 10%,
          transparent 90%,
          black 100%
        );
        content: "";
      }
    }
  }

  .commentPanel {
    position: absolute;
    width: 30%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    right: 0;
    font-size: 1em;
  }

  .comments {
    height: calc(90vh - 4.8rem - 2em);
    margin-left: auto;
    border-left: variables.$borderThinLightGray;
    border-right: variables.$borderThinLightGray;
    background-color: variables.$darkGray;
    overflow-y: scroll;
    animation: slideIn 2s 1 ease-in-out;

    &::-webkit-scrollbar {
      width: 0.5vw;
      height: 0.5vw;
      background: variables.$lightGray;
    }

    &::-webkit-scrollbar-track {
      background: variables.$lightGray;
    }

    &::-webkit-scrollbar-thumb {
      background: variables.$darkGray;
      border: 0.1vw solid variables.$lightGray;
    }
  }
}

@keyframes slideIn {
  0% {
    width: 0;
    border-width: 0;
  }
  50% {
    width: 0;
    border-width: 0;
  }
  100% {
    width: calc(100% - 0.3rem);
    border-width: 0.15rem;
  }
}

@keyframes slideUp {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
