.post,
.closed {
  display: flex;
  filter: drop-shadow(0.5vw 0.5vw 0.3vw black);
  margin-left: 2vw;
  margin-top: 2vw;
  width: 50vw;
  height: 20vw;
  background-image: linear-gradient(
    -21deg,
    var(--light-gray) 0%,
    var(--light-gray) 50%,
    var(--dark-gray) 50%,
    var(--dark-gray) 100%
  );
  font-size: 2.4vw;
  cursor: pointer;
  overflow: hidden;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: filter 0.3s, margin 0.3s;

  @media only screen and (max-device-width: 425px) {
    width: 94vw;
    height: 36.154vw;
    margin-left: 3vw;
    margin-top: 15px;
    filter: drop-shadow(1vw 1vw 1vw black);
  }
}

.post {
  animation-name: slideIn;
  animation-duration: 2s;
  @media only screen and (max-device-width: 425px) {
    animation-name: none;
  }
}

.closed {
  animation-name: closePost;
  animation-duration: 1.4s;

  @media only screen and (max-device-width: 425px) {
    animation-name: closePostMobile;
  }
}

.expanded {
  display: flex;
  filter: drop-shadow(0.5vw 0.5vw 0.3vw black);
  width: 95vw;
  height: 85vh;
  background-image: linear-gradient(
    0deg,
    var(--primary-text) 0%,
    var(--primary-text) 0%,
    var(--dark-gray) 0%,
    var(--dark-gray) 100%
  );
  font-size: 3.4vw;
  margin-left: 2.5vw;
  margin-top: 2vw;
  overflow: hidden;
  animation-name: openPost;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  @media only screen and (max-device-width: 425px) {
    width: 100vw;
    height: 90vh;
    margin-left: 0;
    margin-bottom: 6vw;
    overflow: unset;
    filter: drop-shadow(0 1vw 1vw black);
    animation-name: openPostMobile;
  }
}

.post:hover {
  filter: drop-shadow(0.8333vw 0.8333vw 0.3vw black);
  margin-left: 1.666vw;
  margin-top: 1.666vw;
  margin-bottom: 0.333vw;
  margin-right: 0.333vw;

  @media only screen and (max-device-width: 425px) {
    filter: drop-shadow(5px 2.5px 0px black);
    margin-left: 3vw;
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.post > img,
.expanded > img {
  display: block;
  width: 37vw;
  height: auto;
  filter: invert(0.5);
  mix-blend-mode: lighten;
  opacity: 0.2;

  @media only screen and (max-device-width: 425px) {
    width: 65.2vw;
    height: auto;
  }
}

.postContent {
  background-color: var(--primary-text);
  color: var(--dark-gray);
  font-size: 0.55em;
  width: 69.5%;
  height: 90%;
  margin: 0.5%;
  margin-right: 0;
  margin-top: 4%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.5vw;
    background: var(--primary-text);

    @media only screen and (max-width: 425px) {
      width: 1.5vw;
    }
  }

  &::-webkit-scrollbar-track {
    background: var(--primary-text);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
    border: 0.1vw solid var(--primary-text);
  }

  @media only screen and (max-device-width: 425px) {
    background-color: var(--primary-text);
    color: var(--dark-gray);
    font-size: 1.2em;
    font-weight: 100;
    width: 100%;
    height: 40%;
    margin: 0%;
    margin-top: 8%;
  }
}

.postContent > div {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media only screen and (max-device-width: 425px) {
    position: relative;
  }
}

.postContent > div > img {
  max-width: 85% !important;

  @media only screen and (max-device-width: 425px) {
    max-width: 80% !important;
  }
}

.postContent > div > p,
.postContent > div > span,
.postContent > div > span:has(> h1) {
  width: 95% !important;

  h1 {
    margin-bottom: 0.5vw;
  }

  @media only screen and (max-device-width: 425px) {
    margin-bottom: 0;
  }
}

.post > h1,
.expanded > h1 {
  position: absolute;
  font-size: 1em;
  font-family: "Russo One";
  font-weight: 100;
  color: var(--primary-text);
  margin: 4px;
  margin-top: -6px;
  margin-left: 0.5%;

  @media only screen and (max-device-width: 425px) {
    font-size: 1.75em;
    margin: 1vw;
    margin-top: 0.2vw;
  }
}

.commentPanel {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: var(--dark-gray);
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  top: 0;
  right: 0;
  font-size: 1.645vw;

  @media only screen and (max-device-width: 425px) {
    display: inline;
    width: 100%;
    height: 56%;
    position: absolute;
    margin-top: 40vh !important;
    filter: none;
    z-index: 10;
    font-size: 5vw;
  }
}

.comments {
  overflow-y: scroll;
  height: calc(88.5% - 6.65vw);

  &::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vw;
    background: var(--light-gray);

    @media only screen and (max-width: 425px) {
      width: 1.5vw;
      height: 1.5vw;
    }
  }

  &::-webkit-scrollbar-track {
    background: var(--light-gray);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
    border: 0.1vw solid var(--light-gray);
  }

  @media only screen and (max-device-width: 425px) {
    height: calc(100% - 32vw);
    margin: 0 !important;
  }
}

.post > h2,
.expanded > h2 {
  font-size: 1em;
  font-family: "Russo One";
  font-weight: 100;
  color: var(--dark-gray);
  text-align: right;
  margin: 4px;
  margin-top: 17vw;
  width: 100%;

  @media only screen and (max-device-width: 425px) {
    font-size: 1.75em;
    margin: 1vw;
    margin-top: 31vw;
  }
}

.feedBackBar {
  position: absolute;
  width: 95%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.commentPanelButton {
  width: 3vw;
  height: 3vw;
  background-color: var(--dark-gray);
  color: var(--primary-text);
  border: 8px solid var(--dark-gray);
  margin: 1vw;
  margin-right: calc(1vw + 16px);
  font-size: 0.7em;
  font-weight: bolder;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0vw black);
  transition: filter 0.1s;

  &:hover {
    filter: drop-shadow(0 0 0.15vw black);
  }
}

#commentLoading {
  width: 70%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#commentLoading > img {
  width: 100%;
}

@media only screen and (max-device-width: 425px) {
  .commentPanelButton {
    transform: scale(0.7);
    margin-bottom: 2.5vw;
  }
}

//
// Animation
//

@keyframes slideIn {
  0% {
    margin-left: 0px;
    opacity: 0;
  }
  100% {
    margin-left: 2vw;
    opacity: 100;
  }
}

@keyframes openPost {
  0% {
    width: 50vw;
    height: 20vw;
    transform: rotateY(0deg);
    background-image: linear-gradient(
      -21deg,
      var(--light-gray) 0%,
      var(--light-gray) 50%,
      var(--dark-gray) 50%,
      var(--dark-gray) 100%
    );
  }
  50% {
    width: 50vw;
    height: 20vw;
    transform: rotateY(90deg);
    background-image: linear-gradient(
      -21deg,
      var(--light-gray) 0%,
      var(--light-gray) 50%,
      var(--dark-gray) 50%,
      var(--dark-gray) 100%
    );
  }
  52% {
    width: 50vw;
    height: 20vh;
    transform: rotateY(90deg);
    background-image: linear-gradient(
      0deg,
      var(--light-gray) 0%,
      var(--light-gray) 0%,
      var(--dark-gray) 0%,
      var(--dark-gray) 100%
    );
  }
  100% {
    width: 95vw;
    height: 85vh;
    transform: rotateY(0deg);
  }
}

@keyframes closePost {
  0% {
    width: 95vw;
    height: 85vh;
    transform: rotateY(0deg);
  }
  48% {
    width: 50vw;
    height: 20vh;
    transform: rotateY(90deg);
    background-image: linear-gradient(
      0deg,
      var(--light-gray) 0%,
      var(--light-gray) 0%,
      var(--dark-gray) 0%,
      var(--dark-gray) 100%
    );
  }
  50% {
    width: 50vw;
    height: 20vw;
    transform: rotateY(90deg);
    background-image: linear-gradient(
      -21deg,
      var(--light-gray) 0%,
      var(--light-gray) 50%,
      var(--dark-gray) 50%,
      var(--dark-gray) 100%
    );
  }
  100% {
    width: 50vw;
    height: 20vw;
    transform: rotateY(0deg);
    background-image: linear-gradient(
      -21deg,
      var(--light-gray) 0%,
      var(--light-gray) 50%,
      var(--dark-gray) 50%,
      var(--dark-gray) 100%
    );
  }
}

@keyframes openPostMobile {
  0% {
    width: 94vw;
    height: 36.154vw;
    transform: rotateY(0deg);
    background-image: linear-gradient(
      -21deg,
      var(--light-gray) 0%,
      var(--light-gray) 50%,
      var(--dark-gray) 50%,
      var(--dark-gray) 100%
    );
  }
  50% {
    width: 94vw;
    height: 36.154vw;
    transform: rotateY(90deg);
    background-image: linear-gradient(
      -21deg,
      var(--light-gray) 0%,
      var(--light-gray) 50%,
      var(--dark-gray) 50%,
      var(--dark-gray) 100%
    );
  }
  52% {
    width: 94vw;
    height: 36.154vw;
    transform: rotateY(90deg);
    background-image: linear-gradient(
      0deg,
      var(--light-gray) 0%,
      var(--light-gray) 0%,
      var(--dark-gray) 0%,
      var(--dark-gray) 100%
    );
  }
  100% {
    width: 100vw;
    height: 90vh;
    transform: rotateY(0deg);
  }
}

@keyframes closePostMobile {
  0% {
    width: 100vw;
    height: 90vh;
    transform: rotateY(0deg);
  }
  48% {
    width: 100vw;
    height: 36.154vw;
    transform: rotateY(90deg);
    background-image: linear-gradient(
      0deg,
      var(--light-gray) 0%,
      var(--light-gray) 0%,
      var(--dark-gray) 0%,
      var(--dark-gray) 100%
    );
  }
  50% {
    width: 94vw;
    height: 36.154vw;
    transform: rotateY(90deg);
    background-image: linear-gradient(
      -21deg,
      var(--light-gray) 0%,
      var(--light-gray) 50%,
      var(--dark-gray) 50%,
      var(--dark-gray) 100%
    );
  }
  100% {
    width: 94vw;
    height: 36.154vw;
    transform: rotateY(0deg);
    background-image: linear-gradient(
      -21deg,
      var(--light-gray) 0%,
      var(--light-gray) 50%,
      var(--dark-gray) 50%,
      var(--dark-gray) 100%
    );
  }
}
