@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.post {
  display: flex;
  position: absolute;
  filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));
  width: 80%;
  height: calc(85vh - 5rem);
  font-size: 3rem;
  margin-left: 7%;
  margin-top: calc(7vh + 1.8rem);
  overflow: hidden;
  opacity: 1;
  z-index: 2;
  transition:
    opacity 1s,
    transform 1s,
    filter 1s;
  transition-timing-function: cubic-bezier(0.88, 0, 0.12, 1);
  transform: scale(1);
  filter: blur(0);

  .backButton {
    @include mixins.flexCenter;
    width: 1em;
    height: 1em;
    margin: 0;
    margin-left: calc(4.25% - 0.5em);
    padding: 0;
    border: variables.$borderThinLightGray;
    position: fixed;
    font-size: 2rem;
    color: variables.$lightGray;
    background-color: variables.$darkGray;
    cursor: pointer;
    z-index: 100;

    svg {
      font-size: 1.5em;
      transition: transform 0.2s;
      transition-timing-function: cubic-bezier(0.88, 0, 0.12, 1);
    }

    &:hover {
      svg {
        transform: scale(1.2);
      }
    }
  }

  .postContent {
    display: flex;
    flex-direction: column;
    color: variables.$primaryText;
    font-size: 0.55em;
    width: calc(70% - 1.5rem);
    height: 100%;
    margin-right: 0;
    margin-top: auto;

    *::selection {
      color: variables.$darkGray;
      background-color: var(--article-colour);
    }

    .title {
      @include mixins.russoFont;
      width: 70%;
      min-height: 1.2em;
      margin: 0;
      margin-left: 10%;
      margin-bottom: 1rem;
      padding-left: 10%;
      padding-right: 10%;
      border-left: variables.$borderThinLightGray;
      border-right: variables.$borderThinLightGray;
      background-color: variables.$darkGray;

      span {
        height: 1em;
        position: absolute;
        z-index: 2;
      }

      &::before {
        @include mixins.gridPatternDark;
        width: calc(62% - 0.3rem);
        height: 1.19em;
        margin-left: 7%;
        left: 0;
        position: absolute;
        mask: linear-gradient(
          90deg,
          black 0%,
          transparent 10%,
          transparent 90%,
          black 100%
        );
        content: "";
      }
    }

    .date {
      @include mixins.russoFont;
      width: 70%;
      min-height: 1.2em;
      margin: 0;
      margin-left: 10%;
      margin-bottom: 1rem;
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      align-items: center;
      font-size: 1em;
      border-left: variables.$borderThinLightGray;
      border-right: variables.$borderThinLightGray;
      background-color: variables.$darkGray;

      span {
        z-index: 2;
      }

      svg {
        margin-right: 0.5em;
        z-index: 2;
      }

      &::before {
        @include mixins.gridPatternDark;
        width: calc(62% - 0.3rem);
        height: 1.19em;
        margin-left: 7%;
        left: 0;
        position: absolute;
        mask: linear-gradient(
          90deg,
          black 0%,
          transparent 10%,
          transparent 90%,
          black 100%
        );
        content: "";
      }
    }

    main {
      @include mixins.lightScrollBar;
      width: 70%;
      height: 100%;
      margin-left: 10%;
      padding-left: 10%;
      padding-right: 10%;
      border-left: variables.$borderThinLightGray;
      border-right: variables.$borderThinLightGray;
      background-color: variables.$darkGray;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      z-index: 2;
      transition: height 1s;
      transition-timing-function: cubic-bezier(0.88, 0, 0.12, 1);

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        z-index: 2;
      }

      div {
        z-index: 2;
      }

      &::-webkit-scrollbar {
        width: 0.25em;
      }

      &::before {
        @include mixins.gridPatternDark;
        width: calc(62% - 0.45rem - 0.25em);
        height: 100%;
        margin-left: 7%;
        left: 0;
        position: absolute;
        mask: linear-gradient(
          90deg,
          black 0%,
          transparent 10%,
          transparent 90%,
          black 100%
        );
        transition: height 1s;
        transition-timing-function: cubic-bezier(0.88, 0, 0.12, 1);
        content: "";
      }
    }
  }

  .commentPanel {
    position: absolute;
    width: 30%;
    height: calc(85vh - 5rem);
    margin-left: auto;
    margin-right: auto;
    top: 0;
    right: 0;
    font-size: 1em;
  }

  .comments {
    height: calc(85vh - 9.8rem - 5em);
    margin-left: auto;
    border-left: variables.$borderThinLightGray;
    border-right: variables.$borderThinLightGray;
    background-color: variables.$darkGray;
    overflow-y: scroll;
    animation: slideInComments 2s 1 ease-in-out;

    &::-webkit-scrollbar {
      width: 0.2em;
      height: 0.2em;
      background: variables.$lightGray;
    }

    &::-webkit-scrollbar-track {
      background: variables.$lightGray;
    }

    &::-webkit-scrollbar-thumb {
      background: variables.$darkGray;
      border: 0.1vw solid variables.$lightGray;
    }

    &::before {
      @include mixins.gridPatternDark;
      width: calc(100% - 0.4em);
      height: 100%;
      position: absolute;
      animation: slideInComments 2s 1 ease-in-out;
      mask: linear-gradient(
        90deg,
        black 0%,
        transparent 15%,
        transparent 85%,
        black 100%
      );
      content: "";
    }
  }

  &.hide {
    margin-top: -75vh;
    z-index: 0;
    transition:
      opacity 1s,
      transform 1s,
      filter 1s,
      margin 1s;
    transition-timing-function: cubic-bezier(0.88, 0, 0.12, 1);

    .postContent {
      main {
        height: 0%;

        &::before {
          height: 0%;
        }
      }
    }
  }

  @media only screen and (min-aspect-ratio: 20/9) {
    width: 60%;
    margin-left: 17%;
  }
}

@keyframes slideIn {
  0% {
    width: 0;
    border-width: 0;
  }
  50% {
    width: 0;
    border-width: 0;
  }
  100% {
    width: calc(100% - 0.3rem);
    border-width: 0.15rem;
  }
}

@keyframes slideInComments {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(90vh - 4.8rem - 2em);
  }
}

@keyframes slideUp {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(0.1em);
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    filter: blur(0.05em);
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    filter: blur(0em);
    transform: scale(1);
  }
}
