#articlesPage {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.articlesPageContainer {
  width: 50%;
  margin-left: auto;
}
.articleCard {
  width: 100%;
  height: 40vw;
  background-color: var(--dark-gray);
  margin: -20px;
  filter: drop-shadow(4px 4px 0px black);
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  transform: rotate3d(4, 0.2, 0.5, 30deg) scale(0.9);
}

.articleCard:hover {
  width: 150%;
  filter: drop-shadow(20px 20px 0px black);
  transform: rotate3d(4, 0.2, 0.5, -30deg) scale(1) translateX(-50%);
  z-index: 200;
  animation-name: expand;
  animation-duration: 1s;
}

.articleCard.shrink {
  animation-name: close;
  animation-duration: 1s;
}

.articleCardItem {
  display: flex;
  flex-direction: row;
  height: 750px;
  cursor: pointer;
}

.articleCardItem  > div {
  width: 50vw;
  display: flex;
  flex-direction: column;
  color: var(--light-gray);
}

.articleCardItem  > div > aside {
  width: 23vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: rotate3d(1, 1, 0.5, 30deg);
  color: var(--dark-gray);
  filter: drop-shadow(2px 2px 0px black);
  z-index: -10;
  font-size: 1.6vw;
}

.articleCardItem > div > div {
  margin-top: 28vw;
  border-top: 10vw solid var(--light-gray);
  border-right: 10vw solid transparent;
}
.articleCardItem > div > section {
  position: absolute;
  color: var(--dark-gray);
  width: 99%;
  height: 99%;
  display: flex;
  align-items: flex-end;
}

.articleCardItem > div > section > h1 {
  margin-left: 20px;
  margin-top: -20px;
  font-size: 2.4vw;
}
.articleCardItem > div > img {
  position: absolute;
  width: 50vw;
  background-color: var(--dark-gray);
}
.fade {
  opacity: 0;
  animation-name: fadeAway;
  animation-duration: 1s;
}
.fadeIn {
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 1s;
}

#articlesSearchTab {
  color: var(--light-gray);
  background-color: var(--dark-gray);
  position: -webkit-sticky;
  position: sticky;
  margin: 20px;
  top: 15vh;
  height: 70vh;
  width: 20vw;
  filter: drop-shadow(3px 3px 0px black);
  transform: rotate3d(-3, 30, 6, -20deg) ;
}

@keyframes fadeAway {
  0%{opacity: 1};
  100%{opacity: 0;};
}

@keyframes fadeIn {
  0%{opacity: 0};
  100%{opacity: 1;};
}

@keyframes expand {
  0%{
    width: 100%;
    filter: drop-shadow(2px 2px 0px black);
    transform: rotate3d(4, 0.2, 0.5, 30deg) scale(0.8) translateX(0%);
  }
  50%{
    width: 100%;
    filter: drop-shadow(20px 20px 0px black);
    transform: rotate3d(4, 0.2, 0.5, -30deg) scale(1) translateX(-25%);
  }
  100%{
    width: 150%;
    filter: drop-shadow(20px 20px 0px black);
    transform: rotate3d(4, 0.2, 0.5, -30deg) scale(1) translateX(-50%);
  }
}

@keyframes close {
  0%{
    width: 150%;
    filter: drop-shadow(20px 20px 0px black);
    transform: rotate3d(4, 0.2, 0.5, -30deg) scale(1) translateX(-50%);
  }
  50%{
    width: 150%;
    filter: drop-shadow(20px 20px 0px black);
    transform: rotate3d(4, 0.2, 0.5, -30deg) scale(1) translateX(-50%);
  }
  100%{
    width: 100%;
    filter: drop-shadow(20px 20px 0px black);
    transform: rotate3d(4, 0.2, 0.5, -30deg) scale(1) translateX(-50%);
  }
}