.codeBlock {
  font-size: 0.5em;
  tab-size: 2;
}
.codeBlock > * {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-device-width: 425px) {
  .codeBlock {
    font-size: 0.35em;
  }
}