#homePage {
  display: flex;
  flex-direction: column;
  font-size: 1.6vw;
  overflow: hidden;
  margin-bottom: -8.5vh;
  backdrop-filter: blur(10px) brightness(2);
  background-color: rgb(80, 80, 80, 0.4);
}

.divider {
  height: 2vw;
  width: 100vw;
  background-color: var(--dark-gray);
}

/* Part 1 */
#homePageRobot, #homePageRobotFade {
  height: 54vw;
  padding-left: 6vw;
  padding-right: 48vw;
  margin-top: -4vh;
  position: absolute;
  z-index: -1;
  animation-name: robotFadeIn;
  animation-timing-function: linear;
  animation-duration: 4s;
}

#homePageRobotFade {
  opacity: 0;
  animation-name: robotFadeIn2;
}

#part1, #part2 {
  width: 100vw;
  height: 100vh;
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);
  z-index: -1;
}

#part1 > .gradient1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    -45deg,
    transparent 57%,
    var(--light-gray) 57%,
    var(--light-gray) 59%,
    var(--dark-gray) 59%,
    var(--dark-gray) 62%,
    transparent 62%
  );
  animation-name: gradientSlide;
  animation-timing-function: linear;
  animation-duration: 0.75s;
}

#part1 > .gradient2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    -45deg,
    transparent 13%,
    var(--dark-gray) 13%,
    var(--dark-gray) 53%,
    transparent 53%
  );
  animation-name: gradientSlide;
  animation-timing-function: linear;
  animation-duration: 0.75s;
}

#part1 > h1, #part1 > h4 {
  color: var(--light-gray);
  margin: 0;
  padding: 0;
  transform: skewY(-45deg);
  animation-name: fadeIn;
  animation-timing-function: linear;
  animation-duration: 2s;
}

#part1 > h1 {
  font-size: 2.5em;
  margin-left: 10vw;
  margin-top: -2.6vw;
}

#part1 > h4 {
  color: var(--dark-gray);
  font-size: 0.9em;
  margin-left: 15vw;
  margin-top: 1.8vw;
}

#part1 > p {
  width: 48vw;
  color: var(--light-gray);
  right: 20vw;
  bottom: 0;
  position: absolute;
  animation-name: fadeIn;
  animation-timing-function: linear;
  animation-duration: 2s;
}

/* Part 2 */
#part2 > img {
  position: absolute;
  width: 40vw;
  z-index: 1;
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);
}

#part2 > .gradient1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    -16.5deg,
    transparent 55.3%,
    var(--dark-gray) 55.3%,
    var(--dark-gray) 63%,
    transparent 63%
  );
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);
}

#part2 > .gradient2 {
  position: absolute;
  width: 100%;
  height: 20%;
  margin-top: 35%;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);
}

#part2 > .gradient2  > p {
  color: var(--light-gray);
  padding: 1vw;
}

#part2 > h2 {
  position: absolute;
  font-size: 3.5em;
  color: var(--light-gray);
  transform: skewY(-16.5deg);
  margin-left: 39vw;
  margin-top: 7vw;
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);
  cursor: default;
}

#part2 > h4 {
  position: absolute;
  font-size: 1.5em;
  color: var(--light-gray);
  transform: skewY(-16.5deg);
  margin-left: 40vw;
  margin-top: 15vw;
  cursor: default;
}

#part2 > .imageCollection {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5vw; */
  margin-top: -10vw;
  z-index: -1;
  right: 0;
  transform: skewY(6deg) scale(1.4);
  flex-wrap: wrap;
  filter: blur(5px);
}

#part2 > .imageCollection > img {
  width: 32%;
  height: 32%;
  margin: 0.5vw;
}

@keyframes gradientSlide {
  0% { margin-left: 100%; margin-top: -100%; }
  100% { margin-left: 0%; margin-top: 0%; }
}

@keyframes fadeIn {
  0% { opacity: 0; filter: blur(30px) brightness(0) }
  50% { opacity: 0; filter: blur(30px) brightness(0) }
  75% { opacity: 1; filter: blur(50px) brightness(2) }
  100% { opacity: 1; filter: blur(0px) brightness(1) }
}

@keyframes robotFadeIn {
  0% { margin-top: 0vh; opacity: 0; filter: blur(30px) brightness(0) }
  50% { opacity: 0; filter: blur(30px) brightness(0) }
  75% { opacity: 1; filter: blur(50px) brightness(0) }
  90% { opacity: 1; filter: blur(0px) brightness(0) }
  100% { margin-top: -4vh; opacity: 1; filter: blur(0px) brightness(1) }
}

@keyframes robotFadeIn2 {
  0% { margin-top: 0vh; opacity: 0; filter: blur(30px) brightness(0) }
  50% { opacity: 0; filter: blur(30px) brightness(0) }
  75% { opacity: 1; filter: blur(50px) brightness(0) }
  90% { opacity: 1; filter: blur(20px) brightness(10) }
  100% { margin-top: -4vh; opacity: 0; filter: blur(100px) brightness(0) }
}

@media only screen and (max-width: 425px) {

}