#homePage {
  display: flex;
  flex-direction: column;
  font-size: 1.6vw;
  height: 100vh;
  overflow: hidden;
  margin-bottom: -8.5vh;
}
#homePage > p {
  color: var(--dark-gray);
  /* background-color: var(--light-gray); */
  font-size: 1.5em;
  z-index: 10;
  width: 60%;
  margin-bottom: 300px;
  margin-top: -150px;
  text-align: center;
  -webkit-text-stroke: 1px black;
}
#homePage > .right {
  flex-direction: row-reverse;
} 
#homePage > .right > div {
  border-right: none;
  border-top: 400px solid transparent;
  border-left: 400px solid var(--dark-gray);
} 

#homePageRobot {
  height: 120vh;
  padding-left: 4vw;
  padding-right: 48vw;
  margin-top: -4vh;
  background-image: linear-gradient(-45deg, transparent 70%, var(--dark-gray) 70%, var(--dark-gray) 79%, transparent 79%);
  filter: drop-shadow(2px 2px 0px #FFFF00);
  position: absolute;
  z-index: -1;
}

#part1 {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    -45deg,
    transparent 13%,
    var(--dark-gray) 13%,
    var(--dark-gray) 53%,
    transparent 53%,
    transparent 57%,
    var(--light-gray) 57%,
    var(--light-gray) 59%,
    var(--dark-gray) 59%,
    var(--dark-gray) 62%,
    transparent 62%
  );
  filter: drop-shadow(2px 2px 0px #FFFF00);
}

#part1 > h1, #part1 > h4 {
  color: var(--light-gray);
  margin: 0;
  padding: 0;
  transform: skewY(-45deg);
}

#part1 > h1 {
  font-size: 2.5em;
  margin-left: 10vw;
  margin-top: -2.6vw;
}
#part1 > h4 {
  color: var(--dark-gray);
  font-size: 0.9em;
  margin-left: 15vw;
  margin-top: 1.8vw;
}

#part1 > p {
  width: 48vw;
  color: var(--light-gray);
  right: 20vw;
  bottom: 0;
  position: absolute;
}

#scrollToOne {
  position: absolute;
}

#homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

#homePageBackground {
  width: 100vw;
  height: 120vh;
  position: fixed;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(0,0,0,0.5));
  margin-top: -40vh;
}

.homePageInfoDiv {
  width: 110%;
  height: 400px;
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 200px;
  margin-left: -10%;
  transform: rotateX(20deg) rotateY(-30deg) rotateZ(10deg);
  filter: drop-shadow(5px 0px 0px black);
}

.homePageInfoDivFlipped {
  margin-right: -20%;
  filter: drop-shadow(-5px 0px 0px black);
}

.homePageInfoDiv > video {
  height: 100%;
}
.homePageInfoDiv > p {
  width: 50%;
  color: var(--light-gray);
  font-size: 1.2em;
  margin: 10px;
}

.homePageInfoDiv > .codeBlock {
  width: 40%;
  height: 100%;
}

@media only screen and (max-width: 1362px) {
  #homePage {
    font-size: 20px;
  }
  #homePage > video {
    width: 100%;
    margin-bottom: -200px;
    margin-top: 40px;
  }
  .homeVideo > video {
    height: 300px;
  }
  .homeVideo > div {
    height: 300px;
    border-top: 300px solid var(--dark-gray);
    border-right: 300px solid transparent;
  }
  #homePage > .right > div {
    border-right: none;
    border-top: 300px solid transparent;
    border-left: 300px solid var(--dark-gray);
  } 
}

@media only screen and (max-width: 853px) {
  #homePage {
    font-size: 15px;
    margin-left: 3%;
  }
  #homePage > p {
    width: 90%;
  }
  #homePage > video {
    width: 100%;
    margin-top: 40px;
    margin-bottom: -100px;
  }
  .homeVideo > video {
    height: 300px;
  }
  .homeVideo > div {
    height: 300px;
    border-top: 300px solid var(--dark-gray);
    border-right: 300px solid transparent;
  }
  #homePage > .right > div {
    border-right: none;
    border-top: 300px solid transparent;
    border-left: 300px solid var(--dark-gray);
  } 
  #homePage > u {
    border-width: 5px;
    border-left-width: 20px;
    border-right-width: 20px;
  }
}

@media only screen and (max-width: 425px) {
  #homePage {
    width: 100vw;
    font-size: 8px;
    margin-left: 3%;
    overflow: hidden;
    margin-left: -27px;
  }
  #homePage > p {
    width: 80%;
    margin-bottom: 100px;
    margin-top: 25px;
    margin-left: 8%;
    font-size: 1.5em;
  }
  #homePageRobot {
    width: 200%;
    position: relative;
    z-index: -1;
    margin-top: -50px;
    margin-bottom: -90%;
    filter: drop-shadow(2px 2px 0px black) drop-shadow(4px 2px 0px rgba(0,0,0,0.75)) drop-shadow(8px 2px 0px rgba(0,0,0,0.5)) drop-shadow(12px 2px 0px rgba(0,0,0,0.25));
  }
  #homePageContainer {
    height: 30vh;
    margin-top: 15vh;
  }
  #homePageContainer > h1 {
    white-space: nowrap;
    font-size: 4.5em;
    transform: rotateY(-45deg) rotateZ(-20deg) skewX(-20deg);
    margin-left: -0vw;
  }
  #homePageContainer > h4 {
    font-size: 2.3em;
    transform: rotateY(-45deg) rotateZ(-20deg) skewX(-20deg);
    margin-top: 20px;
    margin-left: -100px;
  }
  .homePageInfoDiv {
    height: 100px;
    width: 100vw;
    margin-left: -5%;
    margin-bottom: 50px;
    filter: drop-shadow(2px 0px 0px black);
  }
  .homePageInfoDivFlipped {
    margin-right: 0%;
    padding-left: 20px;
  }
  .homePageInfoDiv > p {
    /* color: var(--dark-gray); */
    font-size: 1.5em;
  }
  .homePageInfoDiv > code {
    width: 50vw !important;
  }
  #homePageBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(0,0,0,0.5)); */
    background-image: none;
    margin-top: -6vh;
    margin-left: 23px;
  }
}

@keyframes robot {
  0%{filter:blur(6px) brightness(2) drop-shadow(5px 5px 0px black) drop-shadow(5px 5px 0px rgba(0,0,0,0.75)) drop-shadow(5px 5px 0px rgba(0,0,0,0.5)) drop-shadow(5px 5px 0px rgba(0,0,0,0.25));  opacity: 0;}
  50%{filter:blur(6px) brightness(2) drop-shadow(5px 5px 0px black) drop-shadow(5px 5px 0px rgba(0,0,0,0.75)) drop-shadow(5px 5px 0px rgba(0,0,0,0.5)) drop-shadow(5px 5px 0px rgba(0,0,0,0.25));  opacity: 0;}
  75%{filter:blur(20px) brightness(3) drop-shadow(5px 5px 0px black) drop-shadow(7.5px 5px 0px rgba(0,0,0,0.75)) drop-shadow(12.5px 5px 0px rgba(0,0,0,0.5)) drop-shadow(20px 5px 0px rgba(0,0,0,0.25));  opacity: 0.5;}
  100%{filter:blur(0px) brightness(1) drop-shadow(5px 5px 0px black) drop-shadow(10px 5px 0px rgba(0,0,0,0.75)) drop-shadow(20px 5px 0px rgba(0,0,0,0.5)) drop-shadow(35px 5px 0px rgba(0,0,0,0.25));  opacity: 1;}
}