.paragraph {
  color: var(--light-gray);
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
  margin-top: 30px;
}
.paragraph > div > p > a {
  color: rgb(45, 29, 83) !important;
}

.paragraph > div > p > em {
  color: var(--light-gray);
  filter: brightness(1.2);
}

.paragraph > div > p > strong {
  color: var(--light-gray);
  opacity: 0.7;
  filter: drop-shadow(1px 1px 0px black) drop-shadow(-1px -1px 0px black) drop-shadow(1px -1px 0px black) drop-shadow(-1px 1px 0px black);
  text-shadow: 2px 2px 0px black;
}

/* .paragraph:hover {
  text-shadow: 2px 2px 0px black;
} */

@media only screen and (max-width: 853px) {
  .paragraph {
    font-size: 0.7em;
  }
  .paragraph > div > p > strong {
    text-shadow: none;
  }
}

@media only screen and (max-width: 480px) {
  .paragraph {
    font-size: 0.55em;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}