.post, .closed {
  display: flex;
  filter: drop-shadow(10px 5px 0px black);
  margin-left: 30px;
  margin-top: 30px;
  width: 50vw;
  height: 20vw;
  background-image:linear-gradient(-21deg, var(--light-gray) 0%, var(--light-gray) 50%, var(--dark-gray) 50%,  var(--dark-gray) 100%);
  font-size: 2.4vw;
  cursor: pointer;
  overflow: hidden;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: filter 0.3s, margin 0.3s;
}
.post  {
  animation-name: slideIn;
  animation-duration: 2s;
}
.closed  {
  animation-name: closePost;
  animation-duration: 1.4s;
}

.expanded {
  display: flex;
  filter: drop-shadow(10px 5px 0px black);
  width: 90vw;
  height: 85vh;
  background-image:linear-gradient(0deg, var(--light-gray) 0%, var(--light-gray) 0%, var(--dark-gray) 0%,  var(--dark-gray) 100%);
  font-size: 3.4vw;
  margin-left: 5vw;
  margin-top: 30px;
  overflow: hidden;
  animation-name: openPost;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.post:hover{
  filter: drop-shadow(20px 15px 0px black);
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.post > img, .expanded > img {
  display: block;
  width: 37vw;
  height: auto;
  filter: invert(0.5);
  opacity: 0.2;
}

.postContent {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  font-size: 0.6em;
  width: 100%;
  height: 80%;
  margin: 2%;
  margin-top: 7%;
  overflow-y: scroll;
}

.shrunk {
  width: 67%;
}

.postContent::-webkit-scrollbar {
  background: var(--light-gray);
  outline: 4px solid var(--dark-gray);
}
.postContent::-webkit-scrollbar-track {
  background: var(--light-gray);
}
.postContent::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
}

.postContent > .jsx-parser {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.postContent > .jsx-parser > img {
  max-width: 50% !important;
}

.postContent > .jsx-parser > p, .postContent > .jsx-parser > span, .postContent > .jsx-parser > h1 {
  width: 95% !important;
}

.post > h1, .expanded > h1 {
  position: absolute;
  font-size: 1em;
  color:var(--light-gray);
  margin: 4px;
  margin-top: -6px;
}

.commentPanel {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: var(--dark-gray);
  margin-top: 1% !important;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  right: 0;
  margin-top: 130px;
  filter: drop-shadow(8px 8px 0px black);
}

.commentPanel > textarea {
  width: 70%;
  height: 110px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--light-gray);
  color: var(--light-gray);
  font-size: 0.75em;
  margin-left: 5%;
  resize: none;
}
.commentPanel > button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--light-gray);
  font-size: 1em;
}
.commentPanel > button:hover {
  cursor: pointer;
  text-shadow: 2px 2px 0px black;
}

.commentPanel > div {
  overflow-y: scroll;
  height: 70%;
  margin-top: 10%;
}

.commentPanel > div::-webkit-scrollbar {
  background: var(--light-gray);
  outline: 4px solid var(--dark-gray);
}

.commentPanel > div::-webkit-scrollbar-track {
  background: var(--light-gray);
}

.commentPanel > div::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border: 2px solid var(--light-gray);
}

.post > h2, .expanded > h2 {
  font-size: 1em;
  color:var(--dark-gray);
  text-align: right;
  margin: 4px;
  margin-top: 17vw;
  width: 100%;
}

.feedBackBar {
  position: absolute;
  width: 95%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.commentPanelButton {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  border: 8px solid var(--dark-gray);
  margin: 5px;
  font-size: 0.7em;
  font-weight: bolder;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (max-device-width: 853px) {

}

@media only screen and (max-device-width: 480px) {
  .post, .closed {
    width: 65vw;
    height: 25vw;
    margin-top: 15px;
  }
  .post > h1, .expanded > h1 {
    font-size: 1.7em;
    margin: 4px;
    margin-top: -2px;
  }
  .post > h2, .expanded > h2 {
    font-size: 1.7em;
    margin: 4px;
    margin-top: 20vw;
  }
  .shrunk {
    width: 100%;
    height: 45% !important;
  }
  .postContent {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    font-size: 1.2em;
    height: 90%;
    margin: 2%;
    margin-top: 7%;
  }
  .postContent > .jsx-parser {
    position: relative;
  }
  .postContent > .jsx-parser > img {
    max-width: 80% !important;
  }
  .commentPanel {
    display: inline;
    width: 100%;
    height: 50%;
    position: absolute;
    margin-top: 50%;
  }
  #commentArea {
    height: 10%;
  }
  .commentPanel > .comments > .comment {
    min-height: 0;
  }
}


@keyframes slideIn {
  0%{margin-left: 0px; opacity: 0; }
  100%{margin-left: 30px; opacity: 100;}
}

@keyframes openPost {
  0%{ width: 50vw; height: 20vw; transform: rotateY(0deg); background-image:linear-gradient(-21deg, var(--light-gray) 0%, var(--light-gray) 50%, var(--dark-gray) 50%,  var(--dark-gray) 100%); }
  50%{ width: 50vw; height: 20vw; transform: rotateY(90deg); background-image:linear-gradient(-21deg, var(--light-gray) 0%, var(--light-gray) 50%, var(--dark-gray) 50%,  var(--dark-gray) 100%); }
  52%{ width: 50vw; height: 20vh; transform: rotateY(90deg);  background-image:linear-gradient(0deg, var(--light-gray) 0%, var(--light-gray) 0%, var(--dark-gray) 0%,  var(--dark-gray) 100%); }
  100%{ width: 90vw; height: 85vh; transform: rotateY(0deg); }
}

@keyframes closePost {
  0%{ width: 90vw; height: 85vh; transform: rotateY(0deg); }
  48%{ width: 50vw; height: 20vh; transform: rotateY(90deg);  background-image:linear-gradient(0deg, var(--light-gray) 0%, var(--light-gray) 0%, var(--dark-gray) 0%,  var(--dark-gray) 100%); }
  50%{ width: 50vw; height: 20vw; transform: rotateY(90deg); background-image:linear-gradient(-21deg, var(--light-gray) 0%, var(--light-gray) 50%, var(--dark-gray) 50%,  var(--dark-gray) 100%); }
  100%{ width: 50vw; height: 20vw; transform: rotateY(0deg); background-image:linear-gradient(-21deg, var(--light-gray) 0%, var(--light-gray) 50%, var(--dark-gray) 50%,  var(--dark-gray) 100%); }
}

@keyframes openPostMobile {
  0%{ width: 65vw; height: 35vw; transform: rotateY(0deg); background-image:linear-gradient(-21deg, var(--light-gray) 0%, var(--light-gray) 50%, var(--dark-gray) 50%,  var(--dark-gray) 100%); }
  50%{ width: 65vw; height: 35vw; transform: rotateY(90deg); background-image:linear-gradient(-21deg, var(--light-gray) 0%, var(--light-gray) 50%, var(--dark-gray) 50%,  var(--dark-gray) 100%); }
  52%{ width: 65vw; height: 20vh; transform: rotateY(90deg);  background-image:linear-gradient(0deg, var(--light-gray) 0%, var(--light-gray) 0%, var(--dark-gray) 0%,  var(--dark-gray) 100%); }
  100%{ width: 90vw; height: 85vh; transform: rotateY(0deg); }
}

@keyframes closePostMobile {
  0%{ width: 90vw; height: 85vh; transform: rotateY(0deg); }
  48%{ width: 65vw; height: 20vh; transform: rotateY(90deg);  background-image:linear-gradient(0deg, var(--light-gray) 0%, var(--light-gray) 0%, var(--dark-gray) 0%,  var(--dark-gray) 100%); }
  50%{ width: 65vw; height: 35vw; transform: rotateY(90deg); background-image:linear-gradient(-21deg, var(--light-gray) 0%, var(--light-gray) 50%, var(--dark-gray) 50%,  var(--dark-gray) 100%); }
  100%{ width: 65vw; height: 35vw; transform: rotateY(0deg); background-image:linear-gradient(-21deg, var(--light-gray) 0%, var(--light-gray) 50%, var(--dark-gray) 50%,  var(--dark-gray) 100%); }
}
