#reviewPage {
  font-size: 30px;
}
#reviewPage > div >.articleContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  width: 65%;
  filter: drop-shadow(8px 5px 0px black);
  /* margin-left: 1%; */
  border-left: 1vw solid var(--light-gray);
}
.articleContainer > ul {
  width: 100%;
}
#reviewPage > div {
  display: flex;
}

.commentPanel {
  position: sticky;
  width: 30%;
  height: 70vh;
  background-color: var(--dark-gray);
  margin-left: auto;
  margin-right: auto;
  top: 210px;
  margin-top: 130px;
  filter: drop-shadow(8px 8px 0px black);
}

.commentPanel > button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--light-gray);
  font-size: 1em;
}
.commentPanel > button:hover {
  cursor: pointer;
  text-shadow: 2px 2px 0px black;
}
.commentPanel > div {
  overflow-y: scroll;
  height: 70%;
  margin-top: 5px;
  width: 99%;
}
.commentPanel > div::-webkit-scrollbar {
  background: var(--light-gray);
  outline: 4px solid var(--dark-gray);
}
.commentPanel > div::-webkit-scrollbar-track {
  background: var(--light-gray);
}
.commentPanel > div::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border: 2px solid var(--light-gray);
}

#loadingArticle {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0,0,0,0.5),  rgba(255,255,255,0), rgba(255,255,255,0));
}
#loadingArticle > h3 {
  color:var(--dark-gray);
  text-shadow: 2px 2px 0px black;
}
#loadingArticle > img {
  width: 50%;
  filter: drop-shadow(8px 8px 0px black);
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}
.mobile {
  display: none;  
  margin-top: 50px;
}

#mobileCommentButton {
  display: none;
}

#adAurisIframe {
    margin: auto;
}

@keyframes loading {
  0%{width: 40%; margin: 0%;}
  50%{width: 50%; margin: -2.8%;}
  100%{width: 40%; margin: 0%;}
}

@media only screen and (max-width: 1366px) {
  #reviewPage {
    font-size: 25px;
  }

  #reviewPage > div >.articleContainer {
    width: 65%;
    margin-right: auto;
  }

  .commentPanel {
    height: 65vh;
  }

  .commentPanel > div {
    height: 60%;
  }
}

@media only screen and (max-width: 853px) {
  #reviewPage > div >.articleContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   }
}

@media only screen and (max-width: 425px) {
  #mobileCommentButton {
    display: initial;
    position: fixed;
    background-color: var(--dark-gray);
    margin-left: 300px !important;
    margin-top: -30px;
  }
  #mobileCover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(50, 50, 50, 0.5);
  }
  #reviewPage > div >.articleContainer {
   width: 85%;
   margin-left: auto;
   font-size: 20px;
   overflow-x: hidden;
   filter: drop-shadow(2px 2px 0px black);
  }
  #loadingArticle > h3 {
    font-size: 0.5em;
    text-align: center;
  }
  #loadingArticle > img {
    filter: drop-shadow(8px 8px 0px black);
  }
  .commentPanel {
    display: initial;
    position: fixed;
    width: 80%;
    margin-top: 45%;
    left: 0;
    top: 0;
    z-index: 101;
    filter: drop-shadow(3px 3px 0px black);
    transition: margin-left 0.5s;
  }
  .commentPanel > div {
    height: 62%;
  }
  .commentPanel > textarea {
    width: 90%;
    height: 15%;
    font-size: 0.5em;
  }
  .commentPanel > button {
    margin-left: auto;
  }
  #adAurisIframe {
    width: 100vw !important;
    transform: scale(0.7);
    margin-left: -7.5vw;
  }
  @keyframes loading {
    0%{width: 80%; margin: 0%;}
    50%{width: 90%; margin: -2.8%;}
    100%{width: 80%; margin: 0%;}
  }
}