#reviewPage {
  font-size: 30px;
}
#reviewPage > div >.articleContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  width: 65%;
  filter: drop-shadow(8px 5px 0px black);
  /* margin-left: 1%; */
  border-left: 1vw solid var(--light-gray);
}
.articleContainer > ul {
  width: 100%;
}
#reviewPage > div {
  display: flex;
}
.likePanel {
  position: absolute;
  height: 50px;
  background-color: var(--dark-gray);
  margin-left: auto;
  margin-right: auto;
  margin-top: -130px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#shareBar {
  position: absolute;
  height: 50px;
  background-color: var(--dark-gray);
  margin-left: auto;
  margin-right: auto;
  margin-top: -65px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
#shareBar > div {
  width: 100%;
  color: var(--light-gray);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}
#shareBar > div > a {
  width: 50%;
  color: var(--light-gray);
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  transform: scale(2);
}

#shareBar > div > a:hover {
  filter: drop-shadow(2px 2px 0px black);
}
#shareBar > div > span {
  font-size: 0.6em;
}

.commentPanel {
  position: sticky;
  width: 30%;
  height: 70vh;
  background-color: var(--dark-gray);
  margin-left: auto;
  margin-right: auto;
  top: 210px;
  margin-top: 130px;
  filter: drop-shadow(8px 8px 0px black);
}
.commentPanel > textarea {
  width: 70%;
  height: 110px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--light-gray);
  color: var(--light-gray);
  font-size: 0.75em;
  margin-left: 5%;
  resize: none;
}
#commentLoading {
  width: 70%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#commentLoading > img {
  width: 50%;
}
.commentPanel > button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--light-gray);
  font-size: 1em;
}
.commentPanel > button:hover {
  cursor: pointer;
  text-shadow: 2px 2px 0px black;
}
.commentPanel > div {
  overflow-y: scroll;
  height: 70%;
  margin-top: 10%;
}
.commentPanel > div::-webkit-scrollbar {
  background: var(--light-gray);
  outline: 4px solid var(--dark-gray);
}
.commentPanel > div::-webkit-scrollbar-track {
  background: var(--light-gray);
}
.commentPanel > div::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border: 2px solid var(--light-gray);
}
.likePanel > button {
  color: var(--light-gray);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
}
.likePanel > #likeBar {
  width: 80%;
  height: 20%;
  background-color: var(--light-gray);
  margin-top: auto;
  margin-bottom: auto;
}
#loadingArticle {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0,0,0,0.5),  rgba(255,255,255,0), rgba(255,255,255,0));
}
#loadingArticle > h3 {
  color:var(--dark-gray);
  text-shadow: 2px 2px 0px black;
}
#loadingArticle > img {
  width: 50%;
  filter: drop-shadow(8px 8px 0px black);
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}
.mobile {
  display: none;  
  margin-top: 50px;
}

.likeOption {
  display: flex;
  align-items: center;
}

.likeOption > * {
  margin: 5px;
}

@keyframes loading {
  0%{width: 40%; margin: 0%;}
  50%{width: 50%; margin: -2.8%;}
  100%{width: 40%; margin: 0%;}
}
@media only screen and (max-width: 1362px) {
  .commentPanel {
    display: none;
  }
  .mobile {
    display: flex;  
    flex-direction: column;
    margin-top: 100px;
    width: 80%;
  }
  .mobile > textArea {
    width: 40%;
  }
  #reviewPage > div >.articleContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 853px) {
  #reviewPage > div >.articleContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   }
}

@media only screen and (max-width: 480px) {
  #reviewPage > div >.articleContainer {
   width: 90%;
   margin-left: 0;
  }
  .likePanel {
    height: 35px;
    margin-top: -110px;
  }
  .likePanel > button {
    font-size: 0.7em;
    padding-left: 5%;
    padding-right: 5%;
  }
  .likePanel > #likeBar {
    width: 80%;
    height: 15%;
  }
  #loadingArticle > h3 {
    font-size: 0.5em;
    text-align: center;
  }
  #loadingArticle > img {
    filter: drop-shadow(8px 8px 0px black);
  }
  .commentPanel {
    margin-top: 150px;
  }
  .commentPanel > textarea {
    width: 90%;
    font-size: 0.5em;
  }
  .commentPanel > button {
    margin-left: auto;
  }
  @keyframes loading {
    0%{width: 80%; margin: 0%;}
    50%{width: 90%; margin: -2.8%;}
    100%{width: 80%; margin: 0%;}
  }
}