.bossCard  {
  margin-bottom: 150px;
  margin-top: 100px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  filter: drop-shadow(-6px 3px 0px black);
  font-size: 17px;
}
.background1 {
  --gradientColour: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-top: 100px solid var(--light-gray);
  border-left: 100px solid transparent;
  width: 40%;
  z-index: 2;
  mask: linear-gradient(45deg, black 20%, var(--gradientColour) 20%, var(--gradientColour) 22%, black 22%, black 24%, var(--gradientColour) 24%, var(--gradientColour) 26%, black 26%);
}
.background2 {
  position: absolute;
  border-top: 100px solid var(--dark-gray);
  border-left: 100px solid transparent;
  width: 40.5%;
  margin-top: 15px;
  /* margin-left: 4px;
  animation-name: title-glow;
  animation-duration: 3s;
  animation-iteration-count: infinite; */
}

.bossCard > h2 {
  position: absolute;  
  text-align: right;
  color: var(--dark-gray);
  margin-top: 40px;
  margin-right: 5px;
  font-size: 2em;
  backdrop-filter: blur(3px);
  filter: drop-shadow(1px 1px 0px var(--light-gray)) drop-shadow(-1px -1px 0px var(--light-gray));
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 3;
  mask: linear-gradient(transparent, black 30%, black 70%, transparent 100%);
}
.bossCard > .imageContainer {
  position: absolute;
  display: flex;
  height: 350px;
  /* overflow-y: hidden; */
  margin-top: -250px;
  flex-direction: column-reverse;
  z-index: 3;
}
.bossCard > .imageContainer > img {
  max-height: 700px;
}

.bossCard > .imageContainer > .smaller {
  max-height: 300px;
}

.bossCard > .imageContainer > .extraSmaller {
  max-height: 200px;
}

.imageContainer.lower {
  margin-top: -160px;
} 

.imageContainer.higher {
  margin-top: -300px;
} 

.inverse > .background1, .inverse > .background2, .inverse > h2 {
  border-top-color: #141414;
  color: var(--light-gray);
}

.backgroundGlow {
  transform: scale(1.01);
  mix-blend-mode: lighten;
  position: absolute;
  opacity: 0.6;
  animation-name: glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: -1;
}

.background2Glow {
  mix-blend-mode: lighten;
  position: absolute;
  opacity: 1;
  animation-name: glow2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: -1;
}

@media only screen and (max-width: 1536px) {
  .bossCard > h2 {
    font-size: 1.6em;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1280px) {
  .bossCard {
    margin-bottom: 150px;
    filter: drop-shadow(-3px 2px 0px black);
  }
  .bossCard > h2 {
    font-size: 1.2em;
    margin-top: 50px
  }
  .bossCard > .imageContainer {
    height: 200px;
    margin-top: -150px;
  }
  .imageContainer.lower {
    margin-top: -20px;
  } 
  .bossCard > .imageContainer > img {
    max-height: 130px;
    max-width: 25vw;
  }
  .bossCard > .background1 {
    border-width: 80px;
    margin-left: -2px;
  }
  .bossCard > .background2 {
    margin-top: 5px;
    border-width: 80px;
  }
}

@media only screen and (max-width: 853px) {
  .bossCard {
    margin-bottom: 100px;
    filter: drop-shadow(-3px 2px 0px black);
  }
  .bossCard > h2 {
    font-size: 0.7em;
    margin-top: 35px
  }
  .bossCard > .background1 {
    border-width: 60px;
    margin-left: -2px;
  }
  .bossCard > .background2 {
    margin-top: 5px;
    border-width: 60px;
  }
}

@media only screen and (max-width: 480px) {
  .bossCard {
    margin-top: 70px;
    margin-bottom: 50px;
    filter: drop-shadow(-3px 2px 0px black);
  }
  .bossCard > h2 {
    font-size: 0.5em;
    margin-bottom: -30px;
    height: auto;
    width: 70%;
    bottom: 0;
  }
  .bossCard > .background1 {
    border-width: 30px;
    margin-left: -2px;
  }
  .bossCard > .background2 {
    margin-top: 5px;
    border-width: 30px;
  }
  .bossCard > .imageContainer > img {
    max-height: 50px;
    max-width: 35vw;
    margin-bottom: 20px;
  }
  .bossCard > .imageContainer > .smaller {
    max-height: 50px;
  }
  .bossCard > .imageContainer {
    margin-top: -160px;
  }
  .imageContainer.lower {
    margin-top: -70px;
  } 
}

@keyframes title-glow {
  0%{filter:blur(2px) brightness(1.5);}
  50%{filter:blur(1px) brightness(1);}
  100%{filter:blur(2px) brightness(1.5);}
}

@keyframes glow {
  0%{filter:blur(6px) brightness(2);}
  50%{filter:blur(4px) brightness(1.5);}
  100%{filter:blur(6px) brightness(2);}
}

@keyframes glow2 {
  0%{filter:blur(6px) brightness(3);}
  50%{filter:blur(2px) brightness(1.5);}
  100%{filter:blur(6px) brightness(3);}
}