.terrariaText {
  color: white;
  font-size: 1.1em;
  font-family: Andy Bold;
  font-weight: 1000;
  display: inline-block;
  -webkit-text-stroke: 0.05vw black;
}

.draedon {
  animation-name: draedon-colour;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.yharim {
  animation-name: yharim-colour;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes draedon-colour{
  0% {color: #FF6392; filter: drop-shadow(0px 0px 3px #FF6392)}
  33% {color: #FFE45E; filter: drop-shadow(0px 0px 3px #FFE45E)}
  66% {color: #7FC8F8; filter: drop-shadow(0px 0px 3px #7FC8F8)}
  100% {color: #FF6392; filter: drop-shadow(0px 0px 3px #FF6392)}
}

@keyframes yharim-colour{
  0% {color: #FF8416; filter: drop-shadow(0px 0px 3px #FF8416)}
  50% {color: #DD5507; filter: drop-shadow(0px 0px 3px #DD5507)}
  100% {color: #FF8416; filter: drop-shadow(0px 0px 3px #FF8416)}
}