.bossCard  {
  margin-bottom: 280px;
  margin-top: 100px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  filter: drop-shadow(8px 5px 0px black);
  font-size: 30px;
}
.background1 {
  --gradientColour: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-top: 200px solid var(--light-gray);
  border-right: 200px solid transparent;
  width: 60%;
  mask: linear-gradient(-45deg, black 20%, var(--gradientColour) 20%, var(--gradientColour) 22%, black 22%, black 24%, var(--gradientColour) 24%, var(--gradientColour) 26%, black 26%);
}
.background2 {
  position: absolute;
  border-top: 200px solid var(--dark-gray);
  border-right: 200px solid transparent;
  width: 61%;
  margin-top: 20px;
  /* margin-left: 4px;
  animation-name: title-glow;
  animation-duration: 3s;
  animation-iteration-count: infinite; */
}
.bossCard > h2 {
  position: absolute;  
  color: var(--dark-gray);
  text-shadow: 4px 4px 0px;
  margin-top: 100px;
  font-size: 2em;
}
.bossCard > .imageContainer {
  position: absolute;
  display: flex;
  height: 350px;
  overflow-y: hidden;
  margin-top: -250px;
  flex-direction: column-reverse;
}
.bossCard > .imageContainer > img {
  max-height: 700px;
}

.imageContainer.lower {
  margin-top: -160px;
} 

.inverse > .background1, .inverse > .background2, .inverse > h2 {
  border-top-color: #141414;
  color: var(--light-gray);
}

.backgroundGlow {
  mix-blend-mode: lighten;
  position: absolute;
  opacity: 0.6;
  animation-name: glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: -1;
}

.background2Glow {
  margin-left: 11px;
  width: calc(61% - 9px);
  mix-blend-mode: lighten;
  position: absolute;
  opacity: 1;
  animation-name: glow2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: -1;
}


@media only screen and (max-width: 1536px) {
  .bossCard > h2 {
    font-size: 1.6em;
    margin-top: 125px;
  }
}

@media only screen and (max-width: 1280px) {
  .bossCard {
    margin-bottom: 150px;
    filter: drop-shadow(3px 2px 0px black);
  }
  .bossCard > h2 {
    font-size: 1.2em;
    margin-top: 70px
  }
  .bossCard > .imageContainer {
    height: 200px;
    margin-top: -130px;
  }
  .imageContainer.lower {
    margin-top: -120px;
  }
  .bossCard > .imageContainer > img {
    max-height: 130px;
  }
  .imageContainer.lower > img {
    max-height: 200px;
  } 
  .bossCard > .background1 {
    border-width: 125px;
    margin-left: -2px;
  }
  .bossCard > .background2 {
    margin-top: 5px;
    border-width: 125px;
  }
}

@media only screen and (max-width: 853px) {
  .bossCard {
    margin-bottom: 100px;
    filter: drop-shadow(3px 2px 0px black);
  }
  .bossCard > h2 {
    font-size: 0.7em;
    margin-top: 30px
  }
  .bossCard > .background1 {
    border-width: 75px;
    margin-left: -2px;
  }
  .bossCard > .background2 {
    margin-top: 5px;
    border-width: 75px;
  }
  .imageContainer.lower {
    margin-top: -150px;
  } 
  .imageContainer.lower > img {
    max-height: 140px;
  } 
}

@media only screen and (max-width: 480px) {
  .bossCard {
    margin-top: 70px;
    margin-bottom: 100px;
    filter: drop-shadow(3px 2px 0px black);
  }
  .bossCard > h2 {
    font-size: 0.5em;
    margin-bottom: -60px;
    height: auto;
    width: 70%;
    bottom: 0;
  }
  .bossCard > .background1 {
    border-width: 65px;
    margin-left: -2px;
  }
  .bossCard > .background2 {
    margin-top: 5px;
    border-width: 65px;
  }
  .bossCard > .imageContainer > img {
    max-height: 70px;
    margin-bottom: 0px;
  }
  .bossCard > .imageContainer {
    margin-top: -160px;
  }
  .imageContainer.lower {
    margin-top: -150px;
  } 
  .imageContainer.lower > img {
    max-height: 120px;
  } 
}

@keyframes title-glow {
  0%{filter:blur(2px) brightness(1.5);}
  50%{filter:blur(1px) brightness(1);}
  100%{filter:blur(2px) brightness(1.5);}
}

@keyframes glow {
  0%{filter:blur(6px) brightness(2);}
  50%{filter:blur(4px) brightness(1.5);}
  100%{filter:blur(6px) brightness(2);}
}

@keyframes glow2 {
  0%{filter:blur(6px) brightness(3);}
  50%{filter:blur(2px) brightness(1.5);}
  100%{filter:blur(6px) brightness(3);}
}