.underline {
  border-bottom: 5px solid var(--light-gray);
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  margin-top: 0px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(2px 2px 0px black);
}

@media only screen and (max-width: 853px) {
  .underline { 
    border-left-width: 60px;
    border-right-width: 60px;
  }
}

@media only screen and (max-width: 480px) {
  .underline { 
    border-left-width: 60px;
    border-right-width: 60px;
    border-bottom-width: 2px;
    margin-top: -10px;
    margin-bottom: -10px;
    filter: drop-shadow(2px 2px 0px black);
  }
}