@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.picture {
  display: inline-flex;
  justify-content: center;
  position: relative;

  &::before {
    @include mixins.articlePageGradientShadow;
    width: 100%;
    height: calc(100% + 0.1em);
    position: absolute;
    content: "";
  }

  &::selection {
    color: variables.$darkGray;
    background-color: var(--article-colour);
  }

  &.floatingLeft,
  &.floatingRight {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0.5em;
    float: left;

    &::before {
      width: calc(100% + 0.1em);
      margin-top: -0.1em;
      margin-right: -0.2em;
    }
  }

  &.floatingRight {
    margin-left: 0.5em;
    margin-right: 0;
    float: right;

    &::before {
      margin-left: -0.1em;
      margin-right: 0;
    }
  }

  img {
    width: 100%;
    height: auto;
    z-index: 0;
    object-fit: contain;
  }

  figcaption {
    max-width: 75%;
    position: absolute;
    padding: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    right: 0;
    bottom: 0;
    overflow: hidden;
    font-size: 0.5em;
    line-height: 1.2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: variables.$darkGray;
    background-color: variables.$lightGray;
    opacity: 0.5;
    transition: opacity 0.15s;

    a {
      color: inherit;
    }

    &:hover {
      opacity: 1;

      a {
        text-decoration: underline;
      }
    }
  }
}
