@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.titleCard {
  height: 12em;
  margin-top: 1.5em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.3em;
  perspective: 10cm;
  z-index: 10;
  filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));

  * {
    position: absolute;
  }

  .bar {
    height: variables.$titleCardThickness;
    border-top: variables.$borderThinBlack;
    border-bottom: variables.$borderThinBlack;

    &::before {
      @include mixins.gridPatternLight;
      width: 100%;
      height: 100%;
      position: absolute;
      mask: linear-gradient(
        -45deg,
        transparent 70%,
        black 100%,
        transparent 100%
      );
      content: "";
    }

    &.light {
      width: 107%;
      background-color: variables.$lightGray;
      transform: rotateY(-5deg) rotateZ(-1deg) translateX(-3.75em)
        translateY(-2.5em);
      transform-origin: left center;
      mask: linear-gradient(
        -45deg,
        transparent 16%,
        black 16%,
        black calc(16% + 1.25em),
        variables.$gradientFade calc(16% + 1.25em),
        variables.$gradientFade calc(16% + 2em),
        black calc(16% + 2em),
        black calc(16% + 2.75em),
        variables.$gradientFade calc(16% + 2.75em),
        variables.$gradientFade calc(16% + 3.5em),
        black calc(16% + 3.5em)
      );
    }

    &.dark {
      width: 65%;
      left: 0;
      margin-bottom: 1em;
      background-color: variables.$darkGray;
      transform: rotateY(-5deg) rotateZ(-0.5deg) translateY(-2.5em);
      transform-origin: left center;
      mask: linear-gradient(
        45deg,
        black calc(90% - 3.5em),
        variables.$gradientFade calc(90% - 3.5em),
        variables.$gradientFade calc(90% - 2.75em),
        black calc(90% - 2.75em),
        black calc(90% - 2em),
        variables.$gradientFade calc(90% - 2em),
        variables.$gradientFade calc(90% - 1.25em),
        black calc(90% - 1.25em),
        black 90%,
        transparent 90%
      );

      &::before {
        @include mixins.gridPatternDark;
        mask: linear-gradient(
          45deg,
          transparent 75%,
          black 90%,
          transparent 90%
        );
      }
    }
  }

  .glow {
    @include mixins.articlePageGradientShadow;
    mask-repeat: no-repeat;

    &.bottom {
      width: calc(107% + variables.$gradientShadowOffset);
      height: calc(variables.$titleCardThickness + 2px);
      transform: rotateY(-5deg) rotateZ(-1deg) translateX(-3.75em)
        translateY(calc(-2.5em + variables.$gradientShadowOffset));
      transform-origin: left center;
      mask: linear-gradient(-45deg, transparent 16%, black 16%);
    }

    &.top {
      width: calc(65% + variables.$gradientShadowOffset * 3);
      height: calc(variables.$titleCardThickness + 2px);
      margin-bottom: calc(1em - variables.$gradientShadowOffset);
      transform: rotateY(-5deg) rotateZ(-0.5deg) translateY(-2.5em);
      transform-origin: left center;
      mask: linear-gradient(45deg, black 90%, transparent 90%);
    }
  }

  h2 {
    @include mixins.russoFont;
    margin-bottom: 1.25em;
    margin-left: 0.5vw;
    font-size: 1.5em;
    color: var(--secondary-text);
    cursor: default;
    transform: rotateY(-5deg) rotateZ(-1deg) translateX(-0em)
      translateY(-0.75em);
    transform-origin: left center;

    &::selection {
      color: variables.$lightGray;
      background-color: var(--article-colour);
    }
  }

  .banner {
    width: auto;
    height: 10em;
    object-fit: contain;
    margin-bottom: 5.4em;

    &::selection {
      color: variables.$darkGray;
      background-color: var(--article-colour);
    }
  }

  .spaceContainer {
    width: 100%;
    height: 125%;
    filter: drop-shadow(0 0 0.05rem var(--article-colour-space))
      drop-shadow(0 0 0.05rem var(--article-colour-space)) brightness(1.5);

    .space {
      @include mixins.articlePageSpaceCutout();
      width: 100%;
      height: 100%;
      margin-top: 2em;
      mask: url("/titleCardTear.png");
      mask-position: center top;
      mask-size: 100% 100%;
    }
  }

  &.withBanner {
    margin-top: 4.5em;
  }

  &.coverBelow {
    margin-bottom: 0;

    .spaceContainer {
      height: 100%;

      .space {
        margin-top: 0;
        mask-size: 100%;
      }
    }
  }

  @media only screen and (min-aspect-ratio: 20/9) {
    perspective: 15cm;
  }
}
