@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.titleCard {
  height: 12em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  perspective: 10cm;
  z-index: 10;
  filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));

  * {
    position: absolute;
  }

  .bar {
    height: variables.$titleCardThickness;
    border-top: variables.$borderThinBlack;
    border-bottom: variables.$borderThinBlack;

    &::before {
      @include mixins.gridPatternLight;
      width: 100%;
      height: 100%;
      position: absolute;
      mask: linear-gradient(
        -45deg,
        transparent 70%,
        black 100%,
        transparent 100%
      );
      content: "";
    }

    &.light {
      width: 107%;
      background-color: variables.$lightGray;
      transform: rotateY(-5deg) rotateZ(-1deg) translateX(-3.75em)
        translateY(-2.5em);
      transform-origin: left center;
      mask: linear-gradient(
        -45deg,
        transparent 16%,
        black 16%,
        black calc(16% + 1.25em),
        variables.$gradientFade calc(16% + 1.25em),
        variables.$gradientFade calc(16% + 2em),
        black calc(16% + 2em),
        black calc(16% + 2.75em),
        variables.$gradientFade calc(16% + 2.75em),
        variables.$gradientFade calc(16% + 3.5em),
        black calc(16% + 3.5em)
      );
    }

    &.dark {
      width: 50%;
      right: 0;
      margin-bottom: 1em;
      background-color: variables.$darkGray;
      transform: rotateY(-5deg) rotateZ(-1deg) translateX(-120%)
        translateY(-3em);
      transform-origin: left center;
      mask: linear-gradient(
        45deg,
        black 67%,
        variables.$gradientFade 67%,
        variables.$gradientFade 71%,
        black 71%,
        black 76%,
        variables.$gradientFade 76%,
        variables.$gradientFade 80%,
        black 80%,
        black 90%,
        transparent 90%
      );

      &::before {
        @include mixins.gridPatternDark;
        mask: linear-gradient(
          45deg,
          transparent 75%,
          black 90%,
          transparent 90%
        );
      }
    }
  }

  .glow {
    @include mixins.articlePageGradientShadow;
    mask-repeat: no-repeat;

    &.bottom {
      width: 100%;
      height: variables.$titleCardThickness * 2;
      margin-bottom: -0.2em;
      mask: url("/titleBar.svg");
      mask-size: 100% variables.$titleCardThickness * 3;
    }

    &.top {
      width: 41.5%;
      height: variables.$titleCardThickness;
      margin-bottom: 3.55em;
      mask: url("/titleBar2.svg");
      mask-size: 100% variables.$titleCardThickness * 2;
      mask-position: 0% 0%;
    }
  }

  h2 {
    @include mixins.russoFont;
    margin-bottom: 1.25em;
    margin-left: 0.5vw;
    font-size: 1.5em;
    color: var(--secondary-text);
    cursor: default;
    transform: rotateY(-5deg) rotateZ(-1deg) translateX(-0em)
      translateY(-0.75em);
    transform-origin: left center;

    &::selection {
      color: variables.$lightGray;
      background-color: var(--article-colour);
    }
  }

  .banner {
    width: auto;
    height: 8em;
    object-fit: contain;
    margin-bottom: 5.4em;

    &::selection {
      color: variables.$darkGray;
      background-color: var(--article-colour);
    }
  }

  .spaceContainer {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 0.1em var(--article-colour-space))
      drop-shadow(0 0 0.25em var(--article-colour-space)) brightness(1.5);

    .space {
      @include mixins.articlePageSpaceCutout();
      width: 100%;
      height: 100%;
      mask: url("/titleCardTear.png");
      mask-position: center top;
      mask-size: 100% 100%;
    }
  }

  &.coverBelow {
    .space {
      mask-size: 100%;
    }
  }
}
