@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.searchTag {
  @include mixins.flexCenter;
  width: fit-content;
  height: fit-content;
  margin-top: 5em;
  margin-top: 0;
  margin-right: 0.2em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-top: variables.$borderThinBlack;
  border-bottom: variables.$borderThinBlack;
  font-size: 0.4em;
  color: variables.$darkGray;
  background-color: variables.$lightGray;
  transition: margin 0.2s border-color 0.2s;
  cursor: default;
  mask: linear-gradient(
    -45deg,
    transparent calc(0% + 0.2em),
    black calc(0% + 0.2em),
    black calc(100% - 0.2em),
    transparent calc(100% - 0.2em)
  );

  button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
