@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

.searchTag {
  @include mixins.flexCenter;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  margin-top: 5em;
  margin-top: 0;
  margin-right: 0.2em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-top: variables.$borderThinBlack;
  border-bottom: variables.$borderThinBlack;
  font-size: 0.4em;
  color: variables.$darkGray;
  background-color: variables.$lightGray;
  transition:
    margin 0.2s border-color 0.2s,
    filter 0.2s;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  animation: slideIn 0.75s linear 1;
  mask: linear-gradient(
    -45deg,
    transparent calc(0% + 0.2em),
    black calc(0% + 0.2em),
    black calc(100% - 0.2em),
    transparent calc(100% - 0.2em)
  );

  &.disabled {
    filter: brightness(0.8);
  }

  button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:disabled {
      cursor: progress;
    }
  }
}

@keyframes slideIn {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}
