#container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  margin-top: -14.25vw;

  #grain {
    position: absolute;
    z-index: 1;
    mix-blend-mode: soft-light;
    opacity: 0.6;
    filter: blur(0.2vmin);
  }

  #pixiBackground {
    width: 50%;
    height: 50%;
    transform: scale(2.05);
    filter: brightness(1.5) blur(0.4vmin);
  }

  @media (max-device-width: 425px) {
    filter: blur(1vmin);
    margin-top: -31vw;

    #grain {
      display: none;
    }

    #pixiBackground {
      margin-top: 10vw;
      transform: scale(2.25);
    }
  }
}
