#container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  margin-top: -16.25vw;

  #grain {
    position: absolute;
    z-index: 1;
    mix-blend-mode: soft-light;
    opacity: 0.6;
    backdrop-filter: blur(1vmin);
  }

  #pixiBackground {
    width: 50%;
    height: 50%;
    transform: scale(2);
  }

  @media (max-device-width: 425px) {
    #grain {
      display: none;
    }

    filter: blur(1vmin);
    margin-top: -31vw;
  } 
}
