@use "/styles/_variables" as variables;

@mixin articlePageGradientShadow {
  background-image: linear-gradient(
    90deg,
    var(--article-colour) 10%,
    var(--article-colour2) 40%,
    var(--article-colour2) 60%,
    var(--article-colour) 90%
  );
  background-size: 200vw 100vh;
  background-attachment: fixed;
  animation:
    gradientDisplace 5s linear infinite,
    gradientGlow 3s linear infinite;

  @keyframes gradientDisplace {
    0% {
      background-position: 0vw 0vh;
    }
    100% {
      background-position: 200vw 100vh;
    }
  }

  @keyframes gradientGlow {
    0% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(1.5);
    }
    100% {
      filter: brightness(1);
    }
  }
}

@mixin articlePageSpaceCutout($maskRotation: 1deg, $maskOffset: 0%) {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: var(--article-colour-space);
  background-image: url("/spacebw.png");
  background-blend-mode: overlay;
  background-size: 100vw;
  background-attachment: fixed;
  background-position: -18vw, 0;
  mask: linear-gradient(
    $maskRotation,
    transparent calc(9% + $maskOffset),
    black calc(10% + $maskOffset),
    black calc(90% + $maskOffset),
    transparent calc(91% + $maskOffset)
  );
  mask-size: 100%;
  mask-repeat: no-repeat;
  z-index: -2;
  mix-blend-mode: lighten;

  &.gradient {
    // @include articlePageGradientShadow;
    background-color: var(--article-colour-stars);
    background-image: url("/starsbw.png");
    background-blend-mode: multiply;
    mix-blend-mode: screen;
  }
}

@mixin noScrollBar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin darkScrollBar {
  &::-webkit-scrollbar {
    width: 0.5rem;
    background: variables.$darkGray;
  }

  &::-webkit-scrollbar-track {
    background: variables.$darkGray;
  }

  &::-webkit-scrollbar-thumb {
    background: variables.$lightGray;
  }
}

@mixin lightScrollBar {
  &::-webkit-scrollbar {
    width: 0.7em;
    background: variables.$lightGray;
  }

  &::-webkit-scrollbar-track {
    background: variables.$lightGray;
  }

  &::-webkit-scrollbar-thumb {
    background: variables.$darkGray;
  }
}

@mixin russoFont {
  font-family: "Russo One";
  font-weight: 100;
}

@mixin buttonInteractionScaling {
  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gridPatternDark {
  background-image: url("/sketch.webp");
  background-size: 5em;
  mix-blend-mode: darken;
  opacity: 0.3;
  filter: invert(1);
}

@mixin gridPatternLight {
  background-image: url("/sketch.webp");
  background-size: 5em;
  mix-blend-mode: color-burn;
  opacity: 0.15;
  filter: invert(1);
}
