@use "/styles/_variables" as variables;

@mixin articlePageGradientShadow(
  $gradientColour1: var(--article-colour),
  $gradientColour2: var(--article-colour2)
) {
  background-image: linear-gradient(
    90deg,
    $gradientColour1 10%,
    $gradientColour2 40%,
    $gradientColour2 60%,
    $gradientColour1 90%
  );
  background-size: 200vw 100vh;
  background-attachment: fixed;
  animation:
    gradientDisplace 5s linear infinite,
    gradientGlow 3s linear infinite;

  @keyframes gradientDisplace {
    0% {
      background-position: 0vw 0vh;
    }
    100% {
      background-position: 200vw 100vh;
    }
  }

  @keyframes gradientGlow {
    0% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(1.5);
    }
    100% {
      filter: brightness(1);
    }
  }
}

@mixin articlePageSpaceCutout(
  $maskRotation: 1deg,
  $maskOffset: 0%,
  $spaceColour: var(--article-colour-space),
  $starsColor: var(--article-colour-stars)
) {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: $spaceColour;
  background-image: url("/headerBackground.png");
  background-blend-mode: overlay;
  background-size: 100vw;
  background-attachment: fixed;
  mask: linear-gradient(
    $maskRotation,
    transparent calc(9% + $maskOffset),
    black calc(10% + $maskOffset),
    black calc(90% + $maskOffset),
    transparent calc(91% + $maskOffset)
  );
  mask-size: 100%;
  mask-repeat: no-repeat;
  z-index: -2;
  mix-blend-mode: lighten;
  filter: blur(1rem);
  animation:
    spaceCutoutHorizontal 10s linear infinite,
    spaceCutoutVertical 6s ease-in-out infinite;

  &.gradient {
    background-color: $starsColor;
    background-image: url("/headerBackground2.png");
    background-blend-mode: multiply;
    mix-blend-mode: screen;
    // animation: spaceCutoutHorizontal 7.5s linear infinite, spaceCutoutVertical 5s ease-in-out infinite;
  }
}

@mixin noScrollBar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin darkScrollBar {
  &::-webkit-scrollbar {
    width: 0.5rem;
    background: variables.$darkGray;
  }

  &::-webkit-scrollbar-track {
    background: variables.$darkGray;
  }

  &::-webkit-scrollbar-thumb {
    background: variables.$lightGray;
  }
}

@mixin lightScrollBar {
  &::-webkit-scrollbar {
    width: 0.7em;
    background: variables.$lightGray;
  }

  &::-webkit-scrollbar-track {
    background: variables.$lightGray;
  }

  &::-webkit-scrollbar-thumb {
    background: variables.$darkGray;
  }
}

@mixin russoFont {
  font-family: var(--russo-one);
  font-weight: 100;
}

@mixin buttonInteractionScaling {
  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gridPatternDark {
  background-image: url("/sketch.webp");
  background-size: 8rem;
  mix-blend-mode: darken;
  opacity: 0.15;
  filter: invert(1);
}

@mixin gridPatternLight {
  background-image: url("/sketch.webp");
  background-size: 8rem;
  mix-blend-mode: color-burn;
  opacity: 0.15;
  filter: invert(1);
}

@mixin quoteCard {
  color: variables.$primaryText;
  border: variables.$borderThinLightGray;
  filter: drop-shadow(-1px 1px 0 variables.$darkGray)
    drop-shadow(1px -1px 0 variables.$darkGray);
  background-image: repeating-linear-gradient(
    0deg,
    rgba(60, 206, 255, 0.25) 0rem,
    rgba(60, 206, 255, 0.25) 0.2rem,
    rgba(110, 164, 214, 0.25) 0.2rem,
    rgba(110, 164, 214, 0.25) 0.5rem
  );
  mask: linear-gradient(
    -45deg,
    transparent calc(0% + 1rem),
    black calc(0% + 1rem),
    black calc(100% - 1rem),
    transparent calc(100% - 1rem)
  );
  animation: blueBackgroundScroll 0.25s linear infinite;
}

@keyframes spaceCutoutHorizontal {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100vw;
  }
}

@keyframes spaceCutoutVertical {
  0% {
    background-position-y: 4vh;
  }
  50% {
    background-position-y: -4vh;
  }
  100% {
    background-position-y: 4vh;
  }
}

@keyframes blueBackgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 0.5rem;
  }
}
