$lightGray: #64686f;
$darkGray: #1d1d22;
$primaryText: #8c8c8f;
$secondaryText: #171717;
$borderThinBlack: 1px solid black;
$codeBackgroundColour: rgba(26, 26, 26, 1);
$codeTextColour: #9cd7f8;
$dialogueBoxBackgroundColour: rgb(29, 29, 34, 0.8);