$lightGray: #656970;
$darkGray: #1e1e23;
$primaryText: #8c8c8f;
$secondaryText: #171717;
$borderThinBlack: 1px solid black;
$codeBackgroundColour: rgba(26, 26, 26, 1);
$codeTextColour: #9cd7f8;
$dialogueBoxBackgroundColour: rgb(29, 29, 34, 0.8);
$gradientFade: rgba(0, 0, 0, 0.3725);
$titleCardThickness: 3em;
$spoilerRevealColour: rgba(18, 18, 18, 0.4);
