#about {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.6vw;

  @media only screen and (max-device-width: 425px) {
    font-size: 4vw;
    overflow: hidden;
  }
}

#content {
  width: 50%;
  color: var(--dark-gray);
  display: flex;
  align-items: center;
  flex-direction: column;

  @media only screen and (max-device-width: 425px) {
    width: 90%;
    z-index: 20;
    margin-top: 30px;
  }
}

#content > h1 {
  font-weight: 1000;
  font-size: 3em;
  margin: 0;
  text-shadow: 2px 2px 0px black;
  text-align: center;
}

#content > h1 > span {
  font-size: 0.5em;
  margin: 0;
}

#content > h1 > img {
  @media only screen and (max-device-width: 425px) {
    width: 80vw !important;
  }
}

.left {
  width: 5%;
  border-right: 350px solid transparent;
  border-bottom: 350px solid var(--light-gray);
  margin-right: -300px;
  z-index: 10;
}

.right {
  width: 5%;
  border-left: 350px solid transparent;
  border-bottom: 350px solid var(--light-gray);
  margin-left: -300px;
  z-index: 10;
}

.left,
.right {
  @media only screen and (max-device-width: 425px) {
    display: none;
  }
}

#about > img {
  height: 350px;
  padding-right: 150px;
  padding-left: 150px;
  background-image: url(/cubes.png);
  background-color: rgb(20, 20, 20);
  animation-name: backgroundOffset;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @media only screen and (max-device-width: 425px) {
    width: 100vw;
    height: unset;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 20px;
  }
}

@keyframes backgroundOffset {
  0% {
    background-position-x: 0px;
    background-position-y: 0px;
  }
  100% {
    background-position-x: 67px;
    background-position-y: 100px;
  }
}
