#errorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 30px;

  @media only screen and (max-width: 425px) {
    font-size: 20px;
    height: 80vh;
  }
}

#errorPage > img {
  height: 80%;

  @media only screen and (max-width: 425px) {
    height: 69%;
  }
}

#errorPage > h1 {
  font-size: 3em;
  color: var(--dark-gray);
}

#errorPage > p {
  color: var(--dark-gray);
}
