#homePage {
  display: flex;
  flex-direction: column;
  font-size: 1.6vw;
  margin-bottom: -8.5vw;
  // backdrop-filter: blur(4px) brightness(1);

  @media only screen and (max-width: 425px) {
    font-size: 3vw;
    margin-bottom: -30vw;
  }
}

.divider {
  height: 2vw;
  width: 100vw;
  background-color: var(--dark-gray);
}

/* Part 1 */
#homePageRobot,
#homePageRobotFade {
  height: 54vw;
  padding-left: 6vw;
  padding-right: 48vw;
  margin-top: -4vh;
  position: absolute;
  z-index: -1;
  animation-name: robotFadeIn;
  animation-timing-function: linear;
  animation-duration: 4s;

  @media only screen and (max-width: 425px) {
    width: 44vw;
    padding: 0;
    height: unset;
    position: absolute;
    z-index: -1;
    animation-name: none;
  }
}

#homePageRobotFade {
  opacity: 0;
  animation-name: robotFadeIn2;

  @media only screen and (max-width: 425px) {
    display: none;
  }
}

#part1,
#part2,
#part3 {
  width: 100vw;
  height: 50vw;
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);
  z-index: -1;

  @media only screen and (max-width: 425px) {
    width: 100vw;
    height: 177vw;
    filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);
    z-index: -1;
  }
}

#part1 > .gradient1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    -45deg,
    transparent 57%,
    var(--light-gray) 57%,
    var(--light-gray) 59%,
    var(--dark-gray) 59%,
    var(--dark-gray) 62%,
    transparent 62%
  );
  animation-name: gradientSlide;
  animation-timing-function: linear;
  animation-duration: 0.75s;
}

#part1 > .gradient2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    -45deg,
    transparent 13%,
    var(--dark-gray) 13%,
    var(--dark-gray) 53%,
    transparent 53%
  );
  animation-name: gradientSlide;
  animation-timing-function: linear;
  animation-duration: 0.75s;
}

#part1 > .gradient1,
#part1 > .gradient2 {
  @media only screen and (max-width: 425px) {
    animation-name: none;
  }
}

#part1 > .gradient2 > img {
  position: absolute;
  width: 60vw;
  mask: linear-gradient(-45deg, transparent 10%, black 10%, black 64%, transparent 64%);
  margin-right: -4vw;
  margin-top: -3vw;
  right: 0;
  z-index: 10;
  cursor: pointer;

  @media only screen and (max-width: 425px) {
    position: absolute;
    width: 100vw;
    mask: linear-gradient(-45deg, black 10%, black 64%, transparent 64%);
    margin-right: 0vw;
    margin-top: 74vw;
    right: 0;
    z-index: 10;
    cursor: pointer;
  }
}

#part1 > .gradient2 > h2 {
  position: absolute;
  right: 0;
  margin-top: 31vw;
  margin-right: 6vw;
  width: 54vw;
  text-align: left;
  color: var(--light-gray);

  @media only screen and (max-width: 425px) {
    position: absolute;
    left: 1vw;
    margin-top: 135vw;
    color: var(--light-gray);
  }
}

#part1 > h1,
#part1 > h4 {
  color: var(--light-gray);
  margin: 0;
  padding: 0;
  transform: skewY(-45deg);
  animation-name: fadeIn;
  animation-timing-function: linear;
  animation-duration: 2s;
}

#part1 > h1 {
  font-size: 1.5em;
  margin-left: 11vw;
  margin-top: 2vw;

  @media only screen and (max-width: 425px) {
    font-size: 1.5em;
    margin-left: 3vw;
    margin-top: 54.5vw;
    animation-name: none;
  }
}

#part1 > h4 {
  color: var(--dark-gray);
  font-size: 0.9em;
  margin-left: 14vw;
  margin-top: -0.4vw;

  @media only screen and (max-width: 425px) {
    color: var(--dark-gray);
    font-size: 0.9em;
    margin-left: 4vw;
    margin-top: 2.4vw;
    animation-name: none;
  }
}

#part1 > p {
  width: 48vw;
  color: var(--light-gray);
  right: 20vw;
  bottom: 0;
  position: absolute;
  animation-name: fadeIn;
  animation-timing-function: linear;
  animation-duration: 2s;

  @media only screen and (max-width: 425px) {
    width: 70vw;
    left: 1vw;
    bottom: 3vw;
    animation-name: none;
  }
}

/* Part 2 */
#part2 > img {
  position: absolute;
  width: 40vw;
  z-index: 1;
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);

  @media only screen and (max-width: 425px) {
    width: 70vw;
    margin-top: 1vw;
  }
}

#part2 > .gradient1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    -16.5deg,
    transparent 55.3%,
    var(--dark-gray) 55.3%,
    var(--dark-gray) 63%,
    transparent 63%
  );
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);

  @media only screen and (max-width: 425px) {
    margin-top: -5vw;
    background-image: linear-gradient(
      -16.5deg,
      transparent 57%,
      var(--dark-gray) 57%,
      var(--dark-gray) 68%,
      transparent 68%
    );
  }
}

#part2 > .gradient2 {
  position: absolute;
  width: 100%;
  height: 20%;
  margin-top: 35%;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);

  @media only screen and (max-width: 425px) {
    height: 24%;
    margin-top: 100vw;
  }
}

#part2 > .gradient2 > p {
  color: var(--light-gray);
  padding: 1vw;

  @media only screen and (max-width: 425px) {
    padding: 2vw;
    font-size: 1.3em;
  }
}

#part2 > h2 {
  position: absolute;
  font-size: 3.5em;
  color: var(--light-gray);
  transform: skewY(-16.5deg);
  margin-left: 39vw;
  margin-top: 7vw;
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);
  cursor: default;

  @media only screen and (max-width: 425px) {
    width: 90vw;
    font-size: 3.5em;
    margin-top: 58vw;
    margin-left: 3vw;
    filter: none;
  }
}

#part2 > h4 {
  position: absolute;
  font-size: 1.5em;
  color: var(--light-gray);
  transform: skewY(-16.5deg);
  margin-left: 40vw;
  margin-top: 15vw;
  cursor: default;

  @media only screen and (max-width: 425px) {
    color: var(--dark-gray);
    text-shadow: 0px 0px 2px var(--light-gray);
    font-size: 1.5em;
    margin-left: 3vw;
    margin-top: 75vw;
  }
}

#part2 > .imageCollection {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5vw; */
  margin-top: -10vw;
  z-index: -1;
  right: 0;
  transform: skewY(6deg) scale(1.4);
  flex-wrap: wrap;
  filter: blur(1px);

  @media only screen and (max-width: 425px) {
    flex-direction: column;
    height: 150vw;
    width: 100vw;
    left: 0;
    transform: scale(1);
    filter: blur(2px);
    margin-top: 0vw;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

#part2 > .imageCollection > img {
  width: 32%;
  height: 32%;
  margin: 0.5vw;

  @media only screen and (max-width: 425px) {
    width: 90%;
    margin: 3vw;
  }
}

/* Part 3 */

#part3 {
  @media only screen and (max-width: 425px) {
    height: 127vw;
  }
}

#part3 > img {
  position: absolute;
  width: 30vw;
  right: 0;
  margin-right: 10vw;
  z-index: 1;
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);

  @media only screen and (max-width: 425px) {
    width: 60vw;
    margin-right: 0vw;
    margin-top: 20vw;
  }
}

#part3 > .gradient1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    31deg,
    transparent 54%,
    var(--dark-gray) 54%,
    var(--dark-gray) 60%,
    transparent 60%
  );
  z-index: -1;
  filter: drop-shadow(1px 1px 0px var(--dark-gray)) drop-shadow(1px 1px 2px black);

  @media only screen and (max-width: 425px) {
    margin-top: 43vw;
    background-image: linear-gradient(
      31deg,
      transparent 55.5%,
      var(--dark-gray) 55.5%,
      var(--dark-gray) 65%,
      transparent 65%
    );
  }
}

#part3 > .gradient2 {
  width: 25%;
  height: 100%;
  margin-left: 2vw;
  margin-top: -1vw;
  padding-top: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-gray);

  @media only screen and (max-width: 425px) {
    font-size: 1.5em;
    width: 38%;
    height: 100%;
    margin-left: 0;
    justify-content: flex-end;
  }
}

#part3 > .gradient2 > span {
  color: var(--light-gray);
  margin-left: 1vw;
  font-size: 0.7em;

  @media only screen and (max-width: 425px) {
    color: var(--light-gray);
    margin-left: 1vw;
    font-size: 0.7em;
  }
}

#part3 > h2 {
  position: absolute;
  font-size: 3.5em;
  color: var(--light-gray);
  transform: skewY(31deg);
  margin-left: 39.7vw;
  margin-top: 7.4vw;
  cursor: default;

  @media only screen and (max-width: 425px) {
    margin-left: 39.7vw;
    margin-top: 86vw;
  }
}

#part3 > h4 {
  position: absolute;
  font-size: 1.5em;
  color: var(--light-gray);
  transform: skewY(31deg);
  margin-left: 35vw;
  margin-top: 13vw;
  cursor: default;

  @media only screen and (max-width: 425px) {
    margin-left: 39.7vw;
    margin-top: 103vw;
  }
}

/* Part 4 */

#part4 {
  width: 100vw;
  height: 15vw;
  background-color: var(--dark-gray);

  @media only screen and (max-width: 425px) {
    height: 30vw;
  }
}

#part4 > h2 {
  color: var(--light-gray);
  margin: 1vw;
}

#part4 > p {
  color: var(--light-gray);
  margin: 1vw;
}

@keyframes gradientSlide {
  0% {
    margin-left: 100%;
    margin-top: -100%;
  }
  100% {
    margin-left: 0%;
    margin-top: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  50% {
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  75% {
    opacity: 1;
    filter: blur(50px) brightness(2);
  }
  100% {
    opacity: 1;
    filter: blur(0px) brightness(1);
  }
}

@keyframes robotFadeIn {
  0% {
    margin-top: 0vh;
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  50% {
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  75% {
    opacity: 1;
    filter: blur(50px) brightness(0);
  }
  90% {
    opacity: 1;
    filter: blur(0px) brightness(0);
  }
  100% {
    margin-top: -4vh;
    opacity: 1;
    filter: blur(0px) brightness(1);
  }
}

@keyframes robotFadeIn2 {
  0% {
    margin-top: 0vh;
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  50% {
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  75% {
    opacity: 1;
    filter: blur(50px) brightness(0);
  }
  90% {
    opacity: 1;
    filter: blur(20px) brightness(10);
  }
  100% {
    margin-top: -4vh;
    opacity: 0;
    filter: blur(100px) brightness(0);
  }
}
