$gradientColour: rgba(27, 27, 27, 0.5);

#homePage {
  display: flex;
  flex-direction: column;
  font-size: 1.6vw;
  margin-bottom: -8.5vw;
  filter: drop-shadow(0 0 0.3vw black);

  @media only screen and (max-width: 425px) {
    font-size: 3vw;
    margin-bottom: -30vw;
    filter: drop-shadow(0 0 1vw black);
  }
}

/* Part 1 */
#homePageRobot,
#homePageRobotFade {
  height: 50vw;
  padding-left: 5vw;
  padding-right: 48vw;
  margin-top: 3vh;
  position: absolute;
  z-index: -1;
  animation-name: robotFadeIn;
  animation-timing-function: linear;
  animation-duration: 4s;

  @media only screen and (max-width: 425px) {
    width: 55vw;
    padding: 0;
    height: unset;
    position: absolute;
    z-index: -1;
    animation-name: none;
  }
}

#homePageRobotFade {
  opacity: 0;
  animation-name: robotFadeIn2;

  @media only screen and (max-width: 425px) {
    display: none;
  }
}

#part1,
#part2,
#part3 {
  width: 100vw;
  height: 50vw;
  filter: drop-shadow(0 0 0.3vw transparent);
  perspective: 10cm;

  @media only screen and (max-width: 425px) {
    width: 100vw;
    height: 120vw;
  }
}

#part1 {
  margin-bottom: 5vw;

  @media only screen and (max-width: 425px) {
    margin-bottom: 65vw;
  }
}

#part1 > .gradient1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    transparent 27%,
    var(--light-gray) 27%,
    var(--light-gray) 31%,
    var(--dark-gray) 31%,
    var(--dark-gray) 37%,
    transparent 37%
  );
  animation-name: gradientSlide;
  animation-timing-function: linear;
  animation-duration: 1s;
  z-index: -1;

  @media only screen and (max-width: 425px) {
    margin-top: -12vw;
  }
}

#part1 > .gradient2 {
  position: absolute;
  width: 45%;
  height: 36.5vw;
  margin-left: 50vw;
  background-color: var(--dark-gray);
  animation-name: gradientSlide2;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  overflow: hidden;

  @media only screen and (max-width: 425px) {
    width: 52%;
    height: 37%;
    margin-left: 47vw;
    margin-top: 9vw;
  }
}

#part1 > .gradient1,
#part1 > .gradient2 {
  @media only screen and (max-width: 425px) {
    animation-name: none;
  }
}

#part1 > .gradient2 > img {
  position: absolute;
  width: 100%;
  filter: drop-shadow(0 0 0vw black);
  margin-bottom: -3vw;
  right: 0;
  z-index: 10;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 0 0.3vw black);
  }

  @media only screen and (max-width: 425px) {
    position: absolute;
    margin-top: 0vw;
  }
}

#part1 > .gradient2 > h2 {
  position: absolute;
  right: 0;
  margin-top: 25.3vw;
  width: 100%;
  margin-right: -0.5vw;
  padding-left: 0.5vw;
  text-align: left;
  color: var(--dark-gray);
  font-family: "Russo One";
  font-weight: 100;
  font-size: larger;
  background-image: linear-gradient(
    -45deg,
    transparent 16%,
    var(--light-gray) 16%,
    var(--light-gray) 20%,
    transparent 20%,
    transparent 22%,
    var(--light-gray) 22%,
    var(--light-gray) 24%,
    transparent 24%,
    transparent 26%,
    var(--light-gray) 26%
  );

  @media only screen and (max-width: 425px) {
    position: absolute;
    margin-top: 29vw;
  }
}

#part1 > .gradient2 > h3 {
  position: absolute;
  margin-top: 28vw;
  width: 100%;
  margin-right: -0.5vw;
  padding-left: 0.5vw;
  text-align: left;
  color: var(--primary-text);
  font-family: "Russo One";
  font-weight: 100;
  font-size: larger;

  @media only screen and (max-width: 425px) {
    position: absolute;
    margin-top: 34vw;
  }
}

#part1 > h1,
#part1 > h4 {
  color: var(--primary-text);
  margin: 0;
  padding: 0;
  font-family: "Russo One";
  font-weight: 100;
  animation-name: gradientSlide;
  animation-timing-function: linear;
  animation-duration: 1s;
}

#part1 > h1 {
  font-size: 1.5em;
  padding-left: 1vw;
  margin-top: 31.5vw;

  @media only screen and (max-width: 425px) {
    font-size: 1.5em;
    padding-left: 3vw;
    margin-top: 64.5vw;
    animation-name: none;
  }
}

#part1 > h4 {
  color: var(--dark-gray);
  font-size: 0.9em;
  padding-left: 1vw;
  margin-top: 0.2vw;

  @media only screen and (max-width: 425px) {
    color: var(--dark-gray);
    font-size: 0.9em;
    padding-left: 4vw;
    margin-top: 1.3vw;
    animation-name: none;
  }
}

#part1 > p {
  width: 43vw;
  color: var(--primary-text);
  right: 5vw;
  position: absolute;
  animation-name: gradientSlide2;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  padding: 1vw;
  font-size: 0.8em;
  background-color: var(--dark-gray);

  @media only screen and (max-width: 425px) {
    width: 98vw;
    right: 0;
    font-size: 1.2em;
    margin-top: 35vw;
    animation-name: none;
  }
}

/* Part 2 */
#part2 > img {
  position: absolute;
  width: 40vw;
  z-index: 1;
  margin-top: -0.5vw;
  filter: drop-shadow(0 0 0.3vw black);

  @media only screen and (max-width: 425px) {
    width: 55vw;
    margin-top: 3.5vw;
  }
}

#part2 > .gradient2 > p {
  color: var(--primary-text);
  background-color: var(--dark-gray);
  padding: 1vw;
  position: absolute;
  width: 98vw;
  margin-top: 35vw;
  filter: drop-shadow(0 0 0.3vw black);

  @media only screen and (max-width: 425px) {
    padding: 4vw;
    width: 92vw;
    margin-top: 55vw;
    font-size: 1.3em;
  }
}

#part2 > h2 {
  width: 100%;
  position: absolute;
  font-size: 3.5em;
  font-family: "Russo One";
  font-weight: 100;
  color: var(--dark-gray);
  padding-left: 42vw;
  margin-top: 13.6vw;
  background-image: linear-gradient(
    -45deg,
    var(--light-gray) 32.25vw,
    $gradientColour 32.25vw,
    $gradientColour 34.25vw,
    var(--light-gray) 34.25vw,
    var(--light-gray) 36.25vw,
    $gradientColour 36.25vw,
    $gradientColour 38.4vw,
    var(--light-gray) 38.4vw
  );
  cursor: default;
  transform: rotateY(10deg) rotateX(10deg) translateZ(-0.47cm);

  @media only screen and (max-width: 425px) {
    padding-left: 47vw;
    width: 53vw;
    text-overflow: none;
    font-size: 2.5em;
    margin-top: 13vw;
    filter: none;
    background-position: -16vw 0;
    transform: none;
  }
}

#part2 > h4 {
  width: 100%;
  position: absolute;
  font-size: 1.5em;
  font-family: "Russo One";
  font-weight: 100;
  color: var(--primary-text);
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 44vw;
  margin-top: 20.4vw;
  background-image: linear-gradient(
    -45deg,
    var(--dark-gray) 36.75vw,
    $gradientColour 36.75vw,
    $gradientColour 38.75vw,
    var(--dark-gray) 38.75vw,
    var(--dark-gray) 40.75vw,
    $gradientColour 40.75vw,
    $gradientColour 42.75vw,
    var(--dark-gray) 42.75vw
  );
  cursor: default;
  transform: rotateY(10deg) rotateX(10deg);

  @media only screen and (max-width: 425px) {
    font-size: 1.3em;
    background-image: none;
    background-color: var(--dark-gray);
    margin-top: 22vw;
    padding-left: 48vw;
    width: 52vw;
    transform: none;
  }
}

#part2 > .imageCollection {
  position: absolute;
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  margin-top: 9.5vw;
  z-index: -1;
  right: 0;
  flex-wrap: wrap;
  filter: blur(0.1vw);
  transform: rotateY(10deg) rotateX(10deg) translateX(90vw);

  @media only screen and (max-width: 425px) {
    width: 100vw;
    margin-top: 25vw;
    filter: blur(2px);
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    transform: none;
  }
}

#part2 > .imageCollection > img {
  width: 20%;

  @media only screen and (max-width: 425px) {
    width: 33%;
  }
}

/* Part 3 */

#part3 {
  margin-top: 10vw;

  @media only screen and (max-width: 425px) {
    height: 127vw;
  }
}

#part3 > img {
  position: absolute;
  width: 33vw;
  right: 0;
  margin-right: 2vw;
  z-index: 1;
  filter: drop-shadow(0 0 0.3vw black);

  @media only screen and (max-width: 425px) {
    width: 50vw;
    margin-right: 0vw;
    margin-top: -3vw;
  }
}

#part3 > .gradient2 {
  width: 60%;
  height: fit-content;
  margin-left: 1.5vw;
  margin-top: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 425px) {
    font-size: 2.5em;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: -15vw;
    justify-content: flex-end;
    overflow: hidden;
  }
}

#part3 > h2 {
  width: 100%;
  height: fit-content;
  position: absolute;
  font-size: 3.5em;
  font-family: "Russo One";
  font-weight: 100;
  color: var(--dark-gray);
  padding-left: 100vw;
  margin-left: -50vw;
  margin-top: 11.2vw;
  cursor: default;
  background-image: linear-gradient(
    45deg,
    var(--light-gray) 40vw,
    $gradientColour 40vw,
    $gradientColour 42vw,
    var(--light-gray) 42vw,
    var(--light-gray) 44vw,
    $gradientColour 44vw,
    $gradientColour 46vw,
    var(--light-gray) 46vw
  );
  transform: rotateY(-10deg) rotateX(10deg);

  @media only screen and (max-width: 425px) {
    width: 65vw;
    padding-left: 35vw;
    margin-top: 10vw;
    margin-left: 0;
    transform: none;
    background-position: -30vw 0;
  }
}

#part3 > h4 {
  width: 100%;
  position: absolute;
  font-size: 1.5em;
  font-family: "Russo One";
  font-weight: 100;
  color: var(--primary-text);
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 90vw;
  margin-left: -50vw;
  margin-top: 17.85vw;
  background-image: linear-gradient(
    45deg,
    var(--dark-gray) 42.6vw,
    $gradientColour 42.6vw,
    $gradientColour 44.6vw,
    var(--dark-gray) 44.6vw,
    var(--dark-gray) 46.6vw,
    $gradientColour 46.6vw,
    $gradientColour 48.6vw,
    var(--dark-gray) 48.6vw
  );
  cursor: default;
  transform: rotateY(-10deg) rotateX(10deg);

  @media only screen and (max-width: 425px) {
    background-image: none;
    background-color: var(--dark-gray);
    width: 96vw;
    padding-left: 4vw;
    margin-top: 20.9vw;
    margin-left: 0;
    transform: none;
  }
}

/* Part 4 */

#part4 {
  width: 100vw;
  height: fit-content;
  background-color: var(--dark-gray);
  margin-bottom: 7vw;

  @media only screen and (max-width: 425px) {
    height: 30vw;
  }
}

#part4 > h2 {
  color: var(--primary-text);
  margin: 1vw;
}

#part4 > p {
  color: var(--primary-text);
  margin: 1vw;
}

@keyframes gradientSlide {
  0% {
    margin-left: -150%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes gradientSlide2 {
  0% {
    margin-top: -150%;
  }
  25% {
    margin-top: -150%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  50% {
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  75% {
    opacity: 1;
    filter: blur(50px) brightness(2);
  }
  100% {
    opacity: 1;
    filter: blur(0px) brightness(1);
  }
}

@keyframes robotFadeIn {
  0% {
    margin-top: 7vh;
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  50% {
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  75% {
    opacity: 1;
    filter: blur(50px) brightness(0);
  }
  90% {
    opacity: 1;
    filter: blur(0px) brightness(0);
  }
  100% {
    margin-top: 3vh;
    opacity: 1;
    filter: blur(0px) brightness(1);
  }
}

@keyframes robotFadeIn2 {
  0% {
    margin-top: 6vh;
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  50% {
    opacity: 0;
    filter: blur(30px) brightness(0);
  }
  75% {
    opacity: 1;
    filter: blur(50px) brightness(0);
  }
  90% {
    opacity: 1;
    filter: blur(20px) brightness(10);
  }
  100% {
    margin-top: 2vh;
    opacity: 0;
    filter: blur(100px) brightness(0);
  }
}
