@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

#postsPage {
  height: calc(100vh - 4.1em);
  display: flex;
  overflow: hidden;

  .swiper {
    width: 50vw;
    height: calc(60vh - 5.1em);
    margin-left: 0;
    margin-top: 27.5vh;
    position: absolute;
    overflow: visible;

    .slide {
      overflow: visible;
      perspective: 11.5em;
    }
  }

  .arrow {
    @include mixins.flexCenter;
    width: 2.5em;
    height: calc(65vh - 5rem);
    margin-top: calc(17vh + 1.8rem);
    position: fixed;
    left: 0;
    border-right: variables.$borderThinLightGray;
    background-color: variables.$darkGray;
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
    transition:
      width 0.2s,
      padding 0.2s,
      border 0.2s;
    transition-timing-function: linear;

    &.right {
      border-right: unset;
      border-left: variables.$borderThinLightGray;
      left: unset;
      right: 0;
    }

    svg {
      color: variables.$lightGray;
      transform: scale(2.25);
      transition: transform 0.2s;
      transition-timing-function: linear;
    }

    &:hover {
      width: 3.25em;

      svg {
        transform: scale(3);
      }
    }

    &.hidden {
      width: 0;
      padding: 0;
      border-width: 0;
    }

    &::before {
      @include mixins.gridPatternDark;
      width: 100%;
      height: 100%;
      left: 0;
      position: absolute;
      mask: linear-gradient(
        0deg,
        black 0%,
        transparent 20%,
        transparent 80%,
        black 100%
      );
      content: "";
    }
  }

  .loadingContainer {
    @include mixins.flexCenter;
    flex-direction: column;
    width: 100vw;
    height: 15vh;
    margin-top: calc(42.5vh - 1em);
    position: fixed;

    p {
      @include mixins.russoFont;
      @include mixins.quoteCard;
      @include mixins.flexCenter;
      width: 5em;
      height: 1em;
      padding: 0.25em;
      color: variables.$primaryText;
      font-size: 2em;
      overflow: hidden;
      transition:
        width 0.3s 1s,
        padding-left 0.3s 1s,
        padding-right 0.3s 1s,
        padding-top 0.3s 1.3s,
        padding-bottom 0.3s 1.3s,
        height 0.3s 1.3s;
    }

    &.hide {
      p {
        width: 0;
        height: 0;
        padding: 0;
        transition:
          width 0.3s 0.3s,
          padding-left 0.3s 0.3s,
          padding-right 0.3s 0.3s,
          padding-top 0.3s,
          padding-bottom 0.3s,
          height 0.3s;
      }
    }
  }

  .desciptionContainer {
    width: 50vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    bottom: 4rem;

    .postsDescription {
      @include mixins.russoFont;
      width: fit-content;
      height: fit-content;
      padding: 0.5rem;
      font-size: 1.25rem;
      text-align: center;
      color: variables.$secondaryText;
      border: 0.2rem solid variables.$lightGray;
      filter: drop-shadow(-0.1rem 0.1rem 0 variables.$darkGray)
        drop-shadow(0.1rem -0.1rem 0 variables.$darkGray);
      background-image: repeating-linear-gradient(
        0deg,
        rgba(60, 206, 255, 0.25) 0rem,
        rgba(60, 206, 255, 0.25) 0.2rem,
        rgba(110, 164, 214, 0.25) 0.2rem,
        rgba(110, 164, 214, 0.25) 0.5rem
      );
      mask: linear-gradient(
        -45deg,
        transparent calc(0% + 1rem),
        black calc(0% + 1rem),
        black calc(100% - 1rem),
        transparent calc(100% - 1rem)
      );
      animation: blueBackgroundScroll 0.25s linear infinite;
    }
  }
}

@keyframes blueBackgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 0.5rem;
  }
}

@keyframes loading {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
