@use "/styles/_variables" as variables;

#postsPage {
  height: calc(100vh - 5.1em);
  display: flex;
  overflow: hidden;

  .swiper {
    width: 50vw;
    height: calc(60vh - 5.1em);
    margin-left: 0;
    margin-top: 27.5vh;
    overflow: visible;

    .slide {
      overflow: visible;
      perspective: 11.5em;
    }
  }
}
