#reviewPage {
  font-size: 1.6vw;
  perspective: 10cm;

  .mainContent {
    backdrop-filter: blur(1vw);
    padding-top: 20vh;
    margin-top: 5vh;
    mask: linear-gradient(177.5deg, transparent 3vh, black 12vh);

    .containerBlend {
      height: 11vh;
      width: calc(65% + 1vw);
      margin-top: -1.6vh;
      position: absolute;
      filter: drop-shadow(0.3vw 0 0 var(--article-colour)) drop-shadow(-0.3vw 0.1vw 0 var(--article-colour)) drop-shadow(0.3vw 0.65vw 0.3vw black);

      .background {
        width: calc(100% - 1vw);
        height: 100%;
        margin-left: 1vw;
        background-color: var(--dark-gray);
        mask: linear-gradient(177deg, transparent 10vh, black 10vh);
        margin-top: -2.4vh;

        .sketchBackground {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-image: url("/sketch.webp");
          background-size: 12.5%;
          background-position: 0% 8px;
          mix-blend-mode: darken;
          opacity: 0.3;
          filter: contrast(2) brightness(2);
          mask: linear-gradient(90deg, black 0%, transparent 10%, transparent 90%, black 100%);
        }
      }
    }
  }
}

#reviewPage > div > .articleContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  width: 65%;
  filter: drop-shadow(0.3vw 0 0 var(--article-colour)) drop-shadow(-0.3vw 0 0 var(--article-colour)) drop-shadow(0 0.65vw 0.3vw black);
  margin-left: 1vw;
  border-bottom: 0.3vw solid var(--article-colour);
  overflow-x: hidden;
  margin-top: 0vh;

  .sketchBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-image: url("/sketch.webp");
    background-size: 12.5%;
    mix-blend-mode: darken;
    opacity: 0.3;
    filter: contrast(2) brightness(2);
    mask: linear-gradient(90deg, black 0%, transparent 10%, transparent 90%, black 100%);
  }

  @media only screen and (max-width: 425px) {
    width: calc(100vw - 4px);
    margin-right: auto;
    font-size: 20px;
    overflow-x: hidden;
    border-left: none;
    filter: drop-shadow(2px 2px 0.3vw black);
  }
}

.articleContainer > ul {
  width: 100%;
}

#reviewPage > div {
  display: flex;
}

#noCommentMessage {
  font-size: 1.2vw;
  padding: 10px;
  padding-top: 0;
  margin: 0;
  color: var(--light-gray);
  opacity: 0.8;
  cursor: default;

  @media only screen and (max-width: 425px) {
    font-size: 4.5vw;
  }
}

.creationPanel {
  position: sticky;
  background-color: var(--secondary-text);
  width: 30%;
  height: 88vh;
  margin-left: auto;
  margin-right: auto;
  top: 4vw;
  filter: drop-shadow(0.4vw 0.4vw 0.3vw black);
}

.commentPanel {
  position: sticky;
  width: 30%;
  height: 70vh;
  background-color: var(--dark-gray);
  margin-left: auto;
  margin-right: auto;
  top: 11.5vw;
  margin-top: 7.1vw;
  filter: drop-shadow(0.4vw 0.4vw 0.3vw black);
  animation-name: commentPanelFadeIn;
  animation-timing-function: linear;
  animation-duration: 1.25s;

  @media only screen and (max-width: 425px) {
    display: initial;
    position: fixed;
    width: 95vw;
    margin-top: 27vw;
    left: 0;
    top: 0;
    z-index: 101;
    transition: margin-left 0.5s;
  }
}

.commentPanel > button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--light-gray);
  font-size: 1em;

  @media only screen and (max-width: 425px) {
    margin-left: auto;
  }
}

.commentPanel > button:hover {
  cursor: pointer;
  text-shadow: 2px 2px 0px black;
}

.commentPanel > div {
  overflow-y: scroll;
  height: calc(100% - 7.35vw);
  width: calc(100%);

  @media only screen and (max-width: 425px) {
    height: calc(70vh - 32vw);
  }
}

.comments {
  animation-name: commentsFadeIn;
  animation-timing-function: linear;
  animation-duration: 1.875s;
}

.commentPanel > .comments::-webkit-scrollbar {
  width: 0.5vw;
  background: var(--light-gray);

  @media only screen and (max-width: 425px) {
    width: 1.5vw;
  }
}

.commentPanel > .comments::-webkit-scrollbar-track {
  background: var(--light-gray);
}

.commentPanel > .comments::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border: 0.1vw solid var(--light-gray);
}

.mobile {
  display: none;
  margin-top: 50px;
}

#mobileCommentButton {
  display: none !important;

  @media only screen and (max-width: 425px) {
    display: initial !important;
    border: none;
    outline: 2px solid var(--light-gray);
    background-color: transparent;
    color: var(--light-gray);
    font-size: 1em;
    position: fixed;
    background-color: var(--dark-gray);
    left: 0;
    bottom: 0;
    margin-bottom: 2.5vw;
    margin-left: 2.5vw;
    z-index: 101;
    filter: drop-shadow(2px 2px 0px black);
    animation-name: commentButtonFadeIn;
    animation-timing-function: linear;
    animation-duration: 1.5s;
  }
}

#adAurisIframe {
  margin: auto;

  @media only screen and (max-width: 425px) {
    width: 100vw !important;
    transform: scale(0.7);
    margin-left: -7.5vw;
  }
}

#mobileCover {
  @media only screen and (max-width: 425px) {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(3px);
  }
}

.commentPanel > textarea {
  @media only screen and (max-width: 425px) {
    width: 90%;
    height: 15%;
    font-size: 0.5em;
  }
}

#footnotesHeader {
  color: var(--dark-gray);
  width: calc(100% - 4vw);
  font-family: "Russo One";
  font-weight: 100;
  margin: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  background-image: linear-gradient(
    -45deg,
    transparent 20%,
    transparent 22%,
    var(--light-gray) 22%,
    var(--light-gray) 24%,
    transparent 24%,
    transparent 26%,
    var(--light-gray) 26%
  );
}

#footnotes {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  margin: auto;
  font-size: 0.8em;

  li {
    margin: 0.5vw;
    color: var(--primary-text);

    a {
      color: var(--primary-text);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes commentPanelFadeIn {
  0% {
    height: 0vh;
  }
  66% {
    height: 0vh;
  }
  100% {
    height: 70vh;
  }
}

@keyframes commentsFadeIn {
  0% {
    height: 0%;
  }
  66% {
    height: 0%;
  }
  100% {
    height: 70%;
  }
}

@keyframes commentButtonFadeIn {
  0% {
    margin-left: -10vw;
    color: var(--light-gray);
    outline-color: var(--light-gray);
    filter: brightness(1) drop-shadow(0px 0px 0px transparent);
  }
  25% {
    margin-left: 2.5vw;
    color: var(--light-gray);
    outline-color: var(--light-gray);
    filter: brightness(1) drop-shadow(0px 0px 0px transparent);
  }
  50% {
    margin-left: 2.5vw;
    color: var(--article-colour);
    outline-color: var(--article-colour);
    filter: brightness(2) drop-shadow(0px 0px 12.5px black);
  }
  100% {
    margin-left: 2.5vw;
    color: var(--light-gray);
    outline-color: var(--light-gray);
    filter: brightness(1) drop-shadow(2px 2px 0px black);
  }
}
