@use "/styles/_mixins" as mixins;
@use "/styles/_variables" as variables;

#reviewPage {
  font-size: 1.5em;
  perspective: 10cm;

  .mainContent {
    margin-bottom: 0;
    padding-top: 10em;
    padding-bottom: calc(100vh - 3em);
    display: flex;
    filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(0.75em);
    mask: linear-gradient(180deg, transparent 0%, black calc(0% + 7.5em));

    #adAurisIframe {
      width: 80%;
      height: 100px;
      margin: auto;
      border: none;
    }

    .articleContainer {
      width: 62.5%;
      margin-left: 2.5%;
      margin-top: -3.5em;
      padding-top: 2.5em;
      padding-bottom: 2.5em;
      border-left: variables.$borderThinLightGray;
      border-right: variables.$borderThinLightGray;
      display: flex;
      flex-direction: column;
      background-color: variables.$darkGray;
      overflow: hidden;
      z-index: -1;
      mask: linear-gradient(
        177deg,
        transparent calc(0% + 3em),
        black calc(0% + 3em),
        black calc(100% - 3em),
        transparent calc(100% - 3em)
      );
      perspective: 0cm;

      ul {
        width: 100%;
      }

      #footnotesHeader {
        @include mixins.russoFont();
        width: calc(100% - 4em);
        margin: 0;
        margin-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
        border-top: variables.$borderThinBlack;
        border-bottom: variables.$borderThinBlack;
        color: variables.$darkGray;
        background-color: variables.$lightGray;
        mask: linear-gradient(-45deg, transparent 22%, black 22%);
      }

      #footnotes {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        background-color: variables.$darkGray;

        li {
          margin: 0.25em;
          color: variables.$primaryText;

          a {
            color: variables.$primaryText;

            &:hover {
              text-decoration: underline dashed;
            }
          }
        }
      }

      &::before {
        @include mixins.gridPatternDark;
        width: 100%;
        height: 100%;
        margin-top: -2.5em;
        position: absolute;
        z-index: -1;
        mask: linear-gradient(
          90deg,
          black 0%,
          transparent 10%,
          transparent 90%,
          black 100%
        );
        content: "";
      }
    }

    @media only screen and (min-aspect-ratio: 20/9) {
      width: 75%;
      padding-left: 12.5%;
      padding-right: 12.5%;
    }
  }
}
