#reviewPage {
  font-size: 1.6vw;
}
#reviewPage > div > .articleContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  width: 65%;
  filter: drop-shadow(8px 5px 0px black);
  /* margin-left: 1%; */
  border-left: 1vw solid var(--light-gray);
  overflow-x: hidden;
}
.articleContainer > ul {
  width: 100%;
}
#reviewPage > div {
  display: flex;
}

#noCommentMessage {
  font-size: 1.2vw;
  padding: 10px;
  padding-top: 0;
  margin: 0;
  color: var(--light-gray);
  opacity: 0.8;
  cursor: default;
}

.commentPanel {
  position: sticky;
  width: 30%;
  height: 70vh;
  background-image: linear-gradient(
    45deg,
    var(--dark-gray) 3%,
    rgba(0, 0, 0, 0.5) 3%,
    rgba(0, 0, 0, 0.5) 5%,
    var(--dark-gray) 5%
  );
  margin-left: auto;
  margin-right: auto;
  top: 11.5vw;
  margin-top: 7.1vw;
  filter: drop-shadow(6px 6px 0px black);
  animation-name: commentPanelFadeIn;
  animation-timing-function: linear;
  animation-duration: 1.25s;
}

.commentPanel > button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--light-gray);
  font-size: 1em;
}
.commentPanel > button:hover {
  cursor: pointer;
  text-shadow: 2px 2px 0px black;
}
.commentPanel > div {
  overflow-y: scroll;
  height: 70%;
  margin-top: 5px;
  width: 99%;
}

.comments {
  animation-name: commentsFadeIn;
  animation-timing-function: linear;
  animation-duration: 1.875s;
}

.commentPanel > div::-webkit-scrollbar {
  background: var(--light-gray);
  outline: 4px solid var(--dark-gray);
}
.commentPanel > div::-webkit-scrollbar-track {
  background: var(--light-gray);
}
.commentPanel > div::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border: 2px solid var(--light-gray);
}

#loadingArticle {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
#loadingArticle > h3 {
  color: var(--dark-gray);
  text-shadow: 2px 2px 0px black;
}
#loadingArticle > img {
  width: 50%;
  filter: drop-shadow(8px 8px 0px black);
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}
.mobile {
  display: none;
  margin-top: 50px;
}

#mobileCommentButton {
  display: none;
}

#adAurisIframe {
  margin: auto;
}

@keyframes loading {
  0% {
    width: 40%;
    margin: 0%;
  }
  50% {
    width: 50%;
    margin: -2.8%;
  }
  100% {
    width: 40%;
    margin: 0%;
  }
}

@media only screen and (max-width: 425px) {
  #mobileCommentButton {
    display: initial;
    position: fixed;
    background-color: var(--dark-gray);
    margin-left: 330px;
    margin-top: 6vw;
    animation-name: commentButtonFadeIn;
    animation-timing-function: linear;
    animation-duration: 2.6s;
  }

  #mobileCover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(3px);
  }
  #reviewPage > div > .articleContainer {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    overflow-x: hidden;
    filter: drop-shadow(2px 2px 0px black);
  }
  #loadingArticle > h3 {
    font-size: 0.5em;
    text-align: center;
  }
  #loadingArticle > img {
    filter: drop-shadow(8px 8px 0px black);
  }
  .commentPanel {
    display: initial;
    position: fixed;
    width: 80%;
    height: 80vh;
    margin-top: 27vw;
    left: 0;
    top: 0;
    z-index: 101;
    filter: drop-shadow(3px 3px 0px black);
    transition: margin-left 0.5s;
  }
  .commentPanel > textarea {
    width: 90%;
    height: 15%;
    font-size: 0.5em;
  }
  .commentPanel > button {
    margin-left: auto;
  }
  #adAurisIframe {
    width: 100vw !important;
    transform: scale(0.7);
    margin-left: -7.5vw;
  }

  .commentPanel > div::-webkit-scrollbar {
    outline: 1px solid var(--dark-gray);
    width: 8px;
  }
  .commentPanel > div::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
    border: 1px solid var(--light-gray);
  }

  #noCommentMessage {
    font-size: 3vw;
  }

  @keyframes loading {
    0% {
      width: 80%;
      margin: 0%;
    }
    50% {
      width: 90%;
      margin: -2.8%;
    }
    100% {
      width: 80%;
      margin: 0%;
    }
  }
}

@keyframes commentPanelFadeIn {
  0% {
    height: 0vh;
  }
  66% {
    height: 0vh;
  }
  100% {
    height: 70vh;
  }
}

@keyframes commentsFadeIn {
  0% {
    height: 0%;
  }
  66% {
    height: 0%;
  }
  100% {
    height: 70%;
  }
}

@keyframes commentButtonFadeIn {
  0% {
    margin-left: 0px;
  }
  66% {
    margin-left: 0px;
  }
  100% {
    margin-left: 330px;
  }
}
