@use "/styles/_mixins" as mixins;

#reviewPage {
  font-size: 1.6vw;
  perspective: 10cm;

  .mainContent {
    backdrop-filter: blur(1vw);
    padding-top: 20vh;
    margin-bottom: 15vh;
    margin-top: -50vh;
    filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.5));
    mask: linear-gradient(180deg, transparent 0%, black 11vh);

    .containerBlend,
    .containerBlend2 {
      height: 11vh;
      width: calc(65%);
      margin-top: -8.5vh;
      position: absolute;

      .background {
        width: calc(100%);
        height: 100%;
        background-color: var(--dark-gray);
        mask: linear-gradient(177deg, transparent 10vh, black 10vh);
        margin-top: -2.4vh;
        border-right: 0.1em solid var(--light-gray);

        // &::before {
        //   @include mixins.articlePageGradientShadow;
        //   position: absolute;
        //   width: 100%;
        //   height: 100%;
        //   z-index: -2;
        //   mask: linear-gradient(
        //     90deg,
        //     black calc(0% + 0.2vw),
        //     transparent calc(0% + 0.2vw),
        //     transparent calc(100% - 0.2vw),
        //     black calc(100% - 0.2vw)
        //   );
        //   content: "";
        //   filter: drop-shadow(0 0.65vw 0.3vw black);
        // }

        .sketchBackground {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-image: url("/sketch.webp");
          background-size: 13%;
          background-position: bottom left;
          mix-blend-mode: darken;
          opacity: 0.3;
          filter: invert(1);
          mask: linear-gradient(
            90deg,
            transparent calc(0% + 0.2vw),
            black calc(0% + 0.2vw),
            transparent 10%,
            transparent 90%,
            black calc(100% - 0.2vw),
            transparent calc(100% - 0.2vw)
          );
        }
      }
    }
  }
}

#reviewPage > .mainContent > .articleContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  width: 65%;
  // margin-left: 1vw;
  overflow-x: hidden;
  // filter: drop-shadow(0 0.65vw 0.3vw black);
  border-right: 0.1em solid var(--light-gray);
  margin-top: 0vh;
  z-index: -1;

  .sketchBackground {
    position: absolute;
    width: 65%;
    height: 100%;
    z-index: -1;
    background-image: url("/sketch.webp");
    background-size: 13%;
    background-position: top left;
    mix-blend-mode: darken;
    opacity: 0.3;
    filter: invert(1);
    mask: linear-gradient(
      90deg,
      black 0%,
      transparent 10%,
      transparent 90%,
      black 100%
    );
  }

  @media print {
    width: 100%;
    border: none;
    background-color: var(--dark-gray);
  }

  // &::before {
  //   @include mixins.articlePageGradientShadow;
  //   position: absolute;
  //   width: calc(65% + 0.4vw);
  //   height: 100%;
  //   margin-left: -0.2vw;
  //   z-index: -2;
  //   mask: linear-gradient(
  //     90deg,
  //     black calc(0% + 0.2vw),
  //     transparent calc(0% + 0.2vw),
  //     transparent calc(100% - 0.2vw),
  //     black calc(100% - 0.2vw)
  //   );
  //   content: "";
  //   filter: drop-shadow(0 0.65vw 0.3vw black);
  // }
}

.articleContainer > ul {
  width: 100%;
}

#reviewPage > div {
  display: flex;
}

#adAurisIframe {
  margin: auto;
}

#footnotesHeader {
  color: var(--dark-gray);
  width: calc(100% - 4vw);
  font-family: "Russo One";
  font-weight: 100;
  margin: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  background-image: linear-gradient(
    -45deg,
    transparent 20%,
    transparent 22%,
    var(--light-gray) 22%,
    var(--light-gray) 24%,
    transparent 24%,
    transparent 26%,
    var(--light-gray) 26%
  );
}

#footnotes {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  margin: auto;
  font-size: 0.8em;

  li {
    margin: 0.5vw;
    color: var(--primary-text);

    a {
      color: var(--primary-text);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
